<div class="contact-info-short-form-wrap">
    <div class="contact-info-short-form-container">
        <div class="contact-left">
            <div class="contact-info">
                <div class="title-contact-conatiner">
                    <h4 class="title-contact">Our Location</h4>
                </div>
                <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                    <div class="office office-1 office-odd office-first office-last office-griffin">
                        <p>
<!--                            <strong class="office-title">James R. Dutton, Attorney at Law</strong>-->
                            <br>
                            <h6>Criminal Defense Office</h6>
                            <span class="office-address">
								<span class="office-street-address"> 113 E. Solomon St. <br></span>
								<span class="office-locality">Griffin</span>,
								<span class="office-region">GA</span>
								<span class="office-postal-code">30223</span>
							</span>
                            <br>
                            <span class="office-phone office-phone-local office-phone-tracking">
								<span class="office-phone-label">Phone</span>:
								<span class="office-phone-number" data-raw-number="7702295959">770-229-5959</span>
                            </span>
                            <br>
                            <span class="office-phone office-phone-local">
								<span class="office-phone-label">Fax</span>:
								<span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
								<br>
                            </span>
                            <br>
                            <h6>Debt Relief & Civil Law Office </h6>
                            <span class="office-address">
								<span class="office-street-address"> 409 Airport Rd suite 102
									<br>
									</span>
								<span class="office-locality">Griffin</span>,
								<span class="office-region">GA</span>
								<span class="office-postal-code">30224</span>
							</span>
                            <br>
                            <span class="office-phone office-phone-local office-phone-tracking">
								<span class="office-phone-label">Phone</span>:
								<span class="office-phone-number" data-raw-number="770-229-9593">770-229-9593</span>
								<br>
                            </span>
                            <span class="office-phone office-phone-local">
								<span class="office-phone-label">Fax</span>:
								<span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
								<br>
								</span>
                            <a class="office-map-link"
                               href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                               target="_blank">Map &amp; Directions</a>
                            <br>
                            </br></br></br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="short-form-right">
            <div class="short-form">
                <h4 class="title-short-form">For Effective Legal Representation in Central Georgia
                </h4>
                <div id="containerIntakeFormShortAutofill">
                    <p>
                        <strong>Bold</strong> labels are required.
                    </p>
                    <form action="/form-submission" class="formAutoFill" id="intakeFormShortAutofill" method="post"
                          name="intakeFormShortAutofill">
                        <fieldset>
                            <legend>
                                <span>Contact Information</span>
                            </legend>
                            <label for="intakeFormShortName"><b>Name</b></label>
                            {{!-- <div class="formHighlight"> --}}
                            <input id="intakeFormShortName" name="name" title="Name" placeholder="Name" type="text"/>
                            {{!-- </div> --}}
                            <label for="intakeFormShortEmail">
                                <strong>Email Address</strong>
                            </label>
                            <p class="formHide" data-for="intakeFormShortEmail" role="alert">
                                <strong>Please enter a valid email address.</strong>
                            </p>
                            <div class="formHighlight">
                                <input class="validate email" id="intakeFormShortEmail" name="email"
                                       title="Email Address" placeholder="Email Address" type="text"/>

                            </div>
                            <label for="intakeFormShortPhone">Phone</label>
                            <p class="formHide" data-for="intakeFormShortPhone" role="alert">
                                <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                    + characters.</strong>
                            </p>
                            <div class="formHighlight">
                                <input class="dataCheck number" id="intakeFormShortPhone" name="Phone" title="Phone"
                                       type="text" placeholder="Phone"/>
                            </div>
                            <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                            <div class="formHighlight">
								<textarea cols="15" id="intakeFormShortMessage" name="description" rows="4"
                                          title="Brief description of your legal issue"></textarea>
                            </div>
                            <div class="formCheck">
                                <p class="" data-for="intakeFormShortAutofillDisclaimerCheck" role="alert">
                                    <strong>Please verify that you have read the disclaimer.</strong>
                                </p>
                                <label for="intakeFormShortAutofillDisclaimerCheck">
                                    <input class="validate checkbox" id="intakeFormShortAutofillDisclaimerCheck"
                                           name="disclaimerRead" type="checkbox" value="yes"/>
                                    <strong>I have read the
                                        <span>disclaimer.</span>
                                    </strong>
                                </label>
                                <strong>
                                    <a class="intakeFormShortDisclaimerLink" href="/Disclaimer.html">disclaimer</a>.
                                </strong>
                            </div>
                            <input class="intakeFormHiddenInput" id="checkboxDisclaimerIntakeFormShort"
                                   name="verifyRead" type="hidden" value="yes"/>
                            <div id="intakeFormShortDisclaimer">
                                <div>
                                    <p>The use of the Internet or this form for communication with the firm or
                                        any individual member of the firm does not establish an attorney-client
                                        relationship. Confidential or time-sensitive information should not be
                                        sent through this form.</p>
                                    <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                </div>
                            </div>
                            <input type="text" class="hide" name="email2" style="display: none;">
                        </fieldset>
                        <p class="intakeFormShortPrivacy">
                            <a href="/Privacy-Policy.html">Privacy Policy</a>
                        </p>
                        <input alt="Submit" class="submit over" id="intakeFormShortAutofillSubmit" name="Submit"
                               src="/images/formSubmitShort.gif" type="image" value="Submit"/>
                        <input alt="Submit" class="submit over" id="submitbtn_intakeFormShortAutofillSubmit"
                               name="Submit" style="display:none;" type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>