<div class="header-page-wrap">
    <header class="header-page">
        <a class="brand" href="/">
            <img alt="Dutton & Dutton, Attorney at Law" class="brand-image" src="/images/dutton&duttonlogo_sm.jpg" />
        </a>
        <div class="cta">
            <a href="tel:7702295959">
                <div class="cta-text">Call Today!</div>
                <div class="cta-phone touchTel">770-229-9593</div>
            </a>
        </div>
    </header>
</div>