<div class="footer-page-wrap">
    <footer class="footer-page">
        <div class="grade-us-bb-logo-container">
            <ul>
                <li><a class="reviewmgr-button" data-content="Review Us" data-replace="false"
                       href="/" target="_blank">Review Us</a>
                </li>
                <li class="itemLast">
                    <a class="ruhzbus"
                       href="https://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                       id="bbblink"
                       style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;"
                       target="_blank" title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA">
                        <img alt="BBB accredited business | BBB rating A-" height="45" id="bbblinkimg"
                             src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                             style="padding: 0px; border: none;" width="200" />
                    </a>
                    <script
                            type="text/javascript">var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fjames-r-dutton-pc-27710635.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                </li>
            </ul>
        </div>
        <div class="container-social-cards-backtop">
            <div class="social">
                <a class="facebook" href="https://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
                   target="_blank">
                    <span> </span>
                </a>
                <a class="twitter" href="https://twitter.com/griffinattorney" target="_blank">
                    <span> </span>
                </a>
                <a class="linkedin" href="https://www.linkedin.com/company/27005689/" target="_blank">
                    <span> </span>
                </a>
            </div>
            <div class="payment-cards">
                <img alt="Payment Cards" src="/images/cards.jpg" />
            </div>
            <a class="back-to-top" href="#">Back To Top</a>
        </div>
        <section class="fine-print clearfix">
            <p class="copyright">Â©
                2020 by
                <a href="/" target="_blank">Dutton and
                    Dutton, Attorney at Law</a>. All rights reserved.
                <a href="/Disclaimer.html">Disclaimer</a> |
                <a href="/Site-Map.html">Site Map</a>
            </p>
            <p class="branding">
<!--                <a href="/Privacy-Policy.html" id="PrivacyPolicy">Privacy Policy</a> | <a-->
<!--                   href="https://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound"-->
<!--                   rel="nofollow" target="_blank">Business Development Solutions</a> by <a-->
<!--                   href="/" target="_BDS, part of Thomson Reuters.-->
            </p>
        </section>
    </footer>
</div>
