<div class="nav-main-wrap">
    <div class="nav-main-container">
        <a class="btn-nav-main btn-togglebox" data-target="nav-main" href="#"><span aria-hidden="true"
                                                                                    class="fa fa-bars"> </span>Menu</a>
        <a class="contact-btn" href="/Contact.html"><span aria-hidden="true" class="fa fa-map-marker">
			</span>Contact</a>
        <nav class="nav-main" data-bp="650" id="nav-main" role="navigation">
            <ul>
                <li class="item-first">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about_dutton_and_dutton.html">About Us</a>
                </li>
                <li class="contains-nested-nav">
                    <a href="/index#practice-areas">Criminal Law</a>
                    <ul class="nested-nav">
                        <li class="nested-nav-item"><a href="/DUI">DUI</a></li>
                        <li class="nested-nav-item"><a href="/Traffic-Offenses">Traffic Offenses</a></li>
                        <li class="nested-nav-item"><a href="/CDL-Defense">CDL Violations</a></li>
                        <li class="nested-nav-item"><a href="/identity-fraud">Fraud</a></li>
                        <li class="nested-nav-item"><a href="/Drug-Charges">Drug Charges</a></li>
                        <li class="nested-nav-item"><a href="/Serious-Felony-Crimes">Serious Felonies</a></li>
                        <li class="nested-nav-item"><a href="/Assault-And-Violent-Crimes">Domestic Violence</a></li>
                    </ul>
                </li>
                <li class="contains-nested-nav">
                    <a href="/index#practice-areas">Debt Relief</a>
                    <ul class="nested-nav">
                        <li class="nested-nav-item"><a href="/top-5-things-to-know">Top 5 Things To Know</a></li>
                        <li class="nested-nav-item"><a href="/Debt-Relief">Stop Foreclosure</a></li>
                        <li class="nested-nav-item"><a href="/Chapter-7-Bankruptcy">Chapter 7 Bankruptcy</a></li>
                        <li class="nested-nav-item"><a href="/Debt-Relief">Debt Consolidation</a></li>
                        <li class="nested-nav-item"><a href="/Chapter-13-Bankruptcy">Chapter 13 Bankruptcy</a></li>
                    </ul>
                </li>
                <li class="contains-nested-nav">
                    <a href="/index#practice-areas">Civil Law</a>
                    <ul class="nested-nav">
                        <li class="nested-nav-item"><a href="/Divorce">Uncontested Divorce</a></li>
                        <li class="nested-nav-item"><a href="/Wills">Wills</a></li>
                        <li class="nested-nav-item"><a class="transparent">transparent</a></li>
                        <li class="nested-nav-item"><a href="/Power-of-Attorney">Power of Attorney</a></li>
                        <li class="nested-nav-item"><a href="/Adoption">Adoptions</a></li>
                    </ul>
                </li>
                <li class="contains-nested-nav">
                    <a href="/index#practice-areas">Resources</a>
                    <ul class="nested-nav">
                        <li class="nested-nav-item"><a href="/Representative-Cases.html">Representative Cases</a></li>
                        <li class="nested-nav-item"><a href="/blog.html">Blog</a></li>
                    </ul>
                </li>
<!--                <li>-->
<!--                    <a href="/Testimonials.html">Testimonials</a>-->
<!--                </li>-->
                <!--                <li>-->
                <!--                    <a href="/Representative-Cases.html">Representative Cases</a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                    <a href="/blog.html">Blog</a>-->
                <!--                </li>-->
                <li class="item-last">
                    <a href="/Contact.html">Contact Us</a>
                </li>
                <li class="togglebox-close">
                    <a class="close" data-target="nav-main" href="#">X Close</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
