<head>
    <title>About Us | Dutton & Dutton, Attorneys at Law | Griffin, GA</title>
    <meta charset="utf-8"/>
    <meta content="Other"
          name="FSContentType"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDatePublish"/>
    <meta content="yes"
          name="FSFLContent"/>
    <meta content="en-US"
          name="FSLanguage"/>
    <meta content="yes"
          name="FSOnSection"/>
    <meta content="yes"
          name="FSOnSitemap"/>
    <meta content="Not Applicable"
          name="FSPagePracticeArea"/>
    <meta content="yes"
          name="FSSearchable"/>
    <meta content="Not Applicable"
          name="FSTemplateName"/>
    <meta content="CustomPage"
          name="FSWritertoolPageType"/>
    <meta content="Root"
          name="FSSection"/>
    <meta content="About Us"
          name="FSPageName"/>
    <meta content="IE=edge,chrome=1"
          http-equiv="X-UA-Compatible"/>
    <meta content="en-US"
          http-equiv="content-language"/>
    <link href="//ajax.googleapis.com"
          rel="dns-prefetch"/>
    <meta content="Learn more about the staff at Dutton & Dutton, Attorneys at Law, by calling 770-229-5959 to reach our Griffin office."
          name="description"/>
    <meta content="telephone=no"
          name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport"/>
    <meta content="https://www.duttonlawga.com/about_dutton_and_dutton.html"
          property="og:url"/>
    <meta content="website"
          property="og:type"/>
    <meta content="About Us | Dutton & Dutton, Attorneys at Law | Griffin, GA"
          property="og:title"/>
    <meta content="Learn more about the staff at Dutton & Dutton, Attorneys at Law, by calling 770-229-5959 to reach our Griffin office."
          property="og:description"/>
    <meta content="en_US"
          property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law"
          property="og:site_name"/>


    <link href="/styles/site.css"
          rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>

    <link href="https://www.duttonlawga.com/about_dutton_and_dutton.html"
          rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style=""
      class="design Our-Staff">
{{> main-header}}
<div class="container-page2">
    <div class="container-columns">
        <a class="btn-nav-silo btn-togglebox"
           href="#"><span aria-hidden="true"
                          class="fa fa-bars"> </span>View
            Related Topics</a>
        <div class="container-column-main">
            <h1 class="page-title">About us</h1>
            <h2>Dutton and Dutton is the leading legal firm in Central, Georgia!</h2>
            <p>
                Dutton and Dutton, Attorneys at Law, began as two separate firms. After graduating from Georgia law
                schools, both Robert and Debra Dutton
                opened their own private practices. Robert initially worked several years as a public defender and
                gained important experience and insight to how
                the criminal justice system works. Debra worked hand in hand with some of the most experienced and
                leading Bankruptcy and civil lawyers in Georgia.
                <br>
                <br>
                After opening their own practices, Robert and Debra developed their firms into prospering success by
                honestly serving the community around them. Robert and Debra are
                natives to Spalding county, and genuinely care about developing and improving their community. By
                serving others as they would want to be treated, they gained the
                trust of those in need of their services.
                <br>
                <br>
                Dutton and Dutton, Attorneys at law was created when Robert and Debra merged their practices in
                order to combine
                the best parts of their experience and organizations. Dutton and Dutton is committed to serving
                central Georgia and providing
                the absolute best service.
            </p>

        </div>
        <div class="spacer"></div>
        <div class="container-column-main">
            <div class="column-main"
                 role="main">
                <h1 class="page-title">
                    Meet The Office Staff
                </h1>
                <article class="content"
                         id="content">
                    <p>You'll interact with them more and they'll take good care of you.</p>
                    <h2><a href="/James-R-Dutton.html">James R. Dutton</a></h2>
                    <p><a href="/James-R-Dutton.html"> </a> <img
                            alt="griffin-lawyer-james-r-dutton-criminal-defense-attorney-2016-Headshot-620-x-660-for-web-300x300"
                            src="/images/griffin-lawyer-james-r-dutton-criminal-defense-attorney-2016-Headshot-620-x-660-for-web-300x300.jpg"/>
                    </p>
                    <p><strong>Position:</strong> Attorney</p>
                    {{!-- <p><strong>Years of experience:</strong> Three years</p> --}}
                    <p><strong>Brief bio:</strong></p>
                    <p>James R. Dutton previous to owning and operating his private practice worked for the
                        public defenders for two years doing public defense. James R. Dutton has traveled all
                        over the state doing criminal defense work from Columbus, north to Atlanta and
                        everywhere in between. James has defended clients in front of 50 judges now and is ready
                        to defend your case too.</p>
                    <h2><a href="/Debra-B-Dutton.html">Debra B. Dutton</a></h2>
                    <p><a href="/Debra-B-Dutton.html"> </a> <img width="300"
                                                                 height="300"
                                                                 alt="griffin-lawyer-james-r-dutton-criminal-defense-attorney-2016-Headshot-620-x-660-for-web-300x300"
                                                                 src="/images/dutton_debbie.jpg"/>
                    </p>
                    <p><strong>Position:</strong> Attorney</p>
                    {{!-- <p><strong>Years of experience:</strong> Three years</p> --}}
                    <p><strong>Brief bio:</strong></p>
                    <p>As a graduate from John Marshall Law School, after graduating from Georgia State University
                        Summa Cum Laude,
                        Debra B. Dutton is Griffin's leading Bankruptcy expert! Seeing every client find the path to
                        financial recovery
                        is the most important thing to her.</p>
                    <h2>Ashley Culberson</h2>
                    <p><img alt="Ashley Culberson"
                            src="/images/atto2.jpg"/></p>
                    <p><strong>Position:</strong> Administrative assistant</p>
                    <p><strong>Brief bio:</strong></p>
                    <p>For the past three years, Ashley Culberson has effectively represented the face of our
                        law office. Working in close coordination with the lawyer and paralegal, Ashley has
                        proven to be efficient in managing our schedules. Her warm demeanor sets her apart as
                        many clients have informed us, and we trust that you will not only smile when you speak
                        with Ashley, but also know exactly what to expect from our firm.</p>
                    <h2>Bridget Plott</h2>
                    <p><img alt="Bridget Plott"
                            src="/images/atto3.jpg"/></p>
                    <p><strong>Position:</strong> Certified paralegal</p>
                    <p><strong>Brief bio:</strong></p>
                    <p>Bridget has a decade of experience in criminal law. In addition to supervising our
                        office, she sits in on many jury trials to assist in the organization and provide
                        emotional support to our clients. She is a mix of organized, professional and
                        personable. In addition to her top-notch people skills, Bridget is an excellent critical
                        thinker with an amazing memory of cases and clients.</p>
                    <h2>Law Firm Attentive To Your Needs</h2>
                    <p>To learn more about us Us and our qualifications, <a href="/Contact.html">please
                        contact</a> Dutton & Dutton, Attorneys at Law, in Griffin, Georgia, by calling
                        770-229-5959.</p>
                </article>
            </div>
        </div>
        {{> learn-more-side-column}}
    </div>
</div>
<a class="btn-short-form"
   href="/Contact.html"><span aria-hidden="true"
                              class="fa fa-envelope"> </span>Email Us
    For A Response</a>
{{> main-footer}}
</div>
<link as="style"
      href="https://www.duttonlawga.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'"
      rel="preload"/>
{{> scripts}}
</body>
