<head>
	<title>Assault And Violent Crimes | Griffin Criminal Lawyer</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Criminal-Defense" name="FSSection" />
	<meta content="Assault And Violent Crimes" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Charged with a violent crime or an assault? Dutton & Dutton, Attorney at Law, can help. Call our Griffin office at 770-229-5959 or go online."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Criminal-Defense/Assault-And-Violent-Crimes.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Assault And Violent Crimes | Griffin Criminal Lawyer" property="og:title" />
	<meta content="Charged with a violent crime or an assault? Dutton & Dutton, Attorney at Law, can help. Call our Griffin office at 770-229-5959 or go online."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />


	<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />


	<link href="https://www.jamesrdutton.com/Criminal-Defense/Assault-And-Violent-Crimes.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Assault-And-Violent-Crimes Criminal-Defense Criminal-Defense">
	<div class="container-page">
		<div class="header-page-wrap">
			<header class="header-page">
				<a class="brand" href="/">
					<img alt="James R. Dutton, Attorney at Law" class="brand-image" src="/images/brand.png" />
				</a>
				<div class="cta">
					<div class="cta-text">Call Today!</div>
					<div class="cta-phone touchTel">770-229-5959</div>
				</div>
			</header>
		</div>
		<div class="nav-main-wrap">
			<div class="nav-main-container">
				<a class="btn-nav-main btn-togglebox" data-target="nav-main" href="#"><span aria-hidden="true"
						  class="fa fa-bars"> </span>Menu</a>
				<a class="contact-btn" href="/Contact.html"><span aria-hidden="true" class="fa fa-map-marker">
					</span>Contact</a>
				<nav class="nav-main" data-bp="650" id="nav-main" role="navigation">
					<ul>
						<li class="item-first">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about_dutton_and_dutton.html">About Us</a>
						</li>
						<li>
							<a href="/Testimonials.html">Testimonials</a>
						</li>
						<li>
							<a href="/Representative-Cases.html">Representative Cases</a>
						</li>
						<li>
							<a href="/blog.html">Blog</a>
						</li>
						<li class="item-last">
							<a href="/Contact.html">Contact</a>
						</li>
						<li class="togglebox-close">
							<a class="close" data-target="nav-main" href="#">X Close</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="banner-wrap"> </div>
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Taking Immediate Action When Facing Assault Charges
						</h1>
						<article class="content" id="content">
							<p>Sometimes, it just happens. You were at a bar or some event. Words are exchanged.
								Suddenly, a punch is thrown, and you may not even remember why or by whom. But then the
								police arrive and you are under arrest in the back of a police car, in cuffs. What are
								you going to do?</p>
							<h2>Why You Need An Experienced Criminal Defense Attorney</h2>
							<p>You may not know how you wound up charged with an assault or other violent crime. Maybe
								it was the first time, or you were just with the wrong crowd. Maybe it isn't the first
								time the Griffin Police Department or the Spalding County Sheriff's Office has taken you
								into custody.</p>
							<p>No matter the reason, you need an effective criminal defense lawyer by your side to
								explain your charges and help you avoid serious jail time or a replay later of the
								events that landed you in custody. Do you have a viable defense such as self-defense? If
								the other participants were seriously injured in the assault, you could be facing felony
								time in prison. No matter the charge, you need to take them seriously, and speak with an
								attorney.</p>
							<p>You want an aggressive attorney who can help you understand your situation and how to
								create the best defense to resolve your charges. When you are facing a charge for a
								violent crime, it is essential that you have an attorney who can analyze your case and
								work with you to develop the aggressive defense you want.</p>
							<h2>The Representation We Provide</h2>
							<p>We defend clients facing a variety of violent criminal charges, including:</p>
							<ul>
								<li>Assault and battery</li>
								<li>Robbery</li>
								<li>Domestic violence</li>
								<li>Sexual assault</li>
								<li>Homicide, including involuntary manslaughter up to first-degree murder</li>
							</ul>
							<h2>Call Dutton & Dutton, Attorney At Law. Immediately.</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, Georgia, we know how damaging criminal
								charges can be. Contact our firm today at 770-229-5959, or <a href="/Contact.html">send
									us an email</a> and allow us to start building an aggressive defense for your
								assault charges.</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-criminaldefense.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">Criminal Defense</h4>
						<ul class="fl-list list-level-1">
							<li class="fl-list-item list-item-level-1 itemFirst first-child">
								<a class="fl-list-link list-link-level-1"
								   href="/Assault-And-Violent-Crimes.html">Assault And Violent
									Crimes</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1" href="/Theft-Or-Burglary.html">Theft Or
									Burglary</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1" href="/Identity-Fraud.html">Fraud And
									Forgery</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1" href="/Drug-Charges.html">Drug Charges</a>
							</li>
							<li class="fl-list-item list-item-level-1 itemLast last-child">
								<a class="fl-list-link list-link-level-1" href="/Juvenile-Crimes.html">Juvenile
									Crimes</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		<div class="contact-info-short-form-wrap">
			<div class="contact-info-short-form-container">
				<div class="contact-left">
					<div class="contact-info">
						<div class="title-contact-conatiner">
							<h4 class="title-contact">Our Location</h4>
						</div>
						<div class="offices" id="offices" itemref="attorneyProfile attorney-list">
							<div class="office office-1 office-odd office-first office-last office-griffin">
								<p>
									<strong class="office-title">James R. Dutton, Attorney at Law</strong>
									<br />
									<span class="office-address">
										<span class="office-street-address"> 113 E. Solomon St.
											<br />
										</span>
										<span class="office-locality">Griffin</span>,
										<span class="office-region">GA</span>
										<span class="office-postal-code">30223</span>
									</span>
									<br />
									<span class="office-phone office-phone-local office-phone-tracking">
										<span class="office-phone-label">Phone</span>:
										<span class="office-phone-number"
											  data-raw-number="7702295959">770-229-5959</span>
										<br />
									</span>
									<span class="office-phone office-phone-local">
										<span class="office-phone-label">Fax</span>:
										<span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
										<br />
									</span>
									<a class="office-map-link"
									   href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
									   target="_blank">Map &amp; Directions</a>
									<br />
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="short-form-right">
					<div class="short-form">
						<h4 class="title-short-form">For Effective Criminal Defense Representation in Central Georgia
						</h4>
						<div id="containerIntakeFormShortAutofill">
							<p>
								<strong>Bold</strong> labels are required.
							</p>
							<form action="/form-submission" class="formAutoFill" id="intakeFormShortAutofill"
								  method="post" name="intakeFormShortAutofill">
								<fieldset>
									<legend>
										<span>Contact Information</span>
									</legend>
									<label for="intakeFormShortName">Name</label>
									<div class="formHighlight">
										<input id="intakeFormIName" name="Name" placeholder="Please enter your name."
											   type="text" />
									</div>
									<label for="intakeFormShortEmail">
										<strong>Email Address</strong>
									</label>
									<p class="" data-for="intakeFormShortEmail" role="alert">
										<strong>Please enter a valid email address.</strong>
									</p>
									<div class="formHighlight">
										<input class="validate email" id="intakeFormShortEmail" name="Email"
											   placeholder="Please enter a valid email address." title="Email Address"
											   type="text" />
										<input type="text" class="hide" name="email2" style="display: none;">

									</div>
									<label for="intakeFormShortPhone">Phone</label>
									<p class="" data-for="intakeFormShortPhone" role="alert">
										<strong>Please enter a valid phone number.</strong>
									</p>
									<div class="formHighlight">
										<input class="dataCheck number" id="intakeFormShortPhone" name="Phone"
											   placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
											   title="Phone" type="text" />
									</div>
									<label for="intakeFormShortMessage">Brief description of your legal issue</label>
									<div class="formHighlight">
										<textarea cols="15" id="intakeFormShortMessage"
												  name="Brief description of your legal issue|at:message||Please describe your legal issue."
												  rows="4" title="Brief description of your legal issue"></textarea>
									</div>
									<div class="formCheck">
										<p class="" data-for="intakeFormShortAutofillDisclaimerCheck" role="alert">
											<strong>Please verify that you have read the disclaimer.</strong>
										</p>
										<label for="intakeFormShortAutofillDisclaimerCheck">
											<input class="validate checkbox" id="intakeFormShortAutofillDisclaimerCheck"
												   name="Read disclaimer:||r|Please verify that you have read the disclaimer."
												   type="checkbox" value="yes" />
											<strong>I have read the
												<span>disclaimer.</span>
											</strong>
										</label>
										<strong>
											<a class="intakeFormShortDisclaimerLink"
											   href="/Disclaimer.html">disclaimer</a>.
										</strong>
									</div>
									<input class="intakeFormHiddenInput" id="checkboxDisclaimerIntakeFormShort"
										   name="cgi|checkboxDisclaimerIntakeFormShort" type="hidden"
										   value="Read disclaimer:||r|Please verify that you have read the disclaimer." />
									<div id="intakeFormShortDisclaimer">
										<div>
											<p>The use of the Internet or this form for communication with the firm or
												any individual member of the firm does not establish an attorney-client
												relationship. Confidential or time-sensitive information should not be
												sent through this form.</p>
											<a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
										</div>
									</div>
								</fieldset>
								<p class="intakeFormShortPrivacy">
									<a href="/Privacy-Policy.html">Privacy Policy</a>
								</p>
								<input alt="Submit" class="submit over" id="intakeFormShortAutofillSubmit" name="Submit"
									   src="/images/formSubmitShort.gif" type="image" value="Submit" />
								<input alt="Submit" class="submit over" id="submitbtn_intakeFormShortAutofillSubmit"
									   name="Submit" style="display:none;" type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-page-wrap">
			<footer class="footer-page">
				<div class="grade-us-bb-logo-container">
					<ul>
						{{!-- <li><a class="reviewmgr-button" data-content="Review Us" data-replace="false"
							   href="https://reviewplatform..com/jamesrdutton/" target="_blank">Review Us</a>
						</li> --}}
						<li class="itemLast">
							<a class="ruhzbus"
							   href="https://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
							   id="bbblink"
							   style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;"
							   target="_blank" title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA">
								<img alt="BBB accredited business | BBB rating A-" height="45" id="bbblinkimg"
									 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
									 style="padding: 0px; border: none;" width="200" />
							</a>
							<script
									type="text/javascript">var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fjames-r-dutton-pc-27710635.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
						</li>
					</ul>
				</div>
				<div class="container-social-cards-backtop">
					<div class="social">
						<a class="facebook"
						   href="https://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
						   target="_blank">
							<span> </span>
						</a>
						<a class="twitter" href="https://twitter.com/griffinattorney" target="_blank">
							<span> </span>
						</a>
						<a class="linkedin" href="https://www.linkedin.com/company/27005689/" target="_blank">
							<span> </span>
						</a>
					</div>
					<div class="payment-cards">
						<img alt="Payment Cards" src="/images/cards.jpg" />
					</div>
					<a class="back-to-top" href="#">Back To Top</a>
				</div>
				<section class="fine-print clearfix">
					<p class="copyright">Â©
						2020 by
						<a href="/" target="_blank">Dutton and
							Dutton, Attorney at Law</a>. All rights reserved.
						<a href="/Disclaimer.html">Disclaimer</a> |
						<a href="/Site-Map.html">Site Map</a>
					</p>
					<p class="branding">
<!--						<a href="/Privacy-Policy.html" id="PrivacyPolicy">Privacy Policy</a> -->
					</p>
				</section>
			</footer>
		</div>
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
	<noscript>
		<link href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
			  rel="stylesheet" /></noscript>

	{{> scripts}}
</body>