<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
<!--<![endif]-->

<head>
    <title>Barnesville Criminal Defense Attorney | James R. Dutton, Attorney at Law | Griffin, GA</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/05/17 07:12 AM" name="FSDateCreation"/>
    <meta content="05/05/17 07:12 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Testimonials" name="FSSection"/>
    <meta content="Barnesville Criminal Defense Attorney" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="For Barnesville criminal defense representation, contact James R. Dutton, Attorney at Law, by calling 770-229-5959 to schedule an appointment."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Testimonials/Barnesville-Criminal-Defense-Attorney.html"
          property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Barnesville Criminal Defense Attorney | James R. Dutton, Attorney at Law | Griffin, GA"
          property="og:title"/>
    <meta content="For Barnesville criminal defense representation, contact James R. Dutton, Attorney at Law, by calling 770-229-5959 to schedule an appointment."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.jamesrdutton.com/Testimonials/Barnesville-Criminal-Defense-Attorney.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Barnesville-Criminal-Defense-Attorney Testimonials Testimonials">
<div class="container-page">
    <div class="header-page-wrap">
        <header class="header-page">
            <a class="brand" href="/">
                <img alt="James R. Dutton, Attorney at Law" class="brand-image" src="/images/brand.png"/>
            </a>
            <div class="cta">
                <div class="cta-text">Call Today!</div>
                <div class="cta-phone touchTel">770-229-5959</div>
            </div>
        </header>
    </div>
    <div class="nav-main-wrap">
        <div class="nav-main-container">
            <a class="btn-nav-main btn-togglebox" data-target="nav-main" href="#"><span aria-hidden="true"
                                                                                        class="fa fa-bars"> </span>Menu</a>
            <a class="contact-btn" href="/Contact.html"><span aria-hidden="true" class="fa fa-map-marker">
					</span>Contact</a>
            <nav class="nav-main" data-bp="650" id="nav-main" role="navigation">
                <ul>
                    <li class="item-first">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about_dutton_and_dutton.html">About Us</a>
                    </li>
                    <li>
                        <a href="/Testimonials.html">Testimonials</a>
                    </li>
                    <li>
                        <a href="/Representative-Cases.html">Representative Cases</a>
                    </li>
                    <li>
                        <a href="/blog.html">Blog</a>
                    </li>
                    <li class="item-last">
                        <a href="/Contact.html">Contact</a>
                    </li>
                    <li class="togglebox-close">
                        <a class="close" data-target="nav-main" href="#">X Close</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="banner-wrap"></div>
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        Barnesville Criminal Defense Attorney
                    </h1>
                    <article class="content" id="content">
                        <h2>Stephen</h2>
                        <h3>Spalding County, Georgia</h3>
                        <p>
                            <br/> Date: July 26, 2016
                        </p>
                        <p>
                            <em>"I have worked with Bridget on several occasions while she was with another firm.
                                <br/>
                                <br/> I cannot imagine getting through difficult cases without her. Bridget is the
                                epitome of professionalism, always keeping me informed about my cases, ready with an
                                answer, and there to ensure that all that needed doing was done.
                                <br/>
                                <br/> More importantly, Bridget was always there with a kind word, a big smile,
                                reassuring me that all was well. Without Bridget, difficult times would have been
                                impossible. Thank you, Bridget!"
                                <br/>
                            </em>
                        </p>
                        <h4>
                            <em>"I Cannot Imagine Getting Through Difficult Cases Without Her"</em>
                        </h4>
                        <hr/>
                        <h2>
                            <em>Rodney C</em>
                        </h2>
                        <h3>
                            <em>Griffin, Georgia</em>
                        </h3>
                        <p>
                            <em>
                                <br/> Date: Aug. 4, 2016
                            </em>
                        </p>
                        <p>"This was my first experience with an attorney in regard to the judicial system and my
                            anxiety was quite high. Bridget and Ashley's professionalism put me at ease as I was
                            walked through in full detail each step I would encounter.
                            <br/>
                            <br/> Their sincerity was genuine and I was never left in the dark. Thanks to the hard
                            work of their firm what would have resulted in a criminal record was reduced to a minor
                            traffic violation.
                            <br/>
                            <br/>
                            <strong>I highly recommend this law firm!</strong>
                            <br/>
                        </p>
                        <h4>
                            <em>"Their Sincerity Was Genuine"</em>
                        </h4>
                        <hr/>
                        <h2>
                            <em>Rob Moore</em>
                        </h2>
                        <h3>
                            <em>Griffin, Georgia</em>
                        </h3>
                        <p>
                            <br/> Date: Aug. 8, 2016
                        </p>
                        <p>
                            <em>"Best law firm in the business in my opinion. Ashley is awesome at keeping in
                                contact! Bridget always makes you feel like you are the only client! I have dealt
                                with this office for over three years, and they get personal with the client.
                                <br/>
                                <br/> Ashley and Bridget always put my mind at ease and told me to just breathe, I
                                was in good hands. Lol. I was faced with what could have been a life-altering
                                situation, and those ladies always kept me grounded and reassured me. They made the
                                experience so much more bearable.
                                <br/>
                                <br/> I was a complete basket case, but, between Ashley, Bridget, and James (along
                                with Josh), I never had a doubt in my mind that I had hired the right attorney's
                                office. You don't feel as if you are just a case number. I was treated with the
                                utmost respect! And if I had any questions, no matter how dumb, they never made me
                                feel like I was overreacting and asking stupid questions.
                                <br/>
                                <br/> I know lawyers get busy and you can't always talk to them personally, but, I
                                could always call Ashley and her response would be, "I will find out and call you
                                right back". And she would normally either call me back within the hour, or, Bridget
                                would.
                                <br/>
                                <br/> Very responsive! I have never in my life been more impressed!"
                                <br/>
                            </em>
                        </p>
                        <h4>
                            <em>"Very Responsive! I Have Never In My Life Been More Impressed!"</em>
                        </h4>
                        <hr/>
                        <h2>
                            <em>Mark</em>
                        </h2>
                        <h3>
                            <em>Griffin, Georgia</em>
                        </h3>
                        <p>
                            <br/> Date: Aug. 9, 2016
                        </p>
                        <p>
                            <em>"I had a great experience with Mr. Dutton and his staff. Specifically Bridget and
                                Ashley, they were on top of my case. They were constantly emailing me updates. I
                                have dealt previously with several different attorneys that were disconnected and
                                hard to get in touch with. Also, I was very pleased with the resolution of my case.
                                I would recommend this firm as I have found them to be competent, reasonably priced
                                and I got great results."
                                <br/>
                            </em>
                        </p>
                        <h4>
                            <em>"Great Experience With Mr. Dutton And His Staff"</em>
                        </h4>
                        <p>
                            <em> </em>
                            <br/>
                        </p>
                        <p>To learn more about what our services provide, contact James R. Dutton, Attorney at Law,
                            by calling 770-229-5959 or
                            <a href="/Contact.html">sending us an email</a> to our Griffin, Georgia, office.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}

        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        <div class="contact-info-short-form-container">
            <div class="contact-left">
                <div class="contact-info">
                    <div class="title-contact-conatiner">
                        <h4 class="title-contact">Our Location</h4>
                    </div>
                    <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                        <div class="office office-1 office-odd office-first office-last office-griffin">
                            <p>
                                <strong class="office-title">James R. Dutton, Attorney at Law</strong>
                                <br>
                                <span class="office-address">
										<span class="office-street-address"> 113 E. Solomon St.
											<br>
											</br></span>
										<span class="office-locality">Griffin</span>,
										<span class="office-region">GA</span>
										<span class="office-postal-code">30223</span>
									</span>
                                <br>
                                <span class="office-phone office-phone-local office-phone-tracking">
										<span class="office-phone-label">Phone</span>:
										<span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
										<br>
										</br></span>
                                <span class="office-phone office-phone-local">
										<span class="office-phone-label">Fax</span>:
										<span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
										<br>
										</br></span>
                                <a class="office-map-link"
                                   href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                   target="_blank">Map &amp; Directions</a>
                                <br>
                                </br></br></br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="short-form-right">
                <div class="short-form">
                    <h4 class="title-short-form">For Effective Criminal Defense Representation in Central Georgia
                    </h4>
                    <div id="containerIntakeFormShortAutofill">
                        <p>
                            <strong>Bold</strong> labels are required.
                        </p>
                        <form action="/form-submission" class="formAutoFill" id="intakeFormShortAutofill"
                              method="post" name="intakeFormShortAutofill">
                            <fieldset>
                                <legend>
                                    <span>Contact Information</span>
                                </legend>
                                <label for="intakeFormShortName">Name</label>
                                <div class="formHighlight">
                                    <input id="intakeFormIName" name="Name" placeholder="Please enter your name."
                                           type="text"/>
                                </div>
                                <label for="intakeFormShortEmail">
                                    <strong>Email Address</strong>
                                </label>
                                <p class="formHide" data-for="intakeFormShortEmail" role="alert">
                                    <strong>Please enter a valid email address.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input class="validate email" id="intakeFormShortEmail" name="Email"
                                           placeholder="Please enter a valid email address." title="Email Address"
                                           type="text"/>
                                    <input type="text" class="hide" name="email2" style="display: none;">

                                </div>
                                <label for="intakeFormShortPhone">Phone</label>
                                <p class="formHide" data-for="intakeFormShortPhone" role="alert">
                                    <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                        + characters.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input class="dataCheck number" id="intakeFormShortPhone" name="Phone"
                                           placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                           title="Phone" type="text"/>
                                </div>
                                <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                                <div class="formHighlight">
										<textarea cols="15" id="intakeFormShortMessage"
                                                  name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                  rows="4" title="Brief description of your legal issue"></textarea>
                                </div>
                                <div class="formCheck">
                                    <p class="formHide" data-for="intakeFormShortAutofillDisclaimerCheck"
                                       role="alert">
                                        <strong>Please verify that you have read the disclaimer.</strong>
                                    </p>
                                    <label for="intakeFormShortAutofillDisclaimerCheck">
                                        <input class="validate checkbox" id="intakeFormShortAutofillDisclaimerCheck"
                                               name="Read disclaimer:||r|Please verify that you have read the disclaimer."
                                               type="checkbox" value="yes"/>
                                        <strong>I have read the
                                            <span>disclaimer.</span>
                                        </strong>
                                    </label>
                                    <strong>
                                        <a class="intakeFormShortDisclaimerLink"
                                           href="/Disclaimer.html">disclaimer</a>.
                                    </strong>
                                </div>
                                <input class="intakeFormHiddenInput" id="checkboxDisclaimerIntakeFormShort"
                                       name="cgi|checkboxDisclaimerIntakeFormShort" type="hidden"
                                       value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
                                <div id="intakeFormShortDisclaimer">
                                    <div>
                                        <p>The use of the Internet or this form for communication with the firm or
                                            any individual member of the firm does not establish an attorney-client
                                            relationship. Confidential or time-sensitive information should not be
                                            sent through this form.</p>
                                        <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                    </div>
                                </div>
                            </fieldset>
                            <p class="intakeFormShortPrivacy">
                                <a href="/Privacy-Policy.html">Privacy Policy</a>
                            </p>
                            <input alt="Submit" class="submit over" id="intakeFormShortAutofillSubmit" name="Submit"
                                   src="/images/formSubmitShort.gif" type="image" value="Submit"/>
                            <input alt="Submit" class="submit over" id="submitbtn_intakeFormShortAutofillSubmit"
                                   name="Submit" style="display:none;" type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-page-wrap">
        <footer class="footer-page">
            <div class="grade-us-bb-logo-container">
                <ul>
                    <li><a class="reviewmgr-button" data-content="Review Us" data-replace="false" href="/"
                           target="_blank">Review Us</a>
                    </li>
                    <li class="itemLast">
                        <a class="ruhzbus"
                           href="https://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                           id="bbblink"
                           style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;"
                           target="_blank" title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA">
                            <img alt="BBB accredited business | BBB rating A-" height="45" id="bbblinkimg"
                                 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                                 style="padding: 0px; border: none;" width="200"/>
                        </a>
                        <script
                                type="text/javascript">var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                        document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fjames-r-dutton-pc-27710635.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                    </li>
                </ul>
            </div>
            <div class="container-social-cards-backtop">
                <div class="social">
                    <a class="facebook"
                       href="https://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
                       target="_blank">
                        <span> </span>
                    </a>
                    <a class="twitter" href="https://twitter.com/griffinattorney" target="_blank">
                        <span> </span>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/company/27005689/" target="_blank">
                        <span> </span>
                    </a>
                </div>
                <div class="payment-cards">
                    <img alt="Payment Cards" src="/images/cards.jpg"/>
                </div>
                <a class="back-to-top" href="#">Back To Top</a>
            </div>
            <section class="fine-print clearfix">
                <p class="copyright">Â©
                    2020 by
                    <a href="/" target="_blank">Dutton and
                        Dutton, Attorney at Law</a>. All rights reserved.
                    <a href="/Disclaimer.html">Disclaimer</a> |
                    <a href="/Site-Map.html">Site Map</a>
                </p>
                <p class="branding">
<!--                    <a href="/Privacy-Policy.html" id="PrivacyPolicy">Privacy Policy</a> | <a-->
<!--                        href="https://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound"-->
<!--                        rel="nofollow" target="_blank">Business Development Solutions</a> by <a href="/"-->
<!--                                                                                                target="_BDS, part of Thomson Reuters.">_BDS,-->
<!--                    part of Thomson Reuters.</a>-->
                </p>
            </section>
        </footer>
    </div>
</div>
<link as=" style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
Dutton & Dutton, Attorneys at Law
{{> scripts}}
</body>