<!DOCTYPE html>


<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <link href="//ajax.googleapis.com" rel="dns-prefetch" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="/styles/site.css" rel="stylesheet" />
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
        rel="icon" />
  <title>Griffin Georgia Criminal Defense Law Blog | Dutton & Dutton, Attorney at Law</title>
  <meta content="" name="keywords" />
  <meta content="Our Griffin, Georgia blog deals with Criminal Defense and related issues. Please share your comments with Dutton & Dutton, Attorney at Law."
        name="description" />
  <link href="https://www.jamesrdutton.com/blog/rsd.xml" rel="EditURI" title="RSD" type="application/rsd+xml" />
  <link href="https://www.jamesrdutton.com/blog/" rel="start" title="Home" />
  <meta content="summary" name="twitter:card" />
  <meta content="Griffin Georgia Criminal Defense Law Blog | Dutton & Dutton, Attorney at Law" property="og:title" />
  <meta content="Griffin Georgia Criminal Defense Law Blog | Dutton & Dutton, Attorney at Law" name="twitter:title" />
  <meta content="en_US" property="og:locale" />
  <meta content="website" property="og:type" />
  <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
        property="og:image" />
  <meta content="Our Griffin, Georgia blog deals with Criminal Defense and related issues. Please share your comments with Dutton & Dutton, Attorney at Law."
        property="og:description" />
  <meta content="Our Griffin, Georgia blog deals with Criminal Defense and related issues. Please share your comments with Dutton & Dutton, Attorney at Law."
        name="twitter:description" />
  <meta content="Dutton & Dutton, Attorney at Law" property="og:site_name" />
  <meta content="https://www.jamesrdutton.com/blog/" property="og:url" />

  </meta>
</head>

<body style="" class="design blog blogMainIndex blog-home">
  <div class="container-page">
    {{> main-header}}
    <div class="container-page2">
      <div class="container-columns">
        <div class="container-column-main">
          <div class="column-main" role="main">
            <h1 class="page-title"> Griffin Georgia Criminal Defense Law Blog</h1>
            <section class="content">
              <article class="post post-first postFirst post-only postOnly">
                <h2>Welcome to our Griffin, Georgia Criminal Defense Law Blog</h2>
                <p class="byline">On behalf of <span class="firm-name firmName">Dutton & Dutton, Attorney at Law</span>
                </p>
                <div class="welcome-post">
                  <p class="welcome-text-default">We established this blog to share stories and information about topics
                    relevant to our practice. Our intent is to highlight local stories, as well as national subject
                    matter, that we think you will find interesting. We will regularly update this blog and encourage
                    you to share your thoughts on these posts.</p>
                </div>
              </article>
            </section>
          </div>
        </div>
        <div class="column-side" role="complementary">
          <div id="containerSearchFormDesign">
            <form action="/Search-Results.html" class="formAutoFill" id="searchFormDesign" method="get"
                  name="searchFormDesign">
              <label for="searchFormDesignSearchTerms">Search</label>
              <input id="searchFormDesignSearchTerms" name="stext" title="Search our site" type="text" />
              <input id="searchFormDesignSubmit" name="searchFormDesignSubmit" type="submit" value="Search" />
            </form>
          </div>
          <div class="navigation-blog" id="navigationBlog">
          </div>
          <a class="subscribe" href="/blog/atom.xml" id="subscribe" target="_blank">Subscribe To This Blog's Feed</a>
          <a class="findlaw-network" href="/" id="findlawNetwork" rel="nofollow"
             target="_blank"></a>
          <div class="contextual-container">
          </div>
        </div>
      </div>
    </div>
    <a class="btn-short-form" href="/Contact.html">Email Us For A Response</a>
    {{> main-footer}}
  </div>
     {{> scripts}}
</body>