<head>
    <title>CDL Defense | Commercial Truck Drivers | CDL Lawyer</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="DUI" name="FSSection"/>
    <meta content="CDL Defense" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="At Dutton & Dutton, Attorneys at Law, in Griffin, we know how critical your CDL is for you. We work to protect your CDL after a DUI arrest. Call 770-229-5959!"
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/DUI/CDL-Defense.html" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="CDL Defense | Commercial Truck Drivers | CDL Lawyer" property="og:title"/>
    <meta content="At Dutton & Dutton, Attorneys at Law, in Griffin, we know how critical your CDL is for you. We work to protect your CDL after a DUI arrest. Call 770-229-5959!"
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.jamesrdutton.com/DUI/CDL-Defense.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design CDL-Defense DUI DUI">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        Protecting Your Livelihood In CDL Defense Cases
                    </h1>
                    <article class="content" id="content">
                        <p>If you have a commercial driver's license (CDL), you are always "on duty" as far as the
                            traffic laws of Georgia are concerned. Whether you are driving a truck on the job or
                            driving your own vehicle on your own time, the sanctions against your CDL are the same.
                        </p>
                        <p>James R. Dutton, Attorney at Law, of Griffin, Georgia, represents drivers of 18-wheelers
                            and other commercial vehicles who are tagged while driving a truck on the I-75 corridor
                            of Central Georgia. We also represent CDL drivers who are on vacation or otherwise
                            traveling through Georgia in their personal vehicles.</p>
                        <h2>A Great Many Violations Threaten Your CDL</h2>
                        <p>Our firm handles all traffic citations and trucking-specific offenses, including:</p>
                        <ul>
                            <li><a href="/Traffic-Offenses/Speeding-Tickets.html">Speeding and traffic
                                violations</a></li>
                            <li>Improper lane changes or passing</li>
                            <li>Failure to stop at railroad crossings</li>
                            <li>Other traffic violations (passing, tailgating, red lights, etc.)</li>
                            <li>Driving under the influence (alcohol, drugs, prescription meds)</li>
                            <li>Weight violations</li>
                            <li>Equipment violations</li>
                            <li>Logbook violations</li>
                        </ul>
                        <p>We understand that certain offenses would end your driving career abruptly and that any
                            speeding or traffic violations are magnified in regard to your CDL. We know how critical
                            it is for you to maintain your ability to drive for a living.</p>
                        <p>Our lawyer has worked on more than 700 cases and understands how law enforcement operates
                            and how to challenge traffic stops.</p>
                        <p>We also know how to work with local prosecutors to negotiate resolutions that limit the
                            damage or even keep your citation from being reported back in your home state. In some
                            cases, we can arrange to have the charges reduced or dismissed when the liability or
                            fault is really on the part of the employer â and not the driver.</p>
                        <h2>A Lawyer Here To Protect Your Future</h2>
                        <p>At Dutton & Dutton, Attorneys at Law, we know the risk a potential DUI conviction creates
                            for your job. We can help! Call our firm today at 770-229-5959 or <a
                                    href="/Contact.html">send us an email</a> and let us protect your CDL.</p>
                    </article>
                </div>
            </div>
            <div class="column-side" role="complementary">
                <div class="contextual-container">
                    <img alt="Contextual" class="contextual" src="/images/i-dui.jpg"/>
                </div>
                <nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
                    <h4 class="title-silo">DUI</h4>
                    <ul class="fl-list list-level-1">
                        <li class="fl-list-item list-item-level-1 itemOnly only-child">
                            <a class="fl-list-link list-link-level-1" href="/CDL-Defense.html">CDL Defense</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    {{> main-footer}}
</div>
<link as="style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
{{> scripts}}
</body>