b<head>
    <title>Griffin Bankruptcy Attorney</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Bankruptcy" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="When facing chapter 7 bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Debt-Relief" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Bankruptcy Attorney" property="og:title"/>
    <meta content="When facing chapter 7 bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    {{!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon"/> --}}

    {{!--  --}}
    <link href="https://www.jamesrdutton.com/Debt-Relief" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Drug-Charges Bankruptcy">
<div class="container-page">
    {{> debra-main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        {{!-- At Your Side When Facing  --}}
                        Chapter 7 Bankruptcy
                    </h1>
                    <p>Stop Foreclosure & Repossession! No More Harassing Phone Calls! End Stress &
                        Sleepless Nights!
                        <br>
                        <br>
                        Eliminate Tax Penalties
                        & Wage Garnishments! Keep the Money YOU Make! Let Dutton & Dutton HELP you today!</p>
                    <article class="content" id="content">
                        <h2>What is Chapter 7?</h2>

                        <p>Starting over with a Chapter 7 Bankruptcy is considered a Fresh Start and gives you a
                            clean
                            slate. Chapter 7 Bankruptcy enables you to eliminate many different kinds of debts,
                            including: credit card debt, medical bills, and certain unsecured loans that are not
                            backed
                            by any form of collateral. You may also be able to eliminate certain tax debts.
                        </p>
                        <p>​Chapter 7 is the most common form of bankruptcy in the United States. In a Chapter 7
                            Bankruptcy, the individual is allowed to keep certain exempt property.
                        </p>
                        <p>
                            ​As soon as you file a Chapter 7 Bankruptcy, your creditors are no longer permitted to
                            contact you or take legal action against you. A Chapter 7 Bankruptcy can stop your wages
                            from being garnished or your bank accounts from being levied.
                        </p>
                        <h2>Will you lose Your House and Your Car?</h2>
                        <p>Most people appreciate the idea of getting a fresh start and stopping creditor
                            harassment, but worry about losing their possessions in bankruptcy. In most cases, we
                            are able to protect your home and car, if not in a Chapter 7 then in a Chapter 13
                            Bankruptcy.
                        </p>
                        <h2>
                            May A Small Business File Chapter 7?
                        </h2>
                        <p>
                            Chapter 7 Bankruptcy can provide many small businesses with the relief they need.
                        </p>

                        <h2>Life After Bankruptcy?</h2>
                        <p>There is life after bankruptcy! Our law firm will advise you what to expect when you file
                            and give you suggestions on what to do after bankruptcy.
                        </p>
                        <h2> Do You Qualify for Chapter 7 Bankruptcy?</h2>
                        <p>
                            Depending on whether or not you can pass the means test, Chapter 7 could be the best way
                            for you to regain control of your finances. If you do not pass the means test you may
                            consider a Chapter 13 Bankruptcy. To discover what bankruptcy options are available to
                            you, contact us today for a free confidential consultation.
                        </p>
                        <h2> Bankruptcy Misinformation</h2>
                        <p>
                            Searching the internet may cause confusion because not all of it is accurate or
                            up-to-date. Bankruptcy laws are complex, and every state has different rules governing
                            exemptions. Family and friends may add to this confusion because every bankruptcy case
                            is unique and your circumstances could be different. Bankruptcy provides many different
                            options. Our experienced bankruptcy attorneys will be happy to discuss how Chapter 7
                            bankruptcy can assist you.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column-civil}}
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
        Us For A Response</a>
    {{> debra-main-footer}}
</div>
<link as="style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
{{> scripts}}
</body>
