<head>
    <title>Griffin Bankruptcy Attorney</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Bankruptcy" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="When facing chapter 13 bankruptcy, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Debt-Relief" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Bankruptcy Attorney" property="og:title"/>
    <meta content="When facing chapter 13 bankruptcy, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    {{!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon"/> --}}

    {{!--  --}}
    <link href="https://www.jamesrdutton.com/Debt-Relief" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Drug-Charges Bankruptcy">
<div class="container-page">
    {{> debra-main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        {{!-- At Your Side When Facing  --}}
                        Chapter 13 Bankruptcy
                    </h1>
                    <p>Stop Foreclosure & Repossession! No More Harassing Phone Calls! End Stress &
                        Sleepless Nights!
                        <br>
                        <br>
                        Eliminate Tax Penalties
                        & Wage Garnishments! Keep the Money YOU Make! Let Dutton & Dutton HELP you today!</p>
                    <article class="content" id="content">
                        <h2>What is Chapter 13 Bankruptcy?</h2>

                        <p>Chapter 13 Bankruptcy isn't for everyone. A Chapter 7 Bankruptcy offers immediate and
                            complete relief of many oppressive debts. A Chapter 13 Bankruptcy is a form of
                            reorganization or debt consolidation. In Chapter 13 Bankruptcy, you keep your property,
                            but pay back all or a portion of your debts over a three to five-year period.
                        </p>
                        <h2>Who Should File A Chapter 13?</h2>
                        <p>Usually those who file a Chapter 13 are those who do not pass the means test. The means
                            test is an economical test used to determine whether a debtor has the means to pay his
                            debts. Others who may choose to file a Chapter 13 Bankruptcy include: individuals with
                            extreme debt owed to the IRS that cannot be excluded; individuals trying to stop a
                            foreclosure or repossession quickly; and individuals with large amounts of equity in
                            their home.
                        </p>
                        <h2>
                            What is The Repayment Plan?
                        </h2>
                        <p>
                            The most important part of your Chapter 13 paperwork will be a repayment plan. Your plan
                            will describe in detail how and how much you will pay each of your debts. Your Chapter
                            13 plan must pay certain debts in full. Priority debts are considered important enough
                            to move them to the head of the bankruptcy repayment line. Priority debts include
                            alimony and child support, wages you owe to employees, and certain tax obligations.The
                            plan must include regular payments on secured debts, such as a home mortgage and a car
                            loan, if you plan to keep that property, as well as repayment of any arrearages.The plan
                            must also demonstrate that any disposable income you have left after making these
                            required payments will go towards repaying your unsecured debts, such as credit card or
                            medical bills. You do not have to repay these debts in full or in some cases even at
                            all. You just have to show that you are putting any remaining income towards repayment.
                        </p>

                        <h2>More Information</h2>
                        <p>For complete information about Chapter 13 Bankruptcy, including what happens to your
                            home, car, and debts, <a href="/Contact.html">contact</a> our law office for a free
                            confidential consultation.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column-civil}}
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
        Us For A Response</a>
    {{> debra-main-footer}}
</div>
<link as="style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
Dutton & Dutton, Attorneys at Law
{{> scripts}}
</body>
