<head>
    <title>Contact Dutton & Dutton, Attorneys at Law | Griffin, GA</title>
    <meta charset="utf-8" />
    <meta content="Contact" name="FSContentType" />
    <meta content="05/02/17 07:32 AM" name="FSDateCreation" />
    <meta content="05/02/17 07:32 AM" name="FSDatePublish" />
    <meta content="yes" name="FSFLContent" />
    <meta content="en-US" name="FSLanguage" />
    <meta content="yes" name="FSOnSitemap" />
    <meta content="Not Applicable" name="FSPagePracticeArea" />
    <meta content="yes" name="FSSearchable" />
    <meta content="Not Applicable" name="FSTemplateName" />
    <meta content="ContactUs" name="FSWritertoolPageType" />
    <meta content="Root" name="FSSection" />
    <meta content="Contact" name="FSPageName" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="en-US" http-equiv="content-language" />
    <link href="//ajax.googleapis.com" rel="dns-prefetch" />
    <meta content="Contact Dutton & Dutton, Attorneys at Law, in Griffin, by calling 770-229-5959 for criminal defense representation and immediate assistance."
          name="description" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="https://www.jamesrdutton.com/Contact.html" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="Contact Dutton & Dutton, Attorneys at Law | Griffin, GA" property="og:title" />
    <meta content="Contact Dutton & Dutton, Attorneys at Law, in Griffin, by calling 770-229-5959 for criminal defense representation and immediate assistance."
          property="og:description" />
    <meta content="en_US" property="og:locale" />
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image" />


    <link href="/styles/site.css" rel="stylesheet" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon" />

    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Contact">
    <div class="container-page">
        {{> main-header}}
        <div class="container-page2">
            <div class="container-columns">
                <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                    Related Topics</a>
                <div class="container-column-main">
                    <div class="column-main" role="main">
                        <h1 class="page-title">
                            Contact Dutton & Dutton, Attorneys at Law
                        </h1>
                        <article class="content" id="content">
                            <p>While this website provides general information, it does not constitute legal advice. The
                                best way to get guidance on your specific legal issue is to contact a lawyer. To
                                schedule a meeting with an attorney, please call or complete the intake form below.</p>
                            <div id="containerIntakeFormI">
                                <p class="intakeFormINote"><strong>Bold</strong> labels and <img
                                         alt="This graphic indicates a required field." height="15"
                                         src="/images/formRequired.gif" width="15" /> indicate required information.
                                </p>
                                <form action="/form-submission" id="intakeFormI" method="post" name="intakeFormI">
                                    <input name="serverTime" type="hidden" value="1584979851" />
                                    <input name="SubscriptionID" type="hidden" value="2818225" />
                                    <input name="email_subject" type="hidden" value="Contact" />
                                    <input name="removeFLBranding" type="hidden" value="false" />
                                    <input name="guid" type="hidden"
                                           value="Hq0BgOmoMYJivV4asRgu8ZieFIhplZG6EYrYNfH27eDqd/bbzX7Rc2dq5nIKKIvHzqU0cLZkLgLGFitt8vc+0Y0ZDMLfrPi8r8aO8QSAqv7sqhmEcli/eplxiAtrc/CmG/lZBSGzmiqNYcU0WgHcKaUutqpGHetLAVTP3UuNnvA=" />
                                    <input name="wld_id" type="hidden" value="4974576" />
                                    <input name="thankyouPage" type="hidden" value="Thank-You" />
                                    <input id="copymeEmail" name="copymeEmail" type="hidden" value="" />
                                    <fieldset>
                                        <legend>Personal Information</legend>
                                        <label for="intakeFormIName">Name</label>
                                        <div class="formHighlight">
                                            <input id="intakeFormIName" name="Name"
                                                   placeholder="Please enter your name." type="text" />
                                        </div>
                                        <label for="intakeFormIEmailAddress"><strong>Email Address</strong><img
                                                 alt="This field is required." height="15"
                                                 src="/images/formRequired.gif" width="15" /></label>
                                        <p class="formHide" data-for="intakeFormIEmailAddress" role="alert">
                                            <strong>Please provide a valid email address.</strong></p>
                                        <div class="formHighlight">
                                            <input class="validate email" id="intakeFormIEmailAddress"
                                                   name="Email Address"
                                                   placeholder="Please provide a valid email address." type="text" />
                                        </div>
                                        <input type="text" class="hide" name="email2" style="display: none;">
                                        <label for="intakeFormIState">State</label>
                                        <select id="intakeFormIState"
                                                name="State|at:state||Please choose your state of residence.">
                                            <option selected="selected" value="DID NOT RESPOND">Select State</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                            <option value="Arizona">Arizona</option>
                                            <option value="Arkansas">Arkansas</option>
                                            <option value="California">California</option>
                                            <option value="Colorado">Colorado</option>
                                            <option value="Connecticut">Connecticut</option>
                                            <option value="Delaware">Delaware</option>
                                            <option value="Florida">Florida</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Hawaii">Hawaii</option>
                                            <option value="Idaho">Idaho</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Indiana">Indiana</option>
                                            <option value="Iowa">Iowa</option>
                                            <option value="Kansas">Kansas</option>
                                            <option value="Kentucky">Kentucky</option>
                                            <option value="Louisiana">Louisiana</option>
                                            <option value="Maine">Maine</option>
                                            <option value="Maryland">Maryland</option>
                                            <option value="Massachusetts">Massachusetts</option>
                                            <option value="Michigan">Michigan</option>
                                            <option value="Minnesota">Minnesota</option>
                                            <option value="Mississippi">Mississippi</option>
                                            <option value="Missouri">Missouri</option>
                                            <option value="Montana">Montana</option>
                                            <option value="Nebraska">Nebraska</option>
                                            <option value="Nevada">Nevada</option>
                                            <option value="New Hampshire">New Hampshire</option>
                                            <option value="New Jersey">New Jersey</option>
                                            <option value="New Mexico">New Mexico</option>
                                            <option value="New York">New York</option>
                                            <option value="North Carolina">North Carolina</option>
                                            <option value="North Dakota">North Dakota</option>
                                            <option value="Ohio">Ohio</option>
                                            <option value="Oklahoma">Oklahoma</option>
                                            <option value="Oregon">Oregon</option>
                                            <option value="Pennsylvania">Pennsylvania</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Rhode Island">Rhode Island</option>
                                            <option value="South Carolina">South Carolina</option>
                                            <option value="South Dakota">South Dakota</option>
                                            <option value="Tennessee">Tennessee</option>
                                            <option value="Texas">Texas</option>
                                            <option value="Utah">Utah</option>
                                            <option value="Vermont">Vermont</option>
                                            <option value="Virginia">Virginia</option>
                                            <option value="Washington">Washington</option>
                                            <option value="Washington DC">Washington DC</option>
                                            <option value="West Virginia">West Virginia</option>
                                            <option value="Wisconsin">Wisconsin</option>
                                            <option value="Wyoming">Wyoming</option>
                                        </select>
                                        <label for="intakeFormIZipCode">ZIP</label>
                                        <div class="formHighlight">
                                            <input id="intakeFormIZipCode" name="ZIP"
                                                   placeholder="Please enter a valid ZIP code. You may use 0-9, spaces and the ( ) - + characters."
                                                   type="text" />
                                        </div>
                                        <label for="intakeFormIPhoneNumber">Phone</label>
                                        <p class="formHide" data-for="intakeFormIPhoneNumber" role="alert">
                                            <strong>Please enter a valid phone number. You may use 0-9, spaces and the (
                                                ) - + characters.</strong></p>
                                        <div class="formHighlight">
                                            <input class="dataCheck number" id="intakeFormIPhoneNumber" name="Phone"
                                                   placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                                   type="text" />
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Contact Preferences</legend>
                                        <p>How would you like to be contacted?<br />
                                            Check all that apply.</p>
                                        <div class="formCheck">
                                            <label for="intakeFormIViaEmail"><input id="intakeFormIViaEmail"
                                                       name="email-contact-preference" type="checkbox"
                                                       value="Email" />Email</label>
                                            <label for="intakeFormIViaPhone"><input id="intakeFormIViaPhone"
                                                       name="phone-contact-preference" type="checkbox"
                                                       value="Phone" />Phone</label>
                                        </div>
                                        {{!-- <input class="intakeFormHiddenInput" id="checkboxContactPreferencesIntakeFormI"
                                           name="cgi|checkboxContactPreferencesIntakeFormI" type="hidden"
                                           value="How would you like to be contacted?|||Please indicate a contact preference by chescking one of the boxes below."/> --}}
                                    </fieldset>
                                    <fieldset>
                                        <legend>How Can We Help You?</legend>
                                        <label class="formDescribeIssue" for="intakeFormIHelpYou">Brief description of
                                            your legal issue</label>
                                        <div class="formHighlight">
                                            <textarea cols="15" id="intakeFormIHelpYou"
                                                      name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                      rows="4"></textarea>
                                        </div>
                                        <p><img alt="" class="formDisclaimer" height="50"
                                                 src="/images/formDisclaimer.gif" width="50" />The use of the Internet
                                            or this form for communication with the firm or any individual member of the
                                            firm does not establish an attorney-client relationship. Confidential or
                                            time-sensitive information should not be sent through this form.</p>
                                        <div class="formCheck">
                                            <p class="formHide" data-for="intakeFormIDisclaimerCheck" role="alert">
                                                <strong>Please verify that you have read the disclaimer.</strong></p>
                                            <label for="intakeFormIDisclaimerCheck"><input class="validate checkbox"
                                                       id="intakeFormIDisclaimerCheck" name="Read disclaimer"
                                                       type="checkbox" value="yes" /><strong>I have read
                                                    the
                                                    disclaimer.</strong><img alt="This field is required." height="15"
                                                     src="/images/formRequired.gif" width="15" /></label>
                                            <input class="intakeFormHiddenInput" id="checkboxDisclaimerIntakeFormI"
                                                   name="cgi|checkboxDisclaimerIntakeFormI" type="hidden"
                                                   value="Read disclaimer||r|Please verify that you have read the disclaimer." />
                                        </div>
                                        <div class="formCopyCheck"><label for="emailCopyMe"><input id="emailCopyMe"
                                                       name="emailCopyMe" type="checkbox" value="yes" />Send a copy
                                                of
                                                this email to me.</label></div>
                                        <p><a href="/Privacy-Policy.html">Privacy Policy</a></p>
                                    </fieldset>
                                    <input id="intakeFormISubmit" name="Submit" type="submit"
                                           value="Send this message" />
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
                {{> learn-more-side-column}}
            </div>
        </div>
        <div class="contact-info-short-form-wrap">
            <div class="contact-info-short-form-container">
                <div class="contact-left">
                    <div class="contact-info">
                        <div class="title-contact-conatiner">
                            <h4 class="title-contact">Our Location</h4>
                        </div>
                        <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                            <div class="office office-1 office-odd office-first office-last office-griffin">
                                <p>
                                    <strong class="office-title">Dutton & Dutton, Attorneys at Law</strong>
                                    <br>
                                    <span class="office-address">
                                        <span class="office-street-address"> 113 E. Solomon St.
                                            <br />
                                        </span>
                                        <span class="office-locality">Griffin</span>,
                                        <span class="office-region">GA</span>
                                        <span class="office-postal-code">30223</span>
                                    </span>
                                    <br />
                                    <span class="office-phone office-phone-local office-phone-tracking">
                                        <span class="office-phone-label">Phone</span>:
                                        <span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
                                        <br />
                                    </span>
                                    <span class="office-phone office-phone-local">
                                        <span class="office-phone-label">Fax</span>:
                                        <span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
                                        <br />
                                    </span>
                                    <a class="office-map-link"
                                       href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                       target="_blank">Map &amp; Directions</a>
                                    <br />
                                    <br /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
    <link as="style"
          href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
          onload="this.rel='stylesheet'" rel="preload" />
    {{> scripts}}
</body>