<head>
	<title>Griffin Criminal Defense Lawyer | Domestic Violence | Drug Crimes | Felonies</title>
	<meta charset="utf-8" />
	<meta content="default.html" name="FSChildTemplate" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Criminal-Defense" name="FSSection" />
	<meta content="Criminal Defense" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Contact James R. Dutton, Attorney at Law, in Griffin, for experienced criminal defense representation. Contact us today at 770-229-5959 or online."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Criminal-Defense/" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin Criminal Defense Lawyer | Domestic Violence | Drug Crimes | Felonies" property="og:title" />
	<meta content="Contact James R. Dutton, Attorney at Law, in Griffin, for experienced criminal defense representation. Contact us today at 770-229-5959 or online."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Criminal-Defense/" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>
	
</head>

<body style="" class="design Criminal-Defense Criminal-Defense Criminal-Defense">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Knowledgeable Representation In Criminal Defense Cases
						</h1>
						<article class="content" id="content">
							<p>The first thing to understand after being charged with a crime in Georgia is that no one
								working for the state is your friend. The police and the prosecutors want you convicted.
								In their eyes, you are guilty as charged.</p>
							<p>To have any chance of obtaining a favorable outcome in your case, you need an attorney
								working for you. At James R. Dutton, Attorney at Law, we understand your concerns and we
								have the experience to explain your charges and your options, and will work aggressively
								in your interest to protect your rights.</p>
							<h2>Building The Best Defense For Your Charges</h2>
							<p>Our firm has handled criminal cases for hundreds of clients in Georgia. We understand how
								to develop an effective criminal defense strategy for individuals facing charges,
								including:</p>
							<ul>
								<li>Serious felony crimes</li>
								<li>
									<a href="/Theft-Or-Burglary.html">Theft, robbery and burglary</a>
								</li>
								<li>Identity fraud</li>
								<li>
									<a href="/Assault-And-Violent-Crimes.html">Assault and other
										violent crimes</a>
								</li>
								<li>Racketeer Influenced and Corrupt Organizations Act (RICO)</li>
								<li>
									<a href="/DUI.html">DUI and drunk driving charges</a>
								</li>
								<li>Traffic offenses</li>
								<li>
									<a href="/Drug-Charges.html">Drug crimes</a>
								</li>
								<li>
									<a href="/Juvenile-Crimes.html">Juvenile defense</a>
								</li>
							</ul>
							<h2>You Have No Friends In The Georgia Criminal Justice System</h2>
							<p>Criminal charges are always complex. If you are not an experienced criminal defense
								lawyer, you may have difficulty fully understanding the charges you are facing, and
								emotions and worries can make it even more difficult to deal with criminal charges. Our
								attorney has worked with numerous clients and knows you need help understanding your
								charges. We work with you in developing your defense so as to ensure you remain in
								control of your case and your future.</p>
							<h2>Speak With An Experienced Criminal Defense Attorney</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, Georgia, we know how difficult it can be
								to defend yourself from criminal charges. Don't do it! Call our firm today at
								770-229-5959 or
								<a href="/Contact.html">send us an </a>
								<a href="/Contact.html">email</a> and let us provide you with an aggressive defense.
							</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-criminaldefense.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">Criminal Defense</h4>
						<ul class="fl-list list-level-1">
							<li class="fl-list-item list-item-level-1 itemFirst first-child">
								<a class="fl-list-link list-link-level-1"
								   href="/Assault-And-Violent-Crimes.html">Assault And Violent
									Crimes</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1"
								   href="/Theft-Or-Burglary.html">Theft Or Burglary</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1"
								   href="/Identity-Fraud.html">Fraud And Forgery</a>
							</li>
							<li class="fl-list-item list-item-level-1">
								<a class="fl-list-link list-link-level-1"
								   href="/Drug-Charges.html">Drug Charges</a>
							</li>
							<li class="fl-list-item list-item-level-1 itemLast last-child">
								<a class="fl-list-link list-link-level-1"
								   href="/Juvenile-Crimes.html">Juvenile Crimes</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
     {{> scripts}}
</body>