<head>
    <title>Griffin Civil Law | Bankruptcy | Wills | Divorce | Power of Attorney</title>
    <meta charset="utf-8">
    <meta name="FSContentType" content="Home">
    <meta name="FSDateCreation" content="05/02/17 07:32 AM">
    <meta name="FSDatePublish" content="05/02/17 07:32 AM">
    <meta name="FSFLContent" content="yes">
    <meta name="FSLanguage" content="en-US">
    <meta name="FSOnSitemap" content="yes">
    <meta name="FSPagePracticeArea" content="Not Applicable">
    <meta name="FSSearchable" content="yes">
    <meta name="FSTemplateName" content="Not Applicable">
    <meta name="FSWritertoolPageType" content="Home">
    <meta name="FSSection" content="Root">
    <meta name="FSPageName" content="Home">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="en-US">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <meta name="description"
          content="Debra B. Dutton, Attorney at Law, provides experienced civil representation in Griffin, Georgia. Call 770-229-5959 now to let us help!">
    <meta name="robots" content="noodp, noydir">
    <meta name="google-site-verification" content="lUm82Ho6iRwU6SuEiNgxGVTeywk64P3_eW6JvfNAq4E">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <meta content="http://www.jamesrdutton.com/" property="og:url">-->
    <meta content="website" property="og:type">
    <meta content="Griffin Civil Law | Bankruptcy | Wills | Divorce | Power of Attorney" property="og:title">
    <meta content="Debra B. Dutton, Attorney at Law, provides experienced bankruptcy, divorce, wills legal guidance in Griffin, Georgia. Call 770-229-5959 now to let us help!"
          property="og:description">
    <meta content="en_US" property="og:locale">
    <meta content="Debra B. Dutton, Attorney at Law" property="og:site_name">
    <meta content="http://www.jamesrdutton.com/images/jd2gga-social-media-2018-03-19-06-35-31.png" property="og:image">

    <link rel="stylesheet" href="/styles/site.css">
    <link rel="icon"
          href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=">

    <link rel="canonical" href="http://www.jamesrdutton.com/">

</head>

<body style="" class="design Home Home">

<div class="container-page">
    {{> header}}
    {{> nav-bar}}
    <div class="banner-wrap">
        <div>
            <img class="deb-mobile-img" src="/images/deb-dutton.png" alt="Debra Dutton">
        </div>
        <div class="banner banner-debra">
            <div class="tagline-container">
                <div class="tagline">
                    <h2>Expert Legal Guidance and Problem Solving Throughout Central Georgia</h2>
                </div>
                <div class="sub-tagline">
                    <p class="debra-subtag">The legal system can intimidate and overwhelm anyone. At Dutton & Dutton
                        Law Firm, we are here
                        to help find the answers and create the solutions you need! Don't get buried in details.
                        <b>Debra B. Dutton</b> is dedicated to understanding what results you want and will work
                        with
                        you every step of the way </p>
                </div>
            </div>
        </div>

    </div>
    <div class="nav-prac-wrap">
        <div class="nav-practice-container">
            <a href="#" class="btn-nav-practice btn-togglebox" data-target="nav-practice">
                    <span class="fa fa-bars" aria-hidden="true">

                    </span>View Our Practice Areas
            </a>
            <nav id="nav-practice" class="nav-practice" data-bp="650" role="navigation">
                <ul>
                    <li class="nav-prac-bank">
                        <a href="/Debt-Relief">Bankruptcy
                        </a>
                    </li>
                    <li class="nav-prac-will">
                        <a href="/Wills">Wills</a>
                    </li>
                    <li class="nav-prac-seri">
                        <a href="/Divorce">Divorce</a>
                    </li>
                    <li class="nav-prac-crimi">
                        <a href="/Power-of-Attorney">Power of Attorney</a>
                    </li>
                    <li class="togglebox-close">
                        <a href="#" class="close" data-target="nav-practice">X Close</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content-1-wrap">
        <div class="content-1-container">
            <div class="content-1-left">
                <img src="/images/justice.jpg" class="contextual1" alt="Contextual">
            </div>
            <div class="content-1-right">
                <h1 class="page-title">
                    Experienced Bankruptcy and Civil Law Attorney Helping You in Your Challenging Time
                </h1>
                <article class="content" id="content">
                    <p>Our goal is reaching the best possible outcome for your situation. Dutton & Dutton Law Firm
                        has
                        been working together for 30 years
                        and has a proven track record of success. We use that experience to help you down a path to
                        the
                        results you need.
                        Check out our testimonials and reviews, and then schedule your free phone consultation
                        today.
                        We offer effective and expedited representation. Our reputation and successful 30 year
                        history
                        speaks for itself. <b>Learn more about <a href="/Debra-B-Dutton.html">Debra B.
                            Dutton</a></b></p>
                </article>
            </div>
        </div>
    </div>
    <div class="atto-list-wrap">
        <div class="atto-list-container">
            <ul class="atto-list">
                <li class="item-first">
                    <div class="atto-title-container">
                        <h2>Our Team</h2>
                    </div>
                </li>
                <li>
                    <a href="/about_dutton_and_dutton.html">
                        <img src="/images/atto1.jpg" alt="Debra B. Dutton">
                        <p>Debra B. Dutton
                            <span>Attorney</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/about_dutton_and_dutton.html">
                        <img src="/images/deb-headshot-small.jpg" alt="Debra B. Dutton" style="height: 200px;">
                        <p>Debra B. Dutton
                            <span>Attorney</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/about_dutton_and_dutton.html">
                        <img src="/images/atto2.jpg" alt="Ashley Culberson">
                        <p> Ashley Culberson
                            <span>Administrative Assistant</span>
                        </p>
                    </a>
                </li>
                <li class="item-last">
                    <a href="/about_dutton_and_dutton.html">
                        <img src="/images/atto3.jpg" alt="Bridget Plott">
                        <p>Bridget Plott
                            <span>Certified Paralegal</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-2-wrap">
        <div class="content-2-container">
            <div class="content-2-left">
                <h2>We offer high-quality legal work and personal client service.</h2>
                <p>Don't wait! Contact us for a free phone consultation. Let us help you figure out your best next
                    steps
                    are.
                    The sooner you have a plan of action, the better your chances of taking the correct steps to get
                    the
                    results you want.</p>
            </div>
            <div class="content-2-right">
                <img src="/images/debra-desk.jpg" class="contextual2" alt="Contextual">
            </div>
        </div>
    </div>
    <div class="testinomial-wrap">
        <div class="testinomial-container">
            <ul class="testinomial">
                <li class="item-first">“I got good customer service! I was impressed with the knowledge.
                    Mrs Dutton was very knowledgeable about our situation and she was wonderful. She took a lot off
                    our
                    minds.
                    We were just so thrilled!"
                    {{!-- <span>- Vanessa Rogers </span> --}}
                </li>
                <li>“She made a difficult situation so much better. She was in court with me she walked me through
                    and
                    was by my side every step of the way. Amazing at what she does and you feel like you known her
                    your
                    whole life. Mrs. Margie is so sweet and helpful. So appreciative of them. .”
                    {{!-- <span>- Mariah Duncan</span> --}}
                </li>
            </ul>
            <a class="btn-testi" href="/Testimonials.html">View More Testimonials</a>
        </div>
    </div>
    <div class="content-3-wrap">
        <div class="content-3-container">
            <div class="content-3-left">
                <img src="/images/contextual3.jpg" class="contextual3" alt="Contextual">
            </div>
            <div class="content-3-right">
                <h2>Contact Us Today for Personal Solutions</h2>
                <p>Approaching each case with our full attention and dedication, we aim to protect your interests
                    and
                    exceed your expectations.
                    We pride ourselves in our small-firm feel by treating each case with care and consideration.
                    <a href="tel:7702295959">Call 770-229-5959</a>
                    now or
                    <a href="/Contact.html">send us an email</a>.
                </p>
            </div>
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span class="fa fa-envelope" aria-hidden="true"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        <div class="contact-info-short-form-container">
            <div class="contact-left">
                <div class="contact-info">
                    <div class="title-contact-conatiner">
                        <h4 class="title-contact">Our Location</h4>
                    </div>
                    <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                        <div class="office office-1 office-odd office-first office-last office-griffin">
                            <p>
                                <strong class="office-title">Debra B. Dutton, Attorney at Law</strong>
                                <br/>
                                <span class="office-address">
                                        <span class="office-street-address"> 113 E. Solomon St.
                                            <br/>
                                        </span>
                                        <span class="office-locality">Griffin</span>,
                                        <span class="office-region">GA</span>
                                        <span class="office-postal-code">30223</span>
                                    </span>
                                <br/>
                                <span class="office-phone office-phone-local office-phone-tracking">
                                        <span class="office-phone-label">Phone</span>:
                                        <span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
                                        <br/>
                                    </span>
                                <span class="office-phone office-phone-local">
                                        <span class="office-phone-label">Fax</span>:
                                        <span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
                                        <br/>
                                    </span>
                                <a class="office-map-link"
                                   href="http://maps.google.com/?q=Debra+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                   target="_blank">Map &amp; Directions</a>
                                <br/>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="short-form-right">
                <div class="short-form">
                    <h4 class="title-short-form">For Expert Legal Guidance in Central Georgia
                    </h4>
                    <div id="containerIntakeFormShortAutofill">
                        <p>
                            <strong>Bold</strong> labels are required.
                        </p>
                        <form method="post" action="/form-submission" name="intakeFormShortAutofill"
                              id="intakeFormShortAutofill" class="formAutoFill">
                            <fieldset>
                                <legend>
                                    <span>Contact Information</span>
                                </legend>
                                <label for="intakeFormShortName">Name</label>
                                <div class="formHighlight">
                                    <input id="intakeFormIName" name="Name" placeholder="Please enter your name."
                                           type="text"/>
                                </div>
                                <label for="intakeFormShortEmail">
                                    <strong>Email Address</strong>
                                </label>
                                <p data-for="intakeFormShortEmail" role="alert" class="formHide">
                                    <strong>Please enter a valid email address.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Email"
                                           placeholder="Please enter a valid email address."
                                           id="intakeFormShortEmail" class="validate email" title="Email Address"/>
                                    <input type="text" class="hide" name="email2" style="display: none;">
                                </div>
                                <label for="intakeFormShortPhone">Phone</label>
                                <p data-for="intakeFormShortPhone" role="alert" class="formHide">
                                    <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                        + characters.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Phone"
                                           placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                           id="intakeFormShortPhone" title="Phone" class="dataCheck number"/>
                                </div>
                                <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                                <div class="formHighlight">
                                        <textarea
                                                name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                id="intakeFormShortMessage"
                                                title="Brief description of your legal issue" rows="4"
                                                cols="15"></textarea>
                                </div>
                                <div class="formCheck">
                                    <p data-for="intakeFormShortAutofillDisclaimerCheck" role="alert"
                                       class="formHide">
                                        <strong>Please verify that you have read the disclaimer.</strong>
                                    </p>
                                    <label for="intakeFormShortAutofillDisclaimerCheck">
                                        <input type="checkbox"
                                               name="Read disclaimer:||r|Please verify that you have read the disclaimer."
                                               id="intakeFormShortAutofillDisclaimerCheck" class="validate checkbox"
                                               value="yes"/>
                                        <strong>I have read the
                                            <span>disclaimer.</span>
                                        </strong>
                                    </label>
                                    <strong>
                                        <a class="intakeFormShortDisclaimerLink"
                                           href="/Disclaimer.html">disclaimer</a>.
                                    </strong>
                                </div>
                                <input class="intakeFormHiddenInput" type="hidden"
                                       id="checkboxDisclaimerIntakeFormShort"
                                       name="cgi|checkboxDisclaimerIntakeFormShort"
                                       value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
                                <div id="intakeFormShortDisclaimer">
                                    <div>
                                        <p>The use of the Internet or this form for communication with the firm or
                                            any individual member of the firm does not establish an attorney-client
                                            relationship. Confidential or time-sensitive information should not be
                                            sent through this form.</p>
                                        <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                    </div>
                                </div>
                            </fieldset>
                            <p class="intakeFormShortPrivacy">
                                <a href="/Privacy-Policy.html">Privacy Policy</a>
                            </p>
                            <input type="image" src="/images/formSubmitShort.gif" name="Submit" value="Submit"
                                   class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit"/>
                            <input type="submit" name="Submit" value="Submit" class="submit over"
                                   style="display:none;" alt="Submit"
                                   id="submitbtn_intakeFormShortAutofillSubmit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-page-wrap">
        <footer class="footer-page">
            <div class="grade-us-bb-logo-container">
                <ul>
                    <li><a href="/" class="reviewmgr-button" data-content="Review Us" data-replace="false"
                           target="_blank">Review Us</a></li>
                    <li class="itemLast">
                        <a id="bbblink" target="_blank" class="ruhzbus"
                           href="http://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                           title="Debra B. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA"
                           style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;">
                            <img style="padding: 0px; border: none;" id="bbblinkimg"
                                 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                                 width="200" height="45" alt="BBB accredited business | BBB rating A-">
                        </a>
                    </li>
                    <li><a href="http://thervo.com/ga/atlanta/attorneys/" title="Find the best Attorneys in Atlanta"
                           target="_blank"><img src="//cdn.thervo.com/assets/images/tmp/thervo-2018.png" width="150"
                                                alt="Find the best Attorneys in Atlanta"></a></li>
                </ul>
            </div>
            <div class="container-social-cards-backtop">
                <div class="social">
                    <a href="http://www.facebook.com/Debra-R-Dutton-Attorney-at-Law-821804557956667/"
                       class="facebook" target="_blank">
                        <span> </span>
                    </a>
                    <a href="http://twitter.com/griffinattorney" class="twitter" target="_blank">
                        <span> </span>
                    </a>
                    <a href="http://www.linkedin.com/company/27005689/" class="linkedin" target="_blank">
                        <span> </span>
                    </a>
                </div>
                <div class="payment-cards">
                    <img src="/images/cards.jpg" alt="Payment Cards">
                </div>
                <a href="#" class="back-to-top">Back To Top</a>
            </div>
            <section class="fine-print clearfix">
                <p class="copyright">©
                    2020 by
                    <a href="/" target="_blank">Debra B.
                        Dutton, Attorney at Law</a>. All rights reserved.
                    <a href="/Disclaimer.html">Disclaimer</a> |
                    <a href="/Site-Map.html">Site Map</a>
                </p>
                <p class="branding">
                    <a id="PrivacyPolicy" href="/Privacy-Policy.html">Privacy Policy</a> | <a target="_blank"
                                                                                              rel="nofollow"
                                                                                              href="http://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound">Business
                    Development Solutions</a> by <a target="_blank" href="/">BDS</a>,
                    part of Thomson Reuters.
                </p>
            </section>
        </footer>
    </div>
</div>
{{> scripts}}
</body>