<head>
    <title>Debra B. Dutton | Debra B. Dutton, Attorney at Law | Griffin, GA</title>
    <meta charset="utf-8"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDatePublish"/>
    <meta content="yes"
          name="FSFLContent"/>
    <meta content="en-US"
          name="FSLanguage"/>
    <meta content="yes"
          name="FSOnSitemap"/>
    <meta content="yes"
          name="FSSearchable"/>
    <meta content="Why-You-Need-A-Defense-Attorney"
          name="FSSection"/>
    <meta content="Debra B. Dutton"
          name="FSPageName"/>
    <meta content="IE=edge,chrome=1"
          http-equiv="X-UA-Compatible"/>
    <meta content="en-US"
          http-equiv="content-language"/>
    <link href="//ajax.googleapis.com"
          rel="dns-prefetch"/>
    <meta content="telephone=no"
          name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Why-You-Need-A-Defense-Attorney/James-R-Dutton.html"
          property="og:url"/>
    <meta content="website"
          property="og:type"/>
    <meta content="Debra B. Dutton, Attorney at Law | Griffin, GA"
          property="og:title"/>
    <meta content="en_US"
          property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law"
          property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css"
          rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


</head>

<body style=""
      class="design James-R-Dutton Why-You-Need-A-Defense-Attorney Why-You-Need-A-Defense-Attorney">
<div class="container-page">
    {{> debra-main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox"
               href="#"><span aria-hidden="true"
                              class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main"
                     role="main">
                    <h1 class="page-title">
                        Debra B. Dutton
                    </h1>
                    <p><a href="/Debra-B-Dutton.html"> </a> <img width="300"
                                                                 alt="griffin-lawyer-james-r-dutton-criminal-defense-attorney-2016-Headshot-620-x-660-for-web-300x300"
                                                                 src="/images/dutton_debbie.jpg"/>
                    <article class="content"
                             id="content">
                        <div id="attorneyProfile"><img alt=""
                                                       class="attorneyProfilePhoto"
                                                       src="/images/deb-dutton.png">
                            <h2 class="attorneyProfileName">
                                <meta content="James Dutton"
                                      itemprop="name">
                                <span>Debra</span> <span>B.</span>
                                <span>Dutton</span> </meta>
                            </h2>
                            <div class="attorneyProfilePositions">
                                <div class="attorneyProfilePosition"><span
                                        class="attorneyProfilePositionTitle">Attorney</span></div>
                            </div>
                            <div class="attorneyProfileContactInformation">
                                <div class="attorneyProfileLocationLabel">Location:</div>
                                <div class="attorneyProfileLocation">Griffin, Georgia</div>
                                <div class="attorneyProfilePhoneLabel">Phone:</div>
                                <div class="attorneyProfilePhone"> 770-229-5959<br/></div>
                                <div class="attorneyProfileFaxLabel">Fax:</div>
                                <div class="attorneyProfileFax"> 678-550-9494<br/></div>
                                <div class="attorneyProfileEmailLabel">Email:</div>
                                <div class="attorneyProfileEmail"><a
                                        href="/E-mail.html?guid=BP3uyX2d4QehcqaduW/9ETnOE0HNpvtE4cd0Ckcnm/P4MH6bzGLTy++zoJQCOx5SdSNar7ZHTs/zfuSnkAbY2sqj24ooW1GJ+atjnEVNeDwWyTqKhNaF1+MAXsCOqMrmOlowxCTseWLXamFcL5og2/0102As+tp+s7P0wvgLEUs=&amp;attorneyName=James%20R.%20Dutton">Email
                                    Me</a><br/></div>
                                <div class="attorneyProfileVCard"></div>
                            </div>
                            <div class="attorneyProfileNarrative"> As a graduate from John Marshall Law School,
                                after graduating from Georgia State University Summa Cum Laude, Debra B. Dutton is
                                Griffin's leading Bankruptcy expert! Seeing every client find the path to financial
                                recovery is the most important thing to her.
                            </div>
                            <div class="attorneyProfileSection attorneyProfileAreasOfPractice">
                                <h3>Areas of Practice</h3>
                                <ul>
                                    <li>Bankruptcy</li>
                                    <li>Divorce</li>
                                    <li>Wills</li>
                                    <li>Power of Attorney</li>
                                </ul>
                            </div>
                            <div class="attorneyProfileSection attorneyProfileEducation">
                                <h3>Education</h3>
                                <ul>
                                    <li alumniof
                                    "=" class="
                                    attorneyProfileEducationLegal"><strong><span>John
                                                    Marshall College of Law</span>, Atlanta, Georgia</strong>
                                    </li>
                                    <li alumniof
                                    "=" class="
                                    attorneyProfileEducationNonLegal"><strong><span>Georgia
                                                    State University</span></strong> </li>
                                </ul>
                            </div>
                            <div class="attorneyProfileSection attorneyProfileHonorsAndAwards">
                                <h3>Honors and Awards</h3>
                                <ul>
                                    <li><span>One of the best Criminal Defense Lawyers in Georgia</span></li>
                                </ul>
                            </div>
                            <div
                                    class="attorneyProfileSection attorneyProfileProfessionalAssociationsAndMemberships">
                                <h3>Professional Associations and Memberships</h3>
                                <ul>
                                    <li><span>Georgia Association of Criminal Defense Lawyers (GACDL)</span>, Member
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div>
                                <h2>Testimonials</h2>
                                <div class="">
                                    <div data-ux="ContentBasic"
                                         class="">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/0/headline"
                                            data-aid="CONTENT_HEADLINE1_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Zachary Davis - Thomaston, GA</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION1_RENDERED"
                                             data-route="contentCards/0/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"Debra is one of the most intelligent and
                                                        profound legal minds in the community today."</span></p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="   c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/1/headline"
                                            data-aid="CONTENT_HEADLINE2_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Anthony A - Spalding County, GA</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION2_RENDERED"
                                             data-route="contentCards/1/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"Good service and very professional.
                                                        Someone I would definitely recommend. The customer service
                                                        was also very good. Every time I had a question there was an
                                                        immediate answer. If anything popped up they took care of
                                                        everything. Thacker &amp; Dutton is a professional law firm
                                                        in Spalding County, GA."</span></p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="   c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/2/headline"
                                            data-aid="CONTENT_HEADLINE3_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Melanie N - Spalding County</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION3_RENDERED"
                                             data-route="contentCards/2/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"You all were very attentive in your
                                                        service. I really appreciated your availability. To be
                                                        willing to stay later and work with me and my schedule at
                                                        different hours. Debbie Dutton is an&nbsp;Attorney with Best
                                                        Service in Spalding County, GA.."</span></p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="   c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/3/headline"
                                            data-aid="CONTENT_HEADLINE4_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Tracy B - Spalding County, GA</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION4_RENDERED"
                                             data-route="contentCards/3/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"I would recommend your services.
                                                        Everybody was so courteous and helpful to me. I felt the
                                                        customer service for Thacker and Dutton was very very
                                                        good.."</span></p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="   c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/4/headline"
                                            data-aid="CONTENT_HEADLINE5_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Angela - Concord (Pike County), GA</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION5_RENDERED"
                                             data-route="contentCards/4/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"I got good customer service! I was
                                                        impressed with the knowledge. Mrs Dutton was very
                                                        knowledgeable about our situation and she was wonderful. She
                                                        took a lot off our minds. We were just so thrilled!"</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="   c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/5/headline"
                                            data-aid="CONTENT_HEADLINE6_RENDERED"
                                            class=" -h4 c1-15 c1-16 c1-45 c1-6a c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            L. Chasteen - Spalding County, GA</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION6_RENDERED"
                                             data-route="contentCards/5/description"
                                             class=" -p c1-15 c1-16 c1-6c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>Debbie Dutton of Thacker &amp; Dutton Law
                                                        Firm is not only professional and knowledgeable, she is
                                                        caring and helpful to her clients. Every question I asked
                                                        was answered in a quick, understandable fashion. Her work is
                                                        detailed and thorough. Debbie's staff is caring and helpful
                                                        as well. I would highly recommend Debbie Dutton for legal
                                                        services from Thacker and Dutton Law Firm.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h2>Service Review</h2>
                                <div data-ux="ContentBasic"
                                     class="x-el x-el-div x-el c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                    <h4 data-ux="ContentHeading"
                                        data-route="contentCards/0/headline"
                                        data-aid="CONTENT_HEADLINE1_RENDERED"
                                        class="x-el x-el-h4 c1-15 c1-16 c1-45 c1-7b c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                        Wills and Probate</h4>
                                    <div data-ux="ContentText"
                                         data-aid="CONTENT_DESCRIPTION1_RENDERED"
                                         data-route="contentCards/0/description"
                                         class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                        <p style="margin:0"><span>"Ms. Dutton's entire staff was delightful,
                                                    as well as very professional and helpful."</span></p>
                                    </div>
                                </div>
                                <div data-ux="ContentBasic"
                                     class="x-el x-el-div x-el c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                    <h4 data-ux="ContentHeading"
                                        data-route="contentCards/1/headline"
                                        data-aid="CONTENT_HEADLINE2_RENDERED"
                                        class="x-el x-el-h4 c1-15 c1-16 c1-45 c1-7b c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                        Divorce</h4>
                                    <div data-ux="ContentText"
                                         data-aid="CONTENT_DESCRIPTION2_RENDERED"
                                         data-route="contentCards/1/description"
                                         class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                        <p style="margin:0"><span>"Debbie is very attentive and communicates
                                                    well. She really makes you feel like more than just a
                                                    client, and that she really cares."</span></p>
                                    </div>
                                </div>
                                <div
                                        class="x-el x-el-div c1-3i c1-42 c1-3t c1-5u c1-x c1-28 c1-3v c1-2a c1-3w c1-63 c1-64 c1-9 c1-a c1-5v c1-5w c1-3y c1-3z c1-40 c1-41 c1-65 c1-66 c1-b c1-c x-d-ux">
                                    <div data-ux="ContentBasic"
                                         class="x-el x-el-div x-el c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/0/headline"
                                            data-aid="CONTENT_HEADLINE1_RENDERED"
                                            class="x-el x-el-h4 c1-15 c1-16 c1-45 c1-7b c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Wills and Probate</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION1_RENDERED"
                                             data-route="contentCards/0/description"
                                             class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"Ms. Dutton's entire staff was delightful,
                                                        as well as very professional and helpful."</span></p>
                                        </div>
                                    </div>
                                    <div data-ux="ContentBasic"
                                         class="x-el x-el-div x-el c1-y c1-4l c1-2 c1-67 c1-68 c1-1y c1-69 c1-64 c1-9 c1-a c1-b c1-c x-d-ux c1-9 c1-a c1-b c1-c x-d-ux">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/1/headline"
                                            data-aid="CONTENT_HEADLINE2_RENDERED"
                                            class="x-el x-el-h4 c1-15 c1-16 c1-45 c1-7b c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Divorce</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION2_RENDERED"
                                             data-route="contentCards/1/description"
                                             class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"Debbie is very attentive and communicates
                                                        well. She really makes you feel like more than just a
                                                        client, and that she really cares."</span></p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h4 data-ux="ContentHeading"
                                            data-route="contentCards/2/headline"
                                            data-aid="CONTENT_HEADLINE3_RENDERED"
                                            class="x-el x-el-h4 c1-15 c1-16 c1-45 c1-7b c1-18 c1-6b c1-1w c1-1x c1-1a c1-1b c1-1c c1-46 c1-47 x-d-ux x-d-route x-d-aid">
                                            Bankruptcy</h4>
                                        <div data-ux="ContentText"
                                             data-aid="CONTENT_DESCRIPTION3_RENDERED"
                                             data-route="contentCards/2/description"
                                             class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                            <p style="margin:0"><span>"Excellent knowledge of Bankruptcy laws
                                                        and skilled with relaying the information to the client.
                                                        Very polite and helpful would definitely work with her
                                                        again."</span></p>
                                            <p style="margin:0"><span><br></span></p>
                                            <p style="margin:0"><span>"Quality service, decades of professional
                                                        experience, supporting clients the whole way. Thacker &amp;
                                                        Dutton Law Firm is number one in bankruptcy for a
                                                        reason!"</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h2>Debra B. Dutton</h2>
                                <div data-ux="ContentText"
                                     data-aid="CONTENT_MEDIA_DESCRIPTION1_RENDERED"
                                     data-route="mediaLayoutDescription1"
                                     class="x-el x-el-p c1-15 c1-16 c1-7c c1-a c1-18 c1-19 c1-1a c1-1b c1-1c c1-6d c1-6e c1-6f c1-6g c1-6h c1-6i c1-6j c1-6k c1-6l c1-6m c1-6n c1-6o c1-6p c1-6q c1-6r c1-6s c1-6t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-b c1-c x-d-ux x-d-aid x-d-route x-rt">
                                    <p style="margin:0"><span>"Debbie is knowledgeable, warm and always
                                                professional. She's an life saver. Very helpful, very
                                                personable, and hard working."</span></p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"Brilliant, professional, dedicated and
                                                caring for the wellbeing of her clients' goals to accomplish
                                                a successful outcome."</span></p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"Mrs. Dutton is extremely attentive to
                                                listening and providing the most professional service for
                                                her clients. &nbsp;She was a pleasure to work with."</span>
                                    </p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"Debbie Dutton is a very honest person who
                                                won't lead you wrong. She is informal and great to work
                                                with."</span></p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"Debra Dutton of Thacker and Dutton is
                                                very professional and up front. She will tell you like it is
                                                but will fight tooth and nail for her clients. I highly
                                                recommend her."</span></p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"Debbie Dutton is a great attorney and
                                                referral partner. She has the highest ethics and
                                                professional standards. She is a tireless worker. I highly
                                                recommend her."</span></p>
                                    <p style="margin:0"><span><br></span></p>
                                    <p style="margin:0"><span>"I highly recommend Thacker &amp; Dutton
                                                Law Firm. Mrs Dutton was who helped me and my husband. She
                                                was very professional and went over everything. She was
                                                great about answering any questions and just made the whole
                                                process alot easier for us. She is and over all caring and
                                                yet very professional person. I would highly recommend her
                                                for your financial needs. Thank you Mrs Dutton for all your
                                                help. God bless you."</span></p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column-civil}}

        </div>
    </div>
    <a class="btn-short-form"
       href="/Contact.html"><span aria-hidden="true"
                                  class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    {{> debra-main-footer}}

</div>
<link as="style"
      onload="this.rel='stylesheet'"
      rel="preload"/>
{{> scripts}}
</body>
