<head>
    <title>Griffin Debt Relief Attorney</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Bankruptcy" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="When facing bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Debt-Relief" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Bankruptcy Attorney" property="og:title"/>
    <meta content="When facing bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    {{!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon"/> --}}

    {{!--  --}}
    <link href="https://www.jamesrdutton.com/Debt-Relief" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Drug-Charges Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> debra-main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        DEBT RELIEF NOW
                    </h1>

                    <article class="content" id="content">
                        <p>Stop Foreclosure & Repossession! No More Harassing Phone Calls! End Stress &
                            Sleepless Nights! Eliminate Tax Penalties
                            & Wage Garnishments! Keep the Money YOU Make! Let Dutton & Dutton HELP you today!</p>

<!--                        <div class="debt-to-know">-->
<!--                            <h4 > Top 3 Things To Know About Debt Relief & Bankruptcy</h4>-->

<!--                            <ul>-->
<!--                                <li>You can keep your house and cars.</li>-->
<!--                                <li>Personal Bankruptcy is not announced to the public.</li>-->
<!--                                <li>Completing the Debt Relief process can stop law suits, judgements and wage-->
<!--                                    garnishments.-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->

                        <h2>DEBT CONSOLIDATION</h2>
                        <p>
                            Consolidate all forms of debt, including but not limited to, mortgage arrears, auto loans,
                            credit cards, medical, personal loans, and tax debt. Stop lawsuits and wage garnishments!
                            Stop tax penalties and interest and all interest on credit cards.
                        </p>
                        <h2>Considering Bankruptcy? Speak With Our Attorney First.</h2>
                        <p>Bankruptcy is very serious. We can help.
                            <a href="/Contact.html">Contact our firm today</a> Our legal team has a
                            well-deserved reputation of excellence in providing smart, sensible, and cost-effective
                            legal solutions for our clients.
                        </p>
                        <h2>
                            <strong>What is Chapter 7 Bankruptcy?</strong>
                        </h2>
                        <p>Starting over with a <a href="/Chapter-7-Bankruptcy.html">Chapter 7 Bankruptcy </a>is
                            considered a Fresh Start and gives you a clean slate.
                            Chapter 7 Bankruptcy enables you to eliminate many different kinds of debts, including:
                            credit card debt,
                            medical bills, and certain unsecured loans that are not backed by any form of
                            collateral.
                            You may also be able to eliminate certain tax debts.</p>
                        <h2>
                            <strong>What is Chapter 13 Bankruptcy?</strong>
                        </h2>
                        <p><a href="/Chapter-13-Bankruptcy.html">Chapter 13 Bankruptcy</a> isn't for everyone. A
                            Chapter 7 Bankruptcy offers immediate and complete
                            relief of many oppressive debts. A Chapter 13 Bankruptcy is a form of reorganization
                            or debt consolidation.
                            In Chapter 13 Bankruptcy, you keep your property, but pay back all or a portion of
                            your debts over
                            a three to five-year period. </p>
                        <h2>Experienced Attorney Representation On Your Side</h2>
                        <p>At Dutton & Dutton, Attorneys at Law, in Griffin, Georgia, we know how difficult it
                            can be
                            to defend yourself from criminal charges. Don't do it! Call our firm today at
                            770-229-9593 or contact us
                            <a href="/Contact.html">online</a> and let us provide you with an aggressive
                            defense.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column-civil}}
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
        Us For A Response</a>
    {{> debra-main-footer}}
</div>
<!--Dutton & Dutton, Attorneys at Law-->
{{> scripts}}
</body>
