<head>
    <title>Griffin Drug Crimes Defense Attorney | Possession | Trafficking</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Drug Charges" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="When facing a drug charge, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.duttonlawga.com/Criminal-Defense/Drug-Charges.html" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Drug Crimes Defense Attorney | Possession | Trafficking" property="og:title"/>
    <meta content="When facing a drug charge, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.duttonlawga.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.jamesrdutton.com/Criminal-Defense/Drug-Charges.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Drug-Charges Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        At Your Side When Facing Drug Charges
                    </h1>
                    <article class="content" id="content">
                        <p>A drug crime conviction can lead to a jail or prison sentence, plus the fallout that a
                            felony conviction has on your family and your employment. This effect can last long
                            after your release. At James R. Dutton, Attorney at Law, we provide experienced
                            representation, fighting to exonerate your drug charges or prevent you from being
                            severely punished.</p>
                        <h2>Stopped With Drugs? Speak With Our Attorney First.</h2>
                        <p>Drug charges are very serious, but the evidence is not always as strong as the
                            prosecution believes.
                            <a href="/Contact.html">Contact our firm today</a> if you or a family member is accused
                            of a drug offense in Georgia. We understand your freedom and your future are at stake.
                            We will not let you go down without a fight.
                        </p>
                        <h2>
                            <strong>RICO Charges For Selling Meth Or Other Drugs?</strong>
                        </h2>
                        <p>In addition to facing charges for individual drugs, Georgia prosecutors are using the
                            Racketeer Influenced and Corrupt Organizations Act (RICO) as a way of increasing the
                            number of charges against defendants. RICO is a powerful law that was designed to target
                            organized crime, but because of how the statute is written, has been adapted by
                            prosecutors to a wide range of offenses.</p>
                        <p>It has become popular to charge anyone accused of selling drugs like meth with RICO
                            charges, as the Georgia statute is even broader and more encompassing than the federal
                            RICO Act. This allows a separate RICO charge to be added to any other drug charges and
                            multiple counts may lead to a significant increase in the potential sentence available.
                        </p>
                        <p>Georgia also has a Communications Act violation that is triggered by the used of any
                            phone during the alleged criminal actions. Prosecutors use these additional charges and
                            enhance penalties to place more pressure on accused to plead to terms they offer.</p>
                        <h2>Drug Charges Can Lead To Significant Jail Time And Other Significant Penalties</h2>
                        <p>Are you are facing any of these charges?</p>
                        <ul>
                            <li>Possession of marijuana</li>
                            <li>Possession of cocaine, meth or other controlled substances</li>
                            <li>Unlawful possession of prescription medications</li>
                            <li>Distribution or intent to distribute</li>
                            <li>Transportation of drugs</li>
                        </ul>
                        <p>You need to speak with an attorney before you speak with the police. The police are
                            always alert to misstatements or words that can be taken out of context. Talking to the
                            police before speaking to our attorney can compromise your defense and potentially lead
                            to more jail time.</p>
                        <p>Our attorney is an experienced trial lawyer prepared to take your case to a jury, but our
                            goal is to avoid a high-risk trial if at all possible by getting drug possession charges
                            dismissed or reduced.</p>
                        <p>Drug cases are often won or lost on motions to suppress evidence. Our attorney has
                            experience demonstrating illegal searches and seizures, where prosecutors lack probable
                            cause for traffic stops, and other flaws in the investigation by the police.</p>
                        <h2>Experienced Attorney Representation On Your Side</h2>
                        <p>At James R. Dutton, Attorney at Law, in Griffin, Georgia, we know how difficult it can be
                            to defend yourself from criminal charges. Don't do it! Call our firm today at
                            770-229-5959 or contact us
                            <a href="/Contact.html">online</a> and let us provide you with an aggressive defense.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}
        </div>
        <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
            Us For A Response</a>
        {{> main-footer}}
    </div>
    <link as="style"
          href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
          onload="this.rel='stylesheet'" rel="preload"/>
</div>
{{> scripts}}
</body>