<head>
	<title>Griffin DUI Attorney | Drunk Driving Charges? Call Today</title>
	<meta charset="utf-8" />
	<meta content="default.html" name="FSChildTemplate" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="DUI" name="FSSection" />
	<meta content="DUI" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Our attorney at James R. Dutton, Attorney at Law, in Griffin, has represented many individuals with DUI charges. Call now at 770-229-5959 so we can help you."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/DUI/" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin DUI Attorney | Drunk Driving Charges? Call Today" property="og:title" />
	<meta content="Our attorney at James R. Dutton, Attorney at Law, in Griffin, has represented many individuals with DUI charges. Call now at 770-229-5959 so we can help you."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/DUI/" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>
	
</head>

<body style="" class="design DUI DUI DUI">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Aggressive DUI Defense
						</h1>
						<article class="content" id="content">
							<p>Most people in Georgia cannot get by without a driver's license. If you are a bus or
								truck driver, your license is your livelihood. A conviction for driving under the
								influence means a criminal record and possible jail time.</p>
							<p>Even worse, it can result in a driver's license suspension for a year or more. The
								penalties for DUI are especially harsh for under-21 drivers, commercial drivers and
								repeat offenders.</p>
							<h2>You Have 30 Days To Avoid An Automatic License Suspension</h2>
							<p>During your arrest for DUI in Georgia, the police will typically take your driver's
								license and give you a form (DDS Form 1205). That form serves as your driver's license
								until your case is resolved. It also serves as the official notice that your license
								shall be suspended within 30 days of arrest unless you request a hearing.</p>
							<p>Do not delay if you have been stopped for a DUI. Contact our firm, James R. Dutton,
								Attorney at Law, for an experienced DUI defense and we may be able to prevent your
								license suspension.</p>
							<h2>A DUI Can Result In Many Lasting Penalties</h2>
							<p>The penalties sting even for a first offense of driving drunk â 24 hours in jail, plus
								fines and community service. You can lose your license for up to 12 months unless you
								qualify for a work permit.</p>
							<ul>
								<li>For drivers under age 21, almost any amount of alcohol (BAC of .02) counts as a DUI,
									and a conviction carries a "hard suspension" of six months to 12 months with no
									possibility of a work permit to drive to school or work.</li>
								<li>If you have a commercial driver's license, your <a
									   href="/CDL-Defense.html">commercial driver's license</a> can be suspended for 12
									months for a BAC of .04 or greater, even if you were not driving a commercial
									vehicle at the time of arrest.</li>
								<li>A second DUI in five years is punishable by a three-year suspension, with 18 months
									of hard suspension before a work permit will even be considered. All repeat
									offenders are subject to mandatory jail time, an ignition interlock device, a
									special DUI license plate, and/or other fines, fees and conditions.</li>
								<li>Aggravating factors (child on board, suspended license, BAC higher than .15) also
									increase the penalties.</li>
							</ul>
							<h2>Does A Breathalyzer Mean You Will Be Convicted?</h2>
							<p>If you were pulled over, and failed the roadside tests and Breathalyzer, you may believe
								you don't stand a chance of challenging your arrest. Don't give up. There may be any
								number of flaws in the case against you. From our trial experience, we know the
								questions to ask to get weak evidence suppressed, which can result in a dismissal, a
								favorable plea deal or viable defenses at trial.</p>
							<p>A close analysis of the facts often reveals lack of probable cause for a traffic stop, or
								procedural errors by the officer in some phase of the sobriety tests and arrest.
								Prosecutors like to win, and may negotiate a problematic DUI to a charge of reckless
								driving or failure to use due care.</p>
							<p>This is crucial for commercial drivers who depend on a CDL because a DUI conviction
								carries a one-year CDL suspension, and a second offense can result in lifetime CDL
								disqualification.</p>
							<h2>A Lawyer Working Toward Reducing Consequences For DUI Charges</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, Georgia, we understand the threat to
								your livelihood posed by a DUI conviction. We can help! <a href="/Contact.html">Contact
									our firm</a> today by calling 770-229-5959 or send us an email and let us provide
								you with an aggressive defense for your DUI charge.</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-dui.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">DUI</h4>
						<ul class="fl-list list-level-1">
							<li class="fl-list-item list-item-level-1 itemOnly only-child">
								<a class="fl-list-link list-link-level-1" href="/CDL-Defense.html">CDL Defense</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
{{> scripts}}
</body>