<head>
	<title>Identity Fraud Defense | Forgery | James R. Dutton, Attorney at Law</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Criminal-Defense" name="FSSection" />
	<meta content="Fraud And Forgery" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Charged with identity theft? James R. Dutton, Attorney at Law, in Griffin, provides you with the best possible representation. Call 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Criminal-Defense/Identity-Fraud.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Identity Fraud Defense | Forgery | James R. Dutton, Attorney at Law" property="og:title" />
	<meta content="Charged with identity theft? James R. Dutton, Attorney at Law, in Griffin, provides you with the best possible representation. Call 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Criminal-Defense/Identity-Fraud.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Identity-Fraud Criminal-Defense Criminal-Defense">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							An Aggressive Legal Response To Fraud And Forgery Charges
						</h1>
						<article class="content" id="content">
							<p>If you have been accused of possessing forged documents, credit card theft, check fraud
								or unauthorized use of someone's identity or financial accounts, you may be facing
								serious charges of fraud, forgery or identity theft.</p>
							<p>Maybe it is all a misunderstanding or stems from a dispute with someone you know that
								resulted in accusations. You may not have had any intent to commit fraud. No matter how
								it happened, you need to speak with an attorney, as the consequences from these charges
								could be significant.</p>
							<h2>Understanding The Serious Nature Of Fraud Charges</h2>
							<p>Fraud can be charged as a felony in Georgia. In some cases, you could be facing up to 10
								years in prison for fraud or use of forged documents. The greater the harm, the more
								significant the penalties.</p>
							<p>Our firm can handle a wide variety of cases involving fraud, forgery and
								misappropriation:</p>
							<ul>
								<li>Stolen or forged checks</li>
								<li>Credit card fraud</li>
								<li>Selling personal data (credit card numbers, Social Security numbers, etc.)</li>
								<li>Embezzlement</li>
								<li>Internet scams</li>
								<li>Mortgage fraud/bank fraud</li>
								<li>Identity theft (assuming someone's identity)</li>
								<li>Forged IDs or immigration papers</li>
							</ul>
							<p>If you have been charged with fraud, you need representation from an experienced criminal
								defense lawyer. At James R. Dutton, Attorney at Law, we understand what is at risk and
								we work with our clients to defend them from these criminal charges and protect their
								rights.</p>
							<h2>Don't Try To Talk Your Way Out Of The Charges</h2>
							<p>You may think you can explain your way out of these charges. Remember: Everything you say
								to the police can be used against you in court. Don't try to explain anything. It may
								make your situation even worse.</p>
							<p>Politely tell the police you want an attorney and do not speak with them again. Our
								attorney can do all the talking for you and protect your rights without placing your
								defense at risk.</p>
							<h2>Striving For The Best Possible Outcome</h2>
							<p>Located in Griffin, Georgia, James R. Dutton, Attorney at Law, can help with your
								identity theft charges. Call our firm today at 770-229-5959, or
								<a href="/Contact.html">contact us online</a> and allow us to start building an
								aggressive defense for you.
							</p>
						</article>
					</div>
				</div>
				{{> learn-more-side-column}}
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
     {{> scripts}}
</body>