<head>
    <title>Griffin Criminal Defense Attorney | Bankruptcy | Wills| Divorce | Domestic Violence | Drug Crimes | Felony
        Defense</title>
    <meta charset="utf-8">
    <meta name="FSContentType" content="Home">
    <meta name="FSDateCreation" content="05/02/17 07:32 AM">
    <meta name="FSDatePublish" content="05/02/17 07:32 AM">
    <meta name="FSFLContent" content="yes">
    <meta name="FSLanguage" content="en-US">
    <meta name="FSOnSitemap" content="yes">
    <meta name="FSPagePracticeArea" content="Not Applicable">
    <meta name="FSSearchable" content="yes">
    <meta name="FSTemplateName" content="Not Applicable">
    <meta name="FSWritertoolPageType" content="Home">
    <meta name="FSSection" content="Root">
    <meta name="FSPageName" content="Home">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="en-US">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <meta name="description"
          content="James R. Dutton, Attorney at Law, provides experienced criminal defense representation in Griffin, Georgia. Call 770-229-5959 now to let us help!">
    <meta name="robots" content="noodp, noydir">
    <meta name="google-site-verification" content="lUm82Ho6iRwU6SuEiNgxGVTeywk64P3_eW6JvfNAq4E">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="http://www.jamesrdutton.com/" property="og:url">
    <meta content="website" property="og:type">
    <meta content="Griffin Criminal Defense Attorney | Domestic Violence | Drug Crimes | Felony Defense"
          property="og:title">
    <meta content="James R. Dutton, Attorney at Law, provides experienced criminal defense representation in Griffin, Georgia. Call 770-229-5959 now to let us help!"
          property="og:description">
    <meta content="en_US" property="og:locale">
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name">
    <meta content="http://www.jamesrdutton.com/images/jd2gga-social-media-2018-03-19-06-35-31.png" property="og:image">

    <link rel="stylesheet" href="/styles/site.css">
    <link rel="icon"
          href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=">

    <link rel="canonical" href="http://www.jamesrdutton.com/">

</head>

<body style="" class="Home">
<div class="container-page">
    {{> header}}
    {{> nav-bar}}
    <div class="banner-wrap">
        <div class="banner">
            <div class="tagline-container">
                <div class="tagline">
                    <h2>Fighting For Justice With Integrity Throughout Central Georgia</h2>
                </div>
                <div class="sub-tagline">
                    <p>Dutton & Dutton is a leader in criminal and debt relief matters. When you have a serious matter,
                        you don’t just want a good lawyer, you want a great lawyer.
                        At Dutton & Dutton Law Firm, LLC, you will meet a team of individuals working to create your
                        special solution.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="practice-areas" class="practice-areas">
        <div class="practice-area criminal-defense">
            <div class="float-card">
                <div class="photobox">
                    <h1><a href="/James_Dutton.html">Criminal Defense</a></h1>
                    <p class="practice-content">
                        Facing a criminal charge is a serious matter. You don't just want a good defense, you want a
                        great defense. <a href="James_Dutton"><b>James R. Dutton</b></a>, Attorney at Law, will
                        personally guide you
                        and create that defense for your criminal charges.
                    </p>
                    <div class="photobox_list">
                        <ul class="">
                            <a href="/DUI">
                                <li>DUI</li>
                            </a>
                            <a href="/Traffic-Offenses">
                                <li>Traffic Offenses</li>
                            </a>
                            <a href="/CDL-Defense">
                                <li>CDL Violations</li>
                            </a>
                            <a href="/identity-fraud">
                                <li>Fraud</li>
                            </a>
                        </ul>
                        <ul class="">
                            <a href="/Drug-Charges">
                                <li>Drug Charges</li>
                            </a>
                            <a href="/Serious-Felony-Crimes">
                                <li>Serious Felonies</li>
                            </a>
                            <a href="/assault-and-violent-crimes">
                                <li>Domestic Violence</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="practice-area civil-law">
            <div class="float-card">
                <div class="photobox">
                    <h1><a href="/Debt-Relief.html">Debt Relief</a></h1>
                    <p class="practice-content">
                        We know that legal action can be overwhelming. We are dedicated to providing you help in
                        language that you can understand. <a href="/Debra_Dutton"> <b>Debra B. Dutton</b></a> will
                        help
                        you understand your options and find a
                        solution that works for you.
                    </p>
                    <div class="photobox_list">
                        <ul class="">
                            <a href="/top-5-things-to-know">
                                <li>Top 5 Things To Know</li>
                            </a>
                            <a href="/Debt-Relief">
                                <li>Stop Foreclosure</li>
                            </a>
                            <a href="/Chapter-7-Bankruptcy">
                                <li>Chapter 7 Bankruptcy</li>
                            </a>
                        </ul>
                        <ul class="">
                            <a href="/Debt-Relief">
                                <li>Debt Consolidation</li>
                            </a>
                            <a href="/Chapter-13-Bankruptcy">
                                <li>Chapter 13 Bankruptcy</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="practice-area civil-law">
            <div class="float-card">
                <div class="photobox">
                    <h1><a href="/James_Dutton.html">Civil Law</a></h1>
                    <p class="practice-content">
                        We know that legal action can be overwhelming. We are dedicated to providing you help in
                        language that you can understand. <a href="/Debra_Dutton"> <b>Debra B. Dutton</b></a> will
                        help
                        you understand your options and find a
                        solution that works for you.
                    </p>
                    <div class="photobox_list">
                        <ul class="">
                            <a href="/Divorce">
                                <li>Uncontested Divorce</li>
                            </a>
                            <a href="/Wills">
                                <li>Wills</li>
                            </a>
                            <a class="transparent">
                                <li>transparent</li>
                            </a>
                        </ul>
                        <ul class="">
                            <a href="/Power-of-Attorney">
                                <li>Power of Attorney</li>
                            </a>
                            <a href="/Adoption">
                                <li>Adoptions</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="nav-prac-wrap">-->
    <!--        <div class="nav-practice-container">-->
    <!--            <div class="category-tagline-container">-->
    <!--                <div class="tagline">-->
    <!--                    <h2>Our Areas of Practice</h2>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="home-categories">-->
    <!--                <ul>-->
    <!--                    <li><a href="/DUI.html">DUI</a></li>-->
    <!--                    <li><a href="/Drug-Charges.html">Drug Crimes</a></li>-->
    <!--                    <li><a href="/Debt-Relief">Bankruptcy</a></li>-->
    <!--                    <li><a href="/Traffic-Offenses/Speeding-Tickets.html">Traffic Offenses / Violations</a></li>-->
    <!--                    <li><a href="/Serious-Felony-Crimes.html">Serious Felony Crimes</a></li>-->
    <!--                    <li><a href="/Assault-And-Violent-Crimes.html">Domestic Violence</a></li>-->
    <!--                </ul>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <div class="content-1-wrap">
        <div class="content-1-container">
            <div class="content-1-left">
                <img src="/images/contextual1.jpg" class="contextual1" alt="Contextual">
            </div>
            <div class="content-1-right">
                <h1 class="page-title">
                    Experienced Criminal Defense & Debt Relief Attorneys Protecting Your Rights
                </h1>
                <article class="content" id="content">
                    <p>Our goal is reaching the best possible outcome for your situation, and we do that by empowering
                        you during your interaction with the legal processes. Our attorneys at Dutton & Dutton Law
                        Firm,LLC work to make certain you understand your charges and your options.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div class="atto-list-wrap">
        <div class="homepage-atto-list-container">
            <div class="nav-practice-container">
                <div class="category-tagline-container">
                    <div class="tagline">
                        <h2>Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="homepage-attorney-staff">
                <p><a href="/about_dutton_and_dutton.html">James R. Dutton, Attorney</a></p>
                <p><a href="/about_dutton_and_dutton.html">Debra B. Dutton, Attorney</a></p>
                <p><a href="/about_dutton_and_dutton.html">Ashley Culberson, Administrative Assistant</a></p>
                <p><a href="/about_dutton_and_dutton.html">Bridget Plott, Certified Paralegal</a></p>
            </div>
        </div>
    </div>

    <div class="content-2-wrap">
        <div class="content-2-container">
            <div class="content-2-left">
                <h2 class="page-title">What Is The Best Resolution For Your Charges?</h2>
                <p>The prospect of the loss of your liberty and being sent to jail or prison is very real during a
                    criminal prosecution. It is essential that you have an attorney who can analyze your charges and
                    work with you to develop an aggressive defense.</p>
            </div>
            <div class="content-2-right">
                <img src="/images/contextual2.jpg" class="contextual2" alt="Contextual">
            </div>
        </div>
    </div>
    <div class="gray-space"></div>
    <div class="content-2-wrap">
        <div class="content-2-container">
            <div class="content-2-left">
                <h2 class="page-title">How can you save your home and gain control of unmanageable debt?</h2>
                <p>It is important to understand your options if your debt is putting you at risk of foreclosure on your
                    home or assets. Stopping foreclosure, wage garnishments, and other litigation is possible when
                    working with an experienced debt relief attorney.
                </p>
            </div>
            <div class="content-2-right">
                <img src="/images/foreclosure.jpg" class="forclosure" alt="forclosure">
            </div>
        </div>
    </div>

    <div class="testinomial-wrap">
        <div class="testinomial-container">
            <p>“He's a good man with integrity that I'd trust with my life.” - Seth Monson</p>
            <p>“His character and nature is exactly what the judicial system needs.” - Paige Dorton</p>
            <a class="btn-testi" href="/Testimonials.html">View More Testimonials</a>
        </div>
    </div>
    <div class="content-3-wrap">
        <div class="content-3-container">
            <div class="content-3-left">
                <img src="/images/contextual3.jpg" class="contextual3" alt="Contextual">
            </div>
            <div class="content-3-right">
                <h2>Contact Us Today To Protect Your Rights</h2>
                <p>Whether you are at risk of losing your home or placed under arrest, you deserve the best counsel to
                    work in your defense. When you hire the attorneys at Dutton & Dutton Law Firm, LLC in Griffin,
                    Georgia, you will have the peace of mind that your legal matter will be handled. Our lawyers will be
                    your voice and represent your interests. Call 770-229-5959 now or
                    <a href="/Contact.html">send us an email</a>.
                </p>
            </div>
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span class="fa fa-envelope" aria-hidden="true"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        <div class="contact-info-short-form-container">
            <div class="contact-left">
                <div class="contact-info">
                    <div class="title-contact-conatiner">
                        <h4 class="title-contact">Our Location</h4>
                    </div>
                    <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                        <div class="office office-1 office-odd office-first office-last office-griffin">
                            <p>
                                <strong class="office-title">James R. Dutton, Attorney at Law</strong>
                                <br/>
                                <span class="office-address">
                                        <span class="office-street-address"> 113 E. Solomon St.
                                            <br/>
                                        </span>
                                        <span class="office-locality">Griffin</span>,
                                        <span class="office-region">GA</span>
                                        <span class="office-postal-code">30223</span>
                                    </span>
                                <br/>
                                <span class="office-phone office-phone-local office-phone-tracking">
                                        <span class="office-phone-label">Phone</span>:
                                        <span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
                                        <br/>
                                    </span>
                                <span class="office-phone office-phone-local">
                                        <span class="office-phone-label">Fax</span>:
                                        <span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
                                        <br/>
                                    </span>
                                <a class="office-map-link"
                                   href="http://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                   target="_blank">Map &amp; Directions</a>
                                <br/>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="short-form-right">
                <div class="short-form">
                    <h4 class="title-short-form">For Effective Criminal Defense Representation in Central Georgia
                    </h4>
                    <div id="containerIntakeFormShortAutofill">
                        <p>
                            <strong>Bold</strong> labels are required.
                        </p>
                        <form method="post" action="/form-submission" name="intakeFormShortAutofill"
                              id="intakeFormShortAutofill" class="formAutoFill">
                            <fieldset>
                                <legend>
                                    <span>Contact Information</span>
                                </legend>
                                <label for="intakeFormShortName">Name</label>
                                <div class="formHighlight">
                                    <input id="intakeFormIName" name="Name" placeholder="Please enter your name."
                                           type="text"/>
                                </div>
                                <label for="intakeFormShortEmail">
                                    <strong>Email Address</strong>
                                </label>
                                <p data-for="intakeFormShortEmail" role="alert" class="formHide">
                                    <strong>Please enter a valid email address.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Email"
                                           placeholder="Please enter a valid email address."
                                           id="intakeFormShortEmail" class="validate email" title="Email Address"/>
                                    <input type="text" class="hide" name="email2" style="display: none;">

                                </div>
                                <label for="intakeFormShortPhone">Phone</label>
                                <p data-for="intakeFormShortPhone" role="alert" class="formHide">
                                    <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                        + characters.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Phone"
                                           placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                           id="intakeFormShortPhone" title="Phone" class="dataCheck number"/>
                                </div>
                                <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                                <div class="formHighlight">
                                        <textarea
                                                name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                id="intakeFormShortMessage"
                                                title="Brief description of your legal issue" rows="4"
                                                cols="15"></textarea>
                                </div>
                                <div class="formCheck">
                                    <p data-for="intakeFormShortAutofillDisclaimerCheck" role="alert"
                                       class="formHide">
                                        <strong>Please verify that you have read the disclaimer.</strong>
                                    </p>
                                    <label for="intakeFormShortAutofillDisclaimerCheck">
                                        <input type="checkbox"
                                               name="Read disclaimer:||r|Please verify that you have read the disclaimer."
                                               id="intakeFormShortAutofillDisclaimerCheck" class="validate checkbox"
                                               value="yes"/>
                                        <strong>I have read the
                                            <span>disclaimer.</span>
                                        </strong>
                                    </label>
                                    <strong>
                                        <a class="intakeFormShortDisclaimerLink"
                                           href="/Disclaimer.html">disclaimer</a>.
                                    </strong>
                                </div>
                                <input class="intakeFormHiddenInput" type="hidden"
                                       id="checkboxDisclaimerIntakeFormShort"
                                       name="cgi|checkboxDisclaimerIntakeFormShort"
                                       value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
                                <div id="intakeFormShortDisclaimer">
                                    <div>
                                        <p>The use of the Internet or this form for communication with the firm or
                                            any individual member of the firm does not establish an attorney-client
                                            relationship. Confidential or time-sensitive information should not be
                                            sent through this form.</p>
                                        <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                    </div>
                                </div>
                            </fieldset>
                            <p class="intakeFormShortPrivacy">
                                <a href="/Privacy-Policy.html">Privacy Policy</a>
                            </p>
                            <input type="image" src="/images/formSubmitShort.gif" name="Submit" value="Submit"
                                   class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit"/>
                            <input type="submit" name="Submit" value="Submit" class="submit over"
                                   style="display:none;" alt="Submit"
                                   id="submitbtn_intakeFormShortAutofillSubmit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-page-wrap">
        <footer class="footer-page">
            <div class="grade-us-bb-logo-container">
                <ul>
                    <li><a href="/" class="reviewmgr-button" data-content="Review Us" data-replace="false"
                           target="_blank">Review Us</a></li>
                    <li class="itemLast">
                        <a id="bbblink" target="_blank" class="ruhzbus"
                           href="http://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                           title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA"
                           style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;">
                            <img style="padding: 0px; border: none;" id="bbblinkimg"
                                 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                                 width="200" height="45" alt="BBB accredited business | BBB rating A-">
                        </a>
                    </li>
                    <li><a href="http://thervo.com/ga/atlanta/attorneys/" title="Find the best Attorneys in Atlanta"
                           target="_blank"><img src="//cdn.thervo.com/assets/images/tmp/thervo-2018.png" width="150"
                                                alt="Find the best Attorneys in Atlanta"></a></li>
                </ul>
            </div>
            <div class="container-social-cards-backtop">
                <div class="social">
                    <a href="http://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
                       class="facebook" target="_blank">
                        <span> </span>
                    </a>
                    <a href="http://twitter.com/griffinattorney" class="twitter" target="_blank">
                        <span> </span>
                    </a>
                    <a href="http://www.linkedin.com/company/27005689/" class="linkedin" target="_blank">
                        <span> </span>
                    </a>
                </div>
                <div class="payment-cards">
                    <img src="/images/cards.jpg" alt="Payment Cards">
                </div>
                <a href="#" class="back-to-top">Back To Top</a>
            </div>
            <section class="fine-print clearfix">
                <p class="copyright">©
                    2020 by
                    <a href="/" target="_blank">Dutton and Dutton, Attorneys at Law</a>. All rights reserved.
                    <a href="/Disclaimer.html">Disclaimer</a> |
                    <a href="/Site-Map.html">Site Map</a>
                </p>
                <p class="branding">
                    <a id="PrivacyPolicy" href="/Privacy-Policy.html">Privacy Policy</a> | <a target="_blank"
                                                                                              rel="nofollow"
                                                                                              href="http://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound">Business
                    Development Solutions</a> by <a target="_blank" href="/">BDS</a>,
                    part of Thomson Reuters.
                </p>
            </section>
        </footer>
    </div>
</div>


{{> scripts}}
</body>
