<head>
    <title>James R. Dutton | James R. Dutton, Attorney at Law | Griffin, GA</title>
    <meta charset="utf-8"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Why-You-Need-A-Defense-Attorney" name="FSSection"/>
    <meta content="James R. Dutton" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Why-You-Need-A-Defense-Attorney/James-R-Dutton.html"
          property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="James R. Dutton | James R. Dutton, Attorney at Law | Griffin, GA" property="og:title"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
            "@type": "Person",
            "@id": "https://www.jamesrdutton.com/Why-You-Need-A-Defense-Attorney/James-R-Dutton",
            "name": "James R. Dutton",
            "givenName": "James",
            "familyName": "Dutton",
            "additionalName": "R.",
            "honorificSuffix": "esq.",
            "email": "ashley@jamesrdutton.com",
            "telephone": "770-229-5959",
            "jobTitle": "Attorney",
            "image": "",
            "url": "https://www.jamesrdutton.com/Why-You-Need-A-Defense-Attorney/James-R-Dutton.html",
            "worksFor": {
                "@id": "https://www.jamesrdutton.com"
            },
            "alumniOf": [
                {
                    "@type": "CollegeOrUniversity",
                    "name": "Georgia State University College of Law"
                },
                {
                    "@type": "CollegeOrUniversity",
                    "name": "Gordon State College"
                },
                {
                    "@type": "CollegeOrUniversity",
                    "name": "Georgia State University"
                }
            ],
            "affiliation": [
                "Georgia Association of Criminal Defense Lawyers (GACDL)"
            ],
            "award": [
                "One of the best Criminal Defense Lawyers in Georgia"
            ],
            "sameAs": [
                "https://www.facebook.com/griffindefenseattorney/",
                "ttps://www.linkedin.com/company/27005689/"
            ]
        }
    }</script>

</head>

<body style="" class="design James-R-Dutton Why-You-Need-A-Defense-Attorney Why-You-Need-A-Defense-Attorney">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        James R. Dutton
                    </h1>
                    <article class="content" id="content">
                        <div id="attorneyProfile"><img alt="" class="attorneyProfilePhoto"
                                                       src="https://wldimages.findlaw.com/images/4974576/5006607_1.jpg">
                            <h2 class="attorneyProfileName">
                                <meta content="James Dutton" itemprop="name">
                                <span>James</span> <span>R.</span>
                                <span>Dutton</span> </meta>
                            </h2>
                            <div class="attorneyProfilePositions">
                                <div class="attorneyProfilePosition"><span
                                        class="attorneyProfilePositionTitle">Attorney</span></div>
                            </div>
                            <div class="attorneyProfileContactInformation">
                                <div class="attorneyProfileLocationLabel">Location:</div>
                                <div class="attorneyProfileLocation">Griffin, Georgia</div>
                                <div class="attorneyProfilePhoneLabel">Phone:</div>
                                <div class="attorneyProfilePhone"> 770-229-5959<br/></div>
                                <div class="attorneyProfileFaxLabel">Fax:</div>
                                <div class="attorneyProfileFax"> 678-550-9494<br/></div>
                                <div class="attorneyProfileEmailLabel">Email:</div>
                                <div class="attorneyProfileEmail"><a
                                        href="/E-mail.html?guid=BP3uyX2d4QehcqaduW/9ETnOE0HNpvtE4cd0Ckcnm/P4MH6bzGLTy++zoJQCOx5SdSNar7ZHTs/zfuSnkAbY2sqj24ooW1GJ+atjnEVNeDwWyTqKhNaF1+MAXsCOqMrmOlowxCTseWLXamFcL5og2/0102As+tp+s7P0wvgLEUs=&amp;attorneyName=James%20R.%20Dutton">Email
                                    Me</a><br/></div>
                                <div class="attorneyProfileVCard"></div>
                            </div>
                            <div class="attorneyProfileNarrative"> James R. Dutton previous to owning and operating
                                his private practice worked for the public defenders for two years doing public
                                defense. James R. Dutton has traveled all over the state doing criminal defense work
                                from Columbus, north to Atlanta and everywhere in between. James has defended
                                clients in front of 50 judges now and is ready to defend your case too.
                            </div>
                            <div class="attorneyProfileSection attorneyProfileAreasOfPractice">
                                <h3>Areas of Practice</h3>
                                <ul>
                                    <li>Criminal Defense</li>
                                </ul>
                            </div>
                            <div class="attorneyProfileSection attorneyProfileEducation">
                                <h3>Education</h3>
                                <ul>
                                    <li alumniof
                                    "=" class=" attorneyProfileEducationLegal"><strong><span>Georgia
													State University College of Law</span>, Atlanta, Georgia</strong>
                                    </li>
                                    <li alumniof
                                    "=" class=" attorneyProfileEducationNonLegal"><strong><span>Gordon
													State College</span></strong>
                                    <ul class="attorneyProfileEducationDegree">
                                        <li>Associate's degree</li>
                                    </ul>
                                    </li>
                                    <li alumniof
                                    "=" class=" attorneyProfileEducationNonLegal"><strong><span>Georgia
													State University</span></strong> </li>
                                </ul>
                            </div>
                            <div class="attorneyProfileSection attorneyProfileHonorsAndAwards">
                                <h3>Honors and Awards</h3>
                                <ul>
                                    <li><span>One of the best Criminal Defense Lawyers in Georgia</span></li>
                                </ul>
                            </div>
                            <div
                                    class="attorneyProfileSection attorneyProfileProfessionalAssociationsAndMemberships">
                                <h3>Professional Associations and Memberships</h3>
                                <ul>
                                    <li><span>Georgia Association of Criminal Defense Lawyers (GACDL)</span>, Member
                                    </li>
                                </ul>
                            </div>
                            </img>
                        </div>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}

        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        <div class="contact-info-short-form-container">
            <div class="contact-left">
                <div class="contact-info">
                    <div class="title-contact-conatiner">
                        <h4 class="title-contact">Our Location</h4>
                    </div>
                    <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                        <div class="office office-1 office-odd office-first office-last office-griffin">
                            <p>
                                <strong class="office-title">James R. Dutton, Attorney at Law</strong>
                                <br/>
                                <span class="office-address">
										<span class="office-street-address"> 113 E. Solomon St.
											<br/>
										</span>
										<span class="office-locality">Griffin</span>,
										<span class="office-region">GA</span>
										<span class="office-postal-code">30223</span>
									</span>
                                <br/>
                                <span class="office-phone office-phone-local office-phone-tracking">
										<span class="office-phone-label">Phone</span>:
										<span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
										<br/>
									</span>
                                <span class="office-phone office-phone-local">
										<span class="office-phone-label">Fax</span>:
										<span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
										<br/>
									</span>
                                <a class="office-map-link"
                                   href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                   target="_blank">Map &amp; Directions</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="short-form-right">
                <div class="short-form">
                    <h4 class="title-short-form">For Effective Criminal Defense Representation in Central Georgia
                    </h4>
                    <div id="containerIntakeFormShortAutofill">
                        <p>
                            <strong>Bold</strong> labels are required.
                        </p>
                        <form action="/form-submission" class="formAutoFill" id="intakeFormShortAutofill"
                              method="post" name="intakeFormShortAutofill">
                            <fieldset>
                                <legend>
                                    <span>Contact Information</span>
                                </legend>
                                <label for="intakeFormShortName">Name</label>
                                <div class="formHighlight">
                                    <input id="intakeFormIName" name="Name" placeholder="Please enter your name."
                                           type="text"/>
                                </div>
                                <label for="intakeFormShortEmail">
                                    <strong>Email Address</strong>
                                </label>
                                <p class="formHide" data-for="intakeFormShortEmail" role="alert">
                                    <strong>Please enter a valid email address.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input class="validate email" id="intakeFormShortEmail" name="Email"
                                           placeholder="Please enter a valid email address." title="Email Address"
                                           type="text"/>
                                    <input type="text" class="hide" name="email2" style="display: none;">

                                </div>
                                <label for="intakeFormShortPhone">Phone</label>
                                <p class="formHide" data-for="intakeFormShortPhone" role="alert">
                                    <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                        + characters.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input class="dataCheck number" id="intakeFormShortPhone" name="Phone"
                                           placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                           title="Phone" type="text"/>
                                </div>
                                <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                                <div class="formHighlight">
										<textarea cols="15" id="intakeFormShortMessage"
                                                  name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                  rows="4" title="Brief description of your legal issue"></textarea>
                                </div>
                                <div class="formCheck">
                                    <p class="formHide" data-for="intakeFormShortAutofillDisclaimerCheck"
                                       role="alert">
                                        <strong>Please verify that you have read the disclaimer.</strong>
                                    </p>
                                    <label for="intakeFormShortAutofillDisclaimerCheck">
                                        <input class="validate checkbox" id="intakeFormShortAutofillDisclaimerCheck"
                                               name="Read disclaimer:||r|Please verify that you have read the disclaimer."
                                               type="checkbox" value="yes"/>
                                        <strong>I have read the
                                            <span>disclaimer.</span>
                                        </strong>
                                    </label>
                                    <strong>
                                        <a class="intakeFormShortDisclaimerLink"
                                           href="/Disclaimer.html">disclaimer</a>.
                                    </strong>
                                </div>
                                <input class="intakeFormHiddenInput" id="checkboxDisclaimerIntakeFormShort"
                                       name="cgi|checkboxDisclaimerIntakeFormShort" type="hidden"
                                       value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
                                <div id="intakeFormShortDisclaimer">
                                    <div>
                                        <p>The use of the Internet or this form for communication with the firm or
                                            any individual member of the firm does not establish an attorney-client
                                            relationship. Confidential or time-sensitive information should not be
                                            sent through this form.</p>
                                        <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                    </div>
                                </div>
                            </fieldset>
                            <p class="intakeFormShortPrivacy">
                                <a href="/Privacy-Policy.html">Privacy Policy</a>
                            </p>
                            <input alt="Submit" class="submit over" id="intakeFormShortAutofillSubmit" name="Submit"
                                   src="/images/formSubmitShort.gif" type="image" value="Submit"/>
                            <input alt="Submit" class="submit over" id="submitbtn_intakeFormShortAutofillSubmit"
                                   name="Submit" style="display:none;" type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-page-wrap">
        <footer class="footer-page">
            <div class="grade-us-bb-logo-container">
                <ul>
                    <li><a class="reviewmgr-button" data-content="Review Us" data-replace="false" href="/"
                           target="_blank">Review Us</a>
                    </li>
                    <li class="itemLast">
                        <a class="ruhzbus"
                           href="https://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                           id="bbblink"
                           style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;"
                           target="_blank" title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA">
                            <img alt="BBB accredited business | BBB rating A-" height="45" id="bbblinkimg"
                                 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                                 style="padding: 0px; border: none;" width="200"/>
                        </a>
                        <script
                                type="text/javascript">var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                        document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fjames-r-dutton-pc-27710635.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                    </li>
                </ul>
            </div>
            <div class="container-social-cards-backtop">
                <div class="social">
                    <a class="facebook"
                       href="https://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
                       target="_blank">
                        <span> </span>
                    </a>
                    <a class="twitter" href="https://twitter.com/griffinattorney" target="_blank">
                        <span> </span>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/company/27005689/" target="_blank">
                        <span> </span>
                    </a>
                </div>
                <div class="payment-cards">
                    <img alt="Payment Cards" src="/images/cards.jpg"/>
                </div>
                <a class="back-to-top" href="#">Back To Top</a>
            </div>
            <section class="fine-print clearfix">
                <p class="copyright">Â©
                    2020 by
                    <a href="/" target="_blank">Dutton and
                        Dutton, Attorney at Law</a>. All rights reserved.
                    <a href="/Disclaimer.html">Disclaimer</a> |
                    <a href="/Site-Map.html">Site Map</a>
                </p>
                <p class="branding">
<!--                    <a href="/Privacy-Policy.html" id="PrivacyPolicy">Privacy Policy</a> | <a-->
<!--                        href=""-->
<!--                        rel="nofollow" target="_blank">Business Development Solutions</a> by <a href="/">_BDS, part of-->
<!--                    Thomson Reuters.</a>-->
                </p>
            </section>
        </footer>
    </div>
</div>
<link as=" style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
Dutton & Dutton, Attorneys at Law

{{> scripts}}
</body>