<head>
    <title>Griffin Juvenile Crimes Lawyer | James R. Dutton, Attorney at Law</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Juvenile Crimes" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="Has your child been charged with a juvenile offense? James R. Dutton, Attorney at Law, knows what steps to take. Call our Griffin firm today at 770-229-5959."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.duttonlawga.com/Criminal-Defense/Juvenile-Crimes.html" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Juvenile Crimes Lawyer | James R. Dutton, Attorney at Law" property="og:title"/>
    <meta content="Has your child been charged with a juvenile offense? James R. Dutton, Attorney at Law, knows what steps to take. Call our Griffin firm today at 770-229-5959."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.duttonlawga.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.duttonlawga.com/Criminal-Defense/Juvenile-Crimes.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Juvenile-Crimes Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        Getting Your Child A Second Chance In Juvenile Court
                    </h1>
                    <article class="content" id="content">
                        <p>Juvenile court is very different from adult court. The procedures and punishments are
                            different, but the potential penalties and future impact of juvenile offenses should
                            never be underestimated.</p>
                        <p>The juvenile justice system is designed to promote rehabilitation over punishment. Our
                            job is to ensure that your son or daughter is offered help and opportunities instead of
                            simply being penalized.</p>
                        <h2>Has Your Son Or Daughter Been Charged With A Juvenile Crime?</h2>
                        <p>In juvenile court, youths are not convicted of a crime in the adult court sense. However,
                            an adjudication as a juvenile delinquent does not go away at age 21. Juvenile offenses
                            can be used against your son or daughter as a prior offense if he or she is charged with
                            a new crime in the future.</p>
                        <p>We work to make sure that your child receives due process and is not railroaded or
                            unjustly punished, and takes advantage of counseling, treatment and other rehabilitative
                            programs. Our firm has defended young people accused of every type of crime, including:
                        </p>
                        <ul>
                            <li>Truancy (dropping out of school)</li>
                            <li><a href="/Drug-Charges.html">Drug crimes</a> and underage drinking
                            </li>
                            <li>Traffic offenses such as speeding, reckless driving or impaired driving</li>
                            <li>Bringing weapons or fake weapons to school</li>
                            <li>Fights and assaults at school</li>
                            <li><a href="/Theft-Or-Burglary.html">Theft and burglary charges</a>
                            </li>
                            <li>Serious felonies, including aggravated assault in a drive-by shooting</li>
                        </ul>
                        <h2>Beware The Double Penalty For Offenses On School Property</h2>
                        <p>In addition to juvenile court adjudication, the school districts have their own tribunals
                            for student offenses â a separate proceeding with a separate judge and prosecutor. Our
                            lawyer can represent youths in front of school tribunals. We can negotiate to avoid
                            suspensions and other harsh sanctions such as exclusion from sports and school
                            activities.</p>
                        <h2>Let Us Help Protect Your Child</h2>
                        <p>At James R. Dutton, Attorney at Law, in Griffin, we understand your fear for your child
                            when facing a juvenile charge, and we know how to protect their rights and their future.
                            Call now at 770-229-5959 or <a href="/Contact.html">contact us online</a>.</p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}
        </div>
        <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope">
					</span>Email Us For A Response</a>
        {{> main-footer}}
    </div>
</div>
{{> scripts}}
</body>