<head>
	<title>McDonough Criminal Defense Attorney | Dutton & Dutton, Attorneys at Law | Griffin, GA</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/05/17 08:38 AM" name="FSDateCreation" />
	<meta content="05/05/17 08:38 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Testimonials" name="FSSection" />
	<meta content="McDonough Criminal Defense Attorney" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="In McDonough and charged with a crime? Dutton & Dutton, Attorney, will provide aggressive representation. Call our firm at 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.duttonlawga.com/Testimonials/McDonough-Criminal-Defense-Attorney.html"
		  property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="McDonough Criminal Defense Attorney | Dutton & Dutton, Attorneys at Law | Griffin, GA"
		  property="og:title" />
	<meta content="In McDonough and charged with a crime? Dutton & Dutton, Attorney, will provide aggressive representation. Call our firm at 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
	<meta content="https://www.duttonlawga.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.duttonlawga.com/Testimonials/McDonough-Criminal-Defense-Attorney.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design McDonough-Criminal-Defense-Attorney Testimonials Testimonials">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							McDonough Criminal Defense Attorney
						</h1>
						<article class="content" id="content">
							<h2>Stephen</h2>
							<h3>Spalding County, Georgia</h3>
							<p>
								<br /> Date: July 26, 2016
							</p>
							<p>
								<em>"I have worked with Bridget on several occasions while she was with another firm.
									<br />
									<br /> I cannot imagine getting through difficult cases without her. Bridget is the
									epitome of professionalism, always keeping me informed about my cases, ready with an
									answer, and there to ensure that all that needed doing was done.
									<br />
									<br /> More importantly, Bridget was always there with a kind word, a big smile,
									reassuring me that all was well. Without Bridget, difficult times would have been
									impossible. Thank you, Bridget!"
									<br />
								</em>
							</p>
							<h4>
								<em>"I Cannot Imagine Getting Through Difficult Cases Without Her"</em>
							</h4>
							<hr />
							<h2>Rodney C</h2>
							<h3>Griffin, Georgia</h3>
							<p>
								<br /> Date: Aug. 4, 2016
							</p>
							<p>
								<em>"This was my first experience with an attorney in regard to the judicial system and
									my anxiety was quite high. Bridget and Ashley's professionalism put me at ease as I
									was walked through in full detail each step I would encounter.
									<br />
									<br /> Their sincerity was genuine and I was never left in the dark. Thanks to the
									hard work of their firm what would have resulted in a criminal record was reduced to
									a minor traffic violation.
									<br />
									<br />
									<strong>I highly recommend this law firm!</strong>
									<br />
								</em>
							</p>
							<h4>
								<em>"Their Sincerity Was Genuine"</em>
							</h4>
							<hr />
							<h2>Rob Moore</h2>
							<h3>Griffin, Georgia</h3>
							<p>
								<br />
								<strong>Date: Aug. 8, 2016</strong>
							</p>
							<p>
								<em>"Best law firm in the business</em>
								<em>in my opinion. Ashley is awesome at keeping in contact! Bridget always makes you
									feel like you are the only client! I have dealt with this office for over three
									years, and they get personal with the client.
									<br />
									<br /> Ashley and Bridget always put my mind at ease and told me to just breathe, I
									was in good hands. Lol. I was faced with what could have been a life-altering
									situation, and those ladies always kept me grounded and reassured me. They made the
									experience so
								</em>
								<em>much more bearable.
									<br />
									<br /> I was a complete basket case, but, between Ashley, Bridget, and James (along
									with Josh), I never had a doubt in my mind that I had hired the right attorney's
									office. You don't feel as if you are just a case number. I was treated with the
									utmost respect! And if I had any
								</em>
								<em>questions, no matter how dumb, they never made me feel like I was overreacting and
									asking stupid questions.
									<br />
									<br /> I know lawyers get busy and you can't always talk to them personally, but, I
									could always call Ashley and her response would be, "I will find out and call you
									right back". And she would normally either call me back within the hour, or, Bridget
									would.
									<br />
									<br /> Very responsive!
								</em>
								<em>I have never in my life been more impressed!"
									<br />
								</em>
							</p>
							<h4>
								<em>"Very Responsive! I Have Never In My Life Been More Impressed!"</em>
							</h4>
							<hr />
							<h2>Mark</h2>
							<h3>Griffin, Georgia</h3>
							<p>
								<br /> Date: Aug. 9, 2016
							</p>
							<p>
								<em>"I had a great experience with Mr. Dutton and his staff. Specifically Bridget and
									Ashley, they were on top of my case. They were constantly emailing me updates. I
									have dealt previously with several different attorneys that were disconnected and
									hard to get in touch with. Also, I was very pleased with the resolution of my case.
									I would recommend this firm as I have found them to be competent, reasonably priced
									and I got great results."
									<br />
								</em>
							</p>
							<h4>
								<em>"Great Experience With Mr. Dutton And His Staff"</em>
							</h4>
							<p>
								<br />
							</p>
							<p>To learn more about what our services provide, contact Dutton & Dutton, Attorneys at Law,
								by calling 770-229-5959 or
								<a href="/Contact.html">sending us an email</a> to our Griffin, Georgia, office.
							</p>
						</article>
					</div>
				</div>
				{{> learn-more-side-column}}

			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.duttonlawga.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
{{> scripts}}
</body>