<head>
    <title>Griffin Power of Attorney</title>
    <meta charset="utf-8"/>
    <meta content="Other"
          name="FSContentType"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM"
          name="FSDatePublish"/>
    <meta content="yes"
          name="FSFLContent"/>
    <meta content="en-US"
          name="FSLanguage"/>
    <meta content="yes"
          name="FSOnSection"/>
    <meta content="yes"
          name="FSOnSitemap"/>
    <meta content="Not Applicable"
          name="FSPagePracticeArea"/>
    <meta content="yes"
          name="FSSearchable"/>
    <meta content="Not Applicable"
          name="FSTemplateName"/>
    <meta content="CustomPage"
          name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense"
          name="FSSection"/>
    <meta content="Power of"
          name="FSPageName"/>
    <meta content="IE=edge,chrome=1"
          http-equiv="X-UA-Compatible"/>
    <meta content="en-US"
          http-equiv="content-language"/>
    <link href="//ajax.googleapis.com"
          rel="dns-prefetch"/>
    <meta content="When facing Power of, don't go it alone. Dutton and Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no"
          name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Power of.html"
          property="og:url"/>
    <meta content="website"
          property="og:type"/>
    <meta content="Griffin Power of Attorney"
          property="og:title"/>
    <meta content="When facing Power of, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US"
          property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law"
          property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css"
          rel="stylesheet"/>

</head>

<body style=""
      class="design Drug-Charges Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox"
               href="#"><span aria-hidden="true"
                              class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main"
                     role="main">
                    <h1 class="page-title">
                        At Your Side with creating Power Of Attorney
                    </h1>
                    <article class="content"
                             id="content">
                        <p>A power of attorney is a legal document that grants an individual (usually a family member or
                            trusted friend) the
                            ability to make financial, medical, and end-of-life decisions on your behalf should you
                            become incapacitated. If you are
                            in the process of making end-of-life decisions, you are probably aware that you should have
                            a will and other measures to
                            manage your assets after you pass. However, some people overlook what can happen if they
                            should become ill or disabled
                            and become unable to act on their own behalf. Having a trusted family member, friend, or
                            representative managing your
                            medical, financial, and end-of-life decisions can be incredibly important.</p>
                        <h2>powers of attorney can be complicated matters!</h2>
                        <p>You have a wide range of options when it comes to making a power of attorney in Georia. We
                            can help you create the proper document for your needs.</p>
                        <p>Power of Attorney is very serious. we can help.
                            <a href="/Contact.html">Contact our firm today</a> Our legal team has a
                            well-deserved reputation of excellence in providing smart, sensible, and cost-effective
                            legal solutions for our clients.
                        </p>

                        <h2>Experienced Attorney Representation On Your Side</h2>
                        <p>At Dutton & Dutton, Attorneys at Law, in Griffin, Georgia, we know how difficult it
                            can be to create safe and accurate legal documents. Don't do it alone! Call our firm today
                            at
                            770-229-5959 or contact us
                            <a href="/Contact.html">online</a> and let us provide you with the right solution.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}
        </div>
    </div>
    <a class="btn-short-form"
       href="/Contact.html"><span aria-hidden="true"
                                  class="fa fa-envelope"> </span>Email
        Us For A Response</a>
    {{> main-footer}}
</div>

{{> scripts}}
</body>