<head>
    <title>Representative Cases | James R. Dutton, Attorney at Law | Griffin, GA</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/11/17 07:02 AM" name="FSDateCreation"/>
    <meta content="05/11/17 07:02 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Root" name="FSSection"/>
    <meta content="Representative Cases" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="James R. Dutton, Attorney, in Griffin, Georgia, has had a history of success defending people from criminal charges. Call our firm at 770-229-5959."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Representative-Cases.html" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Representative Cases | James R. Dutton, Attorney at Law | Griffin, GA" property="og:title"/>
    <meta content="James R. Dutton, Attorney, in Griffin, Georgia, has had a history of success defending people from criminal charges. Call our firm at 770-229-5959."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.jamesrdutton.com/Representative-Cases.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Representative-Cases">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        Representative Cases
                    </h1>
                    <article class="content" id="content">
                        <ul>
                            <li>Our client was facing his second DUI charge with a rollover accident. We diligently
                                gathered open records on both the old charge and the new one. In gathering
                                information on the closed case, we were able to present evidence at trial on the new
                                DUI charge that overwhelmingly convinced the jury that our client was not guilty.
                            </li>
                            <li>A juvenile client was charged with a serious offense from an incident that happened
                                at school. We met with the prosecutor and appeared in court to show why our client
                                should not be charged with the crime. The court agreed with our position and the
                                case was closed with no long-term effects for the juvenile.
                            </li>
                            <li>We were scheduled for trial and refused to back down on a felony drug case that
                                would be tough to win. We were ready to present our side at trial, but after our
                                motion to suppress hearing, the state dismissed the case.
                            </li>
                            <li>The jailed client should have been out weeks before we took the case. We were not
                                only able to get him released within a few days of retaining our office, but also
                                get his entire case dismissed.
                            </li>
                        </ul>
                        <p>To learn more about what James R. Dutton, Attorney at Law, can do for you, call our
                            Griffin, Georgia, office by calling 770-229-5959 or by
                            <a href="/Contact.html">sending us an email</a>. Schedule an appointment with a lawyer
                            today.
                        </p>
                    </article>
                </div>
            </div>
            {{> learn-more-side-column}}
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    {{> main-footer}}
</div>
<link as="style"
      href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      onload="this.rel='stylesheet'" rel="preload"/>
Dutton & Dutton, Attorneys at Law

{{> scripts}}
</body>