<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">//</script>
<script>(function (ng, a, g, e, l, i, ve) { l = a.createElement(g), l.async = 1, l.src = ng + e; var c = a.getElementsByTagName(g)[0]; c.parentNode.insertBefore(l, c); var i = a.createElement('div'); var ve = 'style'; i.id = 'nGageLH', i[ve].position = 'fixed', i[ve].right = '0px', i[ve].bottom = '0px', i[ve].zIndex = '5000', a.body && a.body.appendChild(i); }('https://messenger.ngageics.com/ilnksrvr.aspx?websiteid=', document, 'script', '68-56-153-109-2-196-103-2'));</script>
<script type="text/javascript" src="/static/scripts/flDefault-1.0.0.js"></script>
<script type="text/javascript" src="/static/scripts/main.js"></script>
<script type="text/javascript" src="/static/scripts/flScripts-1.0.1.js"></script>
<link href="http://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      rel="preload" as="style" onload="this.rel='stylesheet'">
<noscript>
    <link href="http://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
          rel="stylesheet"></noscript>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/a65/7e7/0b1/2424048bf9d062cdc0aee0e.js" async="async"></script>

<script>var highlightOptions = { pageID: 'Home', pageSection: '', pageSectionTop: '' }</script>
<!--<script>(function (ng, a, g, e, l, i, ve) { l = a.createElement(g), l.async = 1, l.src = ng + e; var c = a.getElementsByTagName(g)[0]; c.parentNode.insertBefore(l, c); var i = a.createElement('div'); var ve = 'style'; i.id = 'nGageLH', i[ve].position = 'fixed', i[ve].right = '0px', i[ve].bottom = '0px', i[ve].zIndex = '5000', a.body && a.body.appendChild(i); }('https://messenger.ngageics.com/ilnksrvr.aspx?websiteid=', document, 'script', '68-56-153-109-2-196-103-2'));</script>-->