<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/" lang="en" class="no-js">
<!--<![endif]-->

<head>
    <title>Identity Fraud Defense | Forgery | James R. Dutton, Attorney at Law</title>
    <meta charset="utf-8">
    <meta name="FSContentType" content="Other">
    <meta name="FSDateCreation" content="05/02/17 07:32 AM">
    <meta name="FSDatePublish" content="05/02/17 07:32 AM">
    <meta name="FSFLContent" content="yes">
    <meta name="FSLanguage" content="en-US">
    <meta name="FSOnSection" content="yes">
    <meta name="FSOnSitemap" content="yes">
    <meta name="FSPagePracticeArea" content="Not Applicable">
    <meta name="FSSearchable" content="yes">
    <meta name="FSTemplateName" content="Not Applicable">
    <meta name="FSWritertoolPageType" content="CustomPage">
    <meta name="FSSection" content="Criminal-Defense">
    <meta name="FSPageName" content="Fraud And Forgery">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="en-US">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <meta name="description"
          content="Charged with identity theft? James R. Dutton, Attorney at Law, in Griffin, provides you with the best possible representation. Call 770-229-5959.">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="https://www.jamesrdutton.com/Criminal-Defense/Identity-Fraud.html" property="og:url">
    <meta content="website" property="og:type">
    <meta content="Identity Fraud Defense | Forgery | James R. Dutton, Attorney at Law" property="og:title">
    <meta content="Charged with identity theft? James R. Dutton, Attorney at Law, in Griffin, provides you with the best possible representation. Call 770-229-5959."
          property="og:description">
    <meta content="en_US" property="og:locale">
    <meta content="James R. Dutton, Attorney at Law" property="og:site_name">
    <meta content="/images/jd2gga-social-media-2018-03-19-06-35-31.png" property="og:image">
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="icon"
          href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=">

    <link rel="canonical" href="https://www.jamesrdutton.com/Criminal-Defense/Identity-Fraud.html">

    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Identity-Fraud Criminal-Defense Criminal-Defense">
<div class="container-page">
    <div class="header-page-wrap">
        <header class="header-page">
            <a href="/" class="brand">
                <img src="/images/brand.png" alt="James R. Dutton, Attorney at Law" class="brand-image">
            </a>
            <div class="cta">
                <div class="cta-text">Call Today!</div>
                <div class="cta-phone touchTel">770-229-5959</div>
            </div>
        </header>
    </div>
    <div class="nav-main-wrap">
        <div class="nav-main-container">
            <a href="#" class="btn-nav-main btn-togglebox" data-target="nav-main"><span class="fa fa-bars"
                                                                                        aria-hidden="true"> </span>Menu</a>
            <a class="contact-btn" href="/Contact.html"><span class="fa fa-map-marker" aria-hidden="true">
                    </span>Contact</a>
            <nav id="nav-main" class="nav-main" data-bp="650" role="navigation">
                <ul>
                    <li class="item-first">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about_dutton_and_dutton.html">About Us</a>
                    </li>
                    <li>
                        <a href="/Testimonials.html">Testimonials</a>
                    </li>
                    <li>
                        <a href="/Representative-Cases.html">Representative Cases</a>
                    </li>
                    <li>
                        <a href="/blog.html">Blog</a>
                    </li>
                    <li class="item-last">
                        <a href="/Contact.html">Contact</a>
                    </li>
                    <li class="togglebox-close">
                        <a href="#" class="close" data-target="nav-main">X Close</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="banner-wrap"></div>
    <div class="container-page2">
        <div class="container-columns">
            <a href="#" class="btn-nav-silo btn-togglebox"><span class="fa fa-bars" aria-hidden="true"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        An Aggressive Legal Response To Fraud And Forgery Charges
                    </h1>
                    <article class="content" id="content">
                        <p>If you have been accused of possessing forged documents, credit card theft, check fraud
                            or unauthorized use of someone's identity or financial accounts, you may be facing
                            serious charges of fraud, forgery or identity theft.</p>
                        <p>Maybe it is all a misunderstanding or stems from a dispute with someone you know that
                            resulted in accusations. You may not have had any intent to commit fraud. No matter how
                            it happened, you need to speak with an attorney, as the consequences from these charges
                            could be significant.</p>
                        <h2>Understanding The Serious Nature Of Fraud Charges</h2>
                        <p>Fraud can be charged as a felony in Georgia. In some cases, you could be facing up to 10
                            years in prison for fraud or use of forged documents. The greater the harm, the more
                            significant the penalties.</p>
                        <p>Our firm can handle a wide variety of cases involving fraud, forgery and
                            misappropriation:</p>
                        <ul>
                            <li>Stolen or forged checks</li>
                            <li>Credit card fraud</li>
                            <li>Selling personal data (credit card numbers, Social Security numbers, etc.)</li>
                            <li>Embezzlement</li>
                            <li>Internet scams</li>
                            <li>Mortgage fraud/bank fraud</li>
                            <li>Identity theft (assuming someone's identity)</li>
                            <li>Forged IDs or immigration papers</li>
                        </ul>
                        <p>If you have been charged with fraud, you need representation from an experienced criminal
                            defense lawyer. At James R. Dutton, Attorney at Law, we understand what is at risk and
                            we work with our clients to defend them from these criminal charges and protect their
                            rights.</p>
                        <h2>Don't Try To Talk Your Way Out Of The Charges</h2>
                        <p>You may think you can explain your way out of these charges. Remember: Everything you say
                            to the police can be used against you in court. Don't try to explain anything. It may
                            make your situation even worse.</p>
                        <p>Politely tell the police you want an attorney and do not speak with them again. Our
                            attorney can do all the talking for you and protect your rights without placing your
                            defense at risk.</p>
                        <h2>Striving For The Best Possible Outcome</h2>
                        <p>Located in Griffin, Georgia, James R. Dutton, Attorney at Law, can help with your
                            identity theft charges. Call our firm today at 770-229-5959, or
                            <a href="/Contact.html">contact us online</a> and allow us to start building an
                            aggressive defense for you.
                        </p>
                    </article>
                </div>
            </div>
            <div class="column-side" role="complementary">
                <div class="contextual-container">
                    <img src="/images/i-criminaldefense.jpg" class="contextual" alt="Contextual">
                </div>
                <nav id="nav-silo" class="nav-silo" data-bp="700" role="navigation">
                    <h4 class="title-silo">Criminal Defense</h4>
                    <ul class="fl-list list-level-1">
                        <li class="fl-list-item list-item-level-1 itemFirst first-child">
                            <a href="/Assault-And-Violent-Crimes.html"
                               class="fl-list-link list-link-level-1">Assault And Violent Crimes</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a href="/Theft-Or-Burglary.html" class="fl-list-link list-link-level-1">Theft Or
                                Burglary</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a href="/Identity-Fraud.html" class="fl-list-link list-link-level-1">Fraud And
                                Forgery</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a href="/Drug-Charges.html" class="fl-list-link list-link-level-1">Drug Charges</a>
                        </li>
                        <li class="fl-list-item list-item-level-1 itemLast last-child">
                            <a href="/Juvenile-Crimes.html" class="fl-list-link list-link-level-1">Juvenile
                                Crimes</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span class="fa fa-envelope" aria-hidden="true"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        <div class="contact-info-short-form-container">
            <div class="contact-left">
                <div class="contact-info">
                    <div class="title-contact-conatiner">
                        <h4 class="title-contact">Our Location</h4>
                    </div>
                    <div class="offices" id="offices" itemref="attorneyProfile attorney-list">
                        <div class="office office-1 office-odd office-first office-last office-griffin">
                            <p>
                                <strong class="office-title">James R. Dutton, Attorney at Law</strong>
                                <br/>
                                <span class="office-address">
                                        <span class="office-street-address"> 113 E. Solomon St.
                                            <br/>
                                        </span>
                                        <span class="office-locality">Griffin</span>,
                                        <span class="office-region">GA</span>
                                        <span class="office-postal-code">30223</span>
                                    </span>
                                <br/>
                                <span class="office-phone office-phone-local office-phone-tracking">
                                        <span class="office-phone-label">Phone</span>:
                                        <span class="office-phone-number"
                                              data-raw-number="7702295959">770-229-5959</span>
                                        <br/>
                                    </span>
                                <span class="office-phone office-phone-local">
                                        <span class="office-phone-label">Fax</span>:
                                        <span class="office-phone-number" itemprop="faxNumber">678-550-9494</span>
                                        <br/>
                                    </span>
                                <a class="office-map-link"
                                   href="https://maps.google.com/?q=James+R.+Dutton,+Attorney+at+Law+113+E.+Solomon+St.+Griffin+GA+30223"
                                   target="_blank">Map &amp; Directions</a>
                                <br/>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="short-form-right">
                <div class="short-form">
                    <h4 class="title-short-form">For Effective Criminal Defense Representation in Central Georgia
                    </h4>
                    <div id="containerIntakeFormShortAutofill">
                        <p>
                            <strong>Bold</strong> labels are required.
                        </p>
                        <form method="post" action="/form-submission" name="intakeFormShortAutofill"
                              id="intakeFormShortAutofill" class="formAutoFill">
                            <fieldset>
                                <legend>
                                    <span>Contact Information</span>
                                </legend>
                                <label for="intakeFormShortName">Name</label>
                                <div class="formHighlight">
                                    <input id="intakeFormIName" name="Name" placeholder="Please enter your name."
                                           type="text"/>
                                </div>
                                <label for="intakeFormShortEmail">
                                    <strong>Email Address</strong>
                                </label>
                                <p data-for="intakeFormShortEmail" role="alert" class="formHide">
                                    <strong>Please enter a valid email address.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Email"
                                           placeholder="Please enter a valid email address."
                                           id="intakeFormShortEmail" class="validate email" title="Email Address"/>
                                    <input type="text" class="hide" name="email2" style="display: none;">

                                </div>
                                <label for="intakeFormShortPhone">Phone</label>
                                <p data-for="intakeFormShortPhone" role="alert" class="formHide">
                                    <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) -
                                        + characters.</strong>
                                </p>
                                <div class="formHighlight">
                                    <input type="text" name="Phone"
                                           placeholder="Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                                           id="intakeFormShortPhone" title="Phone" class="dataCheck number"/>
                                </div>
                                <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                                <div class="formHighlight">
                                        <textarea
                                                name="Brief description of your legal issue|at:message||Please describe your legal issue."
                                                id="intakeFormShortMessage"
                                                title="Brief description of your legal issue" rows="4"
                                                cols="15"></textarea>
                                </div>
                                <div class="formCheck">
                                    <p data-for="intakeFormShortAutofillDisclaimerCheck" role="alert"
                                       class="formHide">
                                        <strong>Please verify that you have read the disclaimer.</strong>
                                    </p>
                                    <label for="intakeFormShortAutofillDisclaimerCheck">
                                        <input type="checkbox"
                                               name="Read disclaimer:||r|Please verify that you have read the disclaimer."
                                               id="intakeFormShortAutofillDisclaimerCheck" class="validate checkbox"
                                               value="yes"/>
                                        <strong>I have read the
                                            <span>disclaimer.</span>
                                        </strong>
                                    </label>
                                    <strong>
                                        <a class="intakeFormShortDisclaimerLink"
                                           href="/Disclaimer.html">disclaimer</a>.
                                    </strong>
                                </div>
                                <input class="intakeFormHiddenInput" type="hidden"
                                       id="checkboxDisclaimerIntakeFormShort"
                                       name="cgi|checkboxDisclaimerIntakeFormShort"
                                       value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
                                <div id="intakeFormShortDisclaimer">
                                    <div>
                                        <p>The use of the Internet or this form for communication with the firm or
                                            any individual member of the firm does not establish an attorney-client
                                            relationship. Confidential or time-sensitive information should not be
                                            sent through this form.</p>
                                        <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                    </div>
                                </div>
                            </fieldset>
                            <p class="intakeFormShortPrivacy">
                                <a href="/Privacy-Policy.html">Privacy Policy</a>
                            </p>
                            <input type="image" src="/images/formSubmitShort.gif" name="Submit" value="Submit"
                                   class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit"/>
                            <input type="submit" name="Submit" value="Submit" class="submit over"
                                   style="display:none;" alt="Submit"
                                   id="submitbtn_intakeFormShortAutofillSubmit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-page-wrap">
        <footer class="footer-page">
            <div class="grade-us-bb-logo-container">
                <ul>
                    <li><a href="/" class="reviewmgr-button" data-content="Review Us" data-replace="false"
                           target="_blank">Review Us</a></li>
                    <li class="itemLast">
                        <a id="bbblink" target="_blank" class="ruhzbus"
                           href="https://www.bbb.org/atlanta/business-reviews/attorneys-and-lawyers/james-r-dutton-pc-in-griffin-ga-27710635#bbbseal"
                           title="James R. Dutton, P.C., Attorneys &amp; Lawyers, Griffin, GA"
                           style="display: block;position: relative;overflow: hidden; width: 100px; height: 45px; margin: 0px; padding: 0px;">
                            <img style="padding: 0px; border: none;" id="bbblinkimg"
                                 src="https://seal-atlanta.bbb.org/logo/ruhzbus/james-r-dutton-pc-27710635.png"
                                 width="200" height="45" alt="BBB accredited business | BBB rating A-">
                        </a>
                        <script
                                type="text/javascript">var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                        document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-atlanta.bbb.org' + unescape('%2Flogo%2Fjames-r-dutton-pc-27710635.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                    </li>
                </ul>
            </div>
            <div class="container-social-cards-backtop">
                <div class="social">
                    <a href="https://www.facebook.com/James-R-Dutton-Attorney-at-Law-821804557956667/"
                       class="facebook" target="_blank">
                        <span> </span>
                    </a>
                    <a href="https://twitter.com/griffinattorney" class="twitter" target="_blank">
                        <span> </span>
                    </a>
                    <a href="https://www.linkedin.com/company/27005689/" class="linkedin" target="_blank">
                        <span> </span>
                    </a>
                </div>
                <div class="payment-cards">
                    <img src="/images/cards.jpg" alt="Payment Cards">
                </div>
                <a href="#" class="back-to-top">Back To Top</a>
            </div>
            <section class="fine-print clearfix">
                <p class="copyright">©
                    2020 by
                    <a target="_blank">James R. Dutton, Attorney at Law</a>. All rights reserved.
                    <a href="/Disclaimer.html">Disclaimer</a> |
                    <a href="/Site-Map.html">Site Map</a>
                </p>
                <p class="branding">
                    <a id="PrivacyPolicy" href="/Privacy-Policy.html">Privacy Policy</a> | <a target="_blank"
                                                                                              rel="nofollow"
                                                                                              href="https://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound">Business
                    Development Solutions</a> by <a target="_blank" href="/">BDS</a>,
                    part of Thomson Reuters.
                </p>
            </section>
        </footer>
    </div>
</div>
<link href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
      rel="preload" as="style" onload="this.rel='stylesheet'">
Dutton & Dutton, Attorneys at Law

{{> scripts}}
</body>