<head>
	<title>Griffin Serious Felony Crimes Defense Lawyer | Drug Crimes | Assault</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Root" name="FSSection" />
	<meta content="Serious Felony Crimes" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Dutton & Dutton, Attorneys at Law, in Griffin, helps clients with serious felony charges. We have helped hundreds of clients. Contact us at 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Serious-Felony-Crimes.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin Serious Felony Crimes Defense Lawyer | Drug Crimes | Assault" property="og:title" />
	<meta content="Dutton & Dutton, Attorneys at Law, in Griffin, helps clients with serious felony charges. We have helped hundreds of clients. Contact us at 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Serious-Felony-Crimes.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Serious-Felony-Crimes">
	<div class="container-page">
		<div class="header-page-wrap">
			<header class="header-page">
				<a class="brand" href="/">
					<img alt="James R. Dutton, Attorney at Law" class="brand-image" src="/images/brand.png" />
				</a>
				<div class="cta">
					<div class="cta-text">Call Today!</div>
					<div class="cta-phone touchTel">770-229-5959</div>
				</div>
			</header>
		</div>
		<div class="nav-main-wrap">
			<div class="nav-main-container">
				<a class="btn-nav-main btn-togglebox" data-target="nav-main" href="#"><span aria-hidden="true"
						  class="fa fa-bars"> </span>Menu</a>
				<a class="contact-btn" href="/Contact.html"><span aria-hidden="true" class="fa fa-map-marker">
					</span>Contact</a>
				<nav class="nav-main" data-bp="650" id="nav-main" role="navigation">
					<ul>
						<li class="item-first">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about_dutton_and_dutton.html">About Us</a>
						</li>
						<li>
							<a href="/Testimonials.html">Testimonials</a>
						</li>
						<li>
							<a href="/Representative-Cases.html">Representative Cases</a>
						</li>
						<li>
							<a href="/blog.html">Blog</a>
						</li>
						<li class="item-last">
							<a href="/Contact.html">Contact</a>
						</li>
						<li class="togglebox-close">
							<a class="close" data-target="nav-main" href="#">X Close</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="banner-wrap"> </div>
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Your Advocate When You Face Serious Felony Charges
						</h1>
						<article class="content" id="content">
							<p>You want an aggressive attorney who can help you understand your situation and how to
								create the best defense to resolve your case. When you are facing a criminal charge, it
								is essential that you have an attorney who can analyze your charges and work with you to
								develop the aggressive defense you want.</p>
							<h2>Do You Face A Serious Felony In Georgia?</h2>
							<p>The difference between a misdemeanor and a felony is strictly arbitrary. It isn't the
								crime that determines the difference; it's the jail or prison sentence. If you are
								sentenced to less than one year, it will be a misdemeanor. If it is a year and one day,
								it is a felony.</p>
							<p>Of course, with a felony, the sentence is rarely a year and one day. It is more often a
								year and nine more, or 29 more. If you are facing a serious felony, it is much more
								likely that you could be facing decades in a Georgia State Penitentiary. Or worse. Some
								crimes in Georgia still carry the death penalty.</p>
							<h2>Serious Felony Charges</h2>
							<p>Serious felonies in Georgia are determined by sentence. They include:</p>
							<ul>
								<li>Murder</li>
								<li>Kidnapping</li>
								<li>Rape</li>
								<li>Voluntary manslaughter</li>
								<li>Carjacking</li>
								<li>Robbery</li>
								<li>Racketeer Influenced and Corrupt Organizations Act (RICO)</li>
							</ul>
							<p>For some felonies, the sentence may be a minimum of 10 years, while others have a minimum
								of 25 years.</p>
							<h2>You Want An Aggressive Attorney Working To Create The Best Defense</h2>
							<p>At our firm, James R. Dutton, Attorney at Law, we know how to deal with serious felony
								charges. We know how prosecutors like to present these cases. We know they often pile on
								the charges, leaving you facing 50, 100 or even 200 years behind bars.</p>
							<p>Prosecutors typically do this to avoid a trial and force an accused to accept a plea
								bargain on the prosecutor's terms. Our lawyer,
								<a href="/Why-You-Need-A-Defense-Attorney.html">James Dutton,</a> has handled more than
								700 cases and has faced nearly 70 different judges in Georgia. We understand how to
								build a defense, question the state's evidence and witnesses and how to negotiate with
								prosecutors.
							</p>
							<p>We work to provide you with the information you need about your case, your prospects at
								trial and potential outcomes. This allows you to make informed decisions regarding how
								to best resolve your charges.</p>
							<h2>For A Serious Felony Charge, Contact Us Today!</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, we understand how to create a defense
								for a serious felony charge. Call now at 770-229-5959 or send us an
								<a href="/Contact.html">email</a>.
							</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-seriousfelonycrimes.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">Learn More</h4>
						<ul>
							<li>
								<a href="/Why-You-Need-A-Defense-Attorney.html">Why You Need A Defense Attorney</a>
							</li>
							<li>
								<a href="/Serious-Felony-Crimes.html">Serious Felony Crimes</a>
							</li>
							<li>
								<a href="/Criminal-Defense.html">Criminal Defense</a>
							</li>
							<li>
								<a href="/DUI.html">DUI</a>
							</li>
							<li>
								<a href="/Traffic-Offenses.html">Traffic offenses</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
     {{> scripts}}
</body>