<head>
	<title>Site Map | James R. Dutton, Attorney at Law | Griffin, GA</title>
	<meta charset="utf-8" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="no" name="FSOnSitemap" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Root" name="FSSection" />
	<meta content="Site Map" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Site-Map.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Site Map | James R. Dutton, Attorney at Law | Griffin, GA" property="og:title" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />
	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Site-Map.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Site-Map">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Site Map
						</h1>
						<article class="content" id="content">
							<ul>
								<li>
									<a href="/Contact.html">Contact</a>
								</li>
								<li>
									<a href="/Criminal-Defense.html">Criminal Defense</a>
									<ul>
										<li>
											<a href="/Assault-And-Violent-Crimes.html">Assault And Violent Crimes</a>
										</li>
										<li>
											<a href="/Drug-Charges.html">Drug Charges</a>
										</li>
										<li>
											<a href="/Identity-Fraud.html">Fraud And Forgery</a>
										</li>
										<li>
											<a href="/Juvenile-Crimes.html">Juvenile Crimes</a>
										</li>
										<li>
											<a href="/Theft-Or-Burglary.html">Theft Or Burglary</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/Disclaimer.html">Disclaimer</a>
								</li>
								<li>
									<a href="/DUI.html">DUI</a>
									<ul>
										<li>
											<a href="/CDL-Defense.html">CDL Defense</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/about_dutton_and_dutton.html">About Us</a>
								</li>
								<li>
									<a href="/Representative-Cases.html">Representative Cases</a>
								</li>
								<li>
									<a href="/Search.html">Search</a>
								</li>
								<li>
									<a href="/Serious-Felony-Crimes.html">Serious Felony Crimes</a>
								</li>
								<li>
									<a href="/Testimonials.html">Testimonials</a>
									<ul>
										<li>
											<a href="/Barnesville-Criminal-Defense-Attorney.html">Barnesville Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Butts-County-Criminal-Defense-Attorney.html">Butts County Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Clayton-County-Criminal-Defense-Attorney.html">Clayton County
												Criminal Defense Attorney</a>
										</li>
										<li>
											<a href="/Griffin-Law-Firm.html">Griffin Law Firm</a>
										</li>
										<li>
											<a href="/Hampton-Criminal-Defense-Attorney.html">Hampton Criminal Defense
												Attorney</a>
										</li>
										<li>
											<a href="/Henry-County-Criminal-Defense-Attorney.html">Henry County Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Lamar-County-Criminal-Defense-Attorney.html">Lamar County Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Locust-Grove-Criminal-Defense-Attorney.html">Locust Grove Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/McDonough-Criminal-Defense-Attorney.html">McDonough Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Monroe-County-Criminal-Defense-Attorney.html">Monroe County
												Criminal Defense Attorney</a>
										</li>
										<li>
											<a href="/Pike-County-Criminal-Defense-Attorney.html">Pike County Criminal
												Defense Attorney</a>
										</li>
										<li>
											<a href="/Spalding-County-Criminal-Defense-Attorney.html">Spalding County
												Criminal Defense Attorney</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/Traffic-Offenses.html">Traffic offenses</a>
									<ul>
										<li>
											<a href="/Traffic-Offenses/Speeding-Tickets.html">Speeding Tickets</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/Why-You-Need-A-Defense-Attorney.html">Why You Need A Defense Attorney</a>
									<ul>
										<li>
											<a href="/Why-You-Need-A-Defense-Attorney/James-R-Dutton.html">James R.
												Dutton</a>
										</li>
									</ul>
								</li>
							</ul>
						</article>
					</div>
				</div>
				{{> learn-more-side-column}}

			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
Dutton & Dutton, Attorneys at Law