<head>
	<title>Speeding Tickets | Dutton & Dutton, Attorneys at Law</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Traffic-Offenses" name="FSSection" />
	<meta content="Speeding Tickets" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Stopped for going too fast and received a speeding ticket? At Dutton & Dutton, Attorneys at Law, in Griffin, we take immediate action. Call 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Traffic-Offenses/Speeding-Tickets.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Speeding Tickets | Dutton & Dutton, Attorneys at Law" property="og:title" />
	<meta content="Stopped for going too fast and received a speeding ticket? At Dutton & Dutton, Attorneys at Law, in Griffin, we take immediate action. Call 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Traffic-Offenses/Speeding-Tickets.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Speeding-Tickets Traffic-Offenses Traffic-Offenses">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Protecting Your License When Facing A Speeding Violation
						</h1>
						<article class="content" id="content">
							<p>You don't want to lose your license to a suspension because of a speeding ticket. If you
								received a speeding ticket on I-75 or anywhere in Georgia, take it seriously and take an
								attorney with you to court. We have often seen people who were nonchalant about a
								ticket, and end up with their driver's license suspended because they went to court
								without legal advocacy.</p>
							<p>Speeding tickets can result in suspension under Georgia's point system. They also count
								in your home state if you are not a Georgia resident. Under-21 drivers and CDL drivers
								must take any ticket very seriously. Contact Dutton & Dutton, Attorneys at Law, for a
								free consultation and learn how we can help.</p>
							<h2>Understanding The Local Rules Pertaining To Speeding Tickets</h2>
							<p>We represent individuals throughout Central Georgia. Based in Griffin, we represent
								people who are pulled over for speeding offenses and other <a
								   href="/Traffic-Offenses/">traffic and license offenses</a> in the counties of Central
								Georgia that flank Interstate 75. Our clients are often truck drivers, and other
								out-of-state drivers who often do not realize the jeopardy of pleading guilty to a
								speeding violation and paying the fine.</p>
							<p>If you were clocked at 14 mph over the limit or less, you may or may not be safe
								depending on the county where you were ticketed. It should not count as points against
								your Georgia license or appear on your record in your home state. Contact an attorney to
								be sure!</p>
							<h2>Points That Add Up</h2>
							<p>For exceeding the speed limit by 15 mph or more, you definitely need an attorney to get
								it reduced. Georgia has a graduated point system for speeding tickets:</p>
							<ul>
								<li>15 to 18 mph over = 2 points</li>
								<li>19 to 23 mph over = 3 points</li>
								<li>24 to 33 mph over = 4 points</li>
								<li>34 mph or more above the limit = 6 points</li>
							</ul>
							<p>Drivers under age 21 can lose their license for a four-point offense (such as 80 mph on a
								55 mph highway), or any combination of four points in 12 months.</p>
							<h2>Could You Lose Your Job Due To A Speeding Ticket?</h2>
							<p>In most cases, we can represent drivers from out of state, including CDL drivers, via
								phone, email and fax so that they do not have to return to Georgia to appear in court.
								If you are a Georgia resident, our attorney can represent you in municipal court, in
								license suspension hearings and during the license reinstatement process.</p>
							<p>Our lawyer knows how to negotiate with prosecutors to reduce speeding tickets, either to
								a lower speed offense or a no-point citation. We can pull your driving record to learn
								the potential ramifications for your Georgia license, CDL license or driving privileges
								in your home state.</p>
							<h2>Efficient And Effective Resolution Of Your Speeding Ticket Matter</h2>
							<p>At Dutton & Dutton, Attorney at Law, in Griffin, Georgia, we know how to help drivers
								with speeding tickets. Call now at 770-229-5959 or <a href="/Contact.html">send us an
									email</a>.</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-trafficoffenses.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">Traffic Offenses </h4>
						<ul class="fl-list list-level-1">
							<li class="fl-list-item list-item-level-1 itemOnly only-child">
								<a class="fl-list-link list-link-level-1"
								   href="/Traffic-Offenses/Speeding-Tickets.html">Speeding Tickets</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
{{> scripts}}
</body>