<head>
    <title>Testimonials | Dutton & Dutton, Attorneys at Law | Griffin, GA</title>
    <meta charset="utf-8" />
    <meta content="default.html"
          name="FSChildTemplate" />
    <meta content="Other"
          name="FSContentType" />
    <meta content="05/02/17 07:32 AM"
          name="FSDateCreation" />
    <meta content="05/02/17 07:32 AM"
          name="FSDatePublish" />
    <meta content="yes"
          name="FSFLContent" />
    <meta content="en-US"
          name="FSLanguage" />
    <meta content="yes"
          name="FSOnSection" />
    <meta content="yes"
          name="FSOnSitemap" />
    <meta content="Not Applicable"
          name="FSPagePracticeArea" />
    <meta content="yes"
          name="FSSearchable" />
    <meta content="Not Applicable"
          name="FSTemplateName" />
    <meta content="CustomPage"
          name="FSWritertoolPageType" />
    <meta content="Testimonials"
          name="FSSection" />
    <meta content="Testimonials"
          name="FSPageName" />
    <meta content="IE=edge,chrome=1"
          http-equiv="X-UA-Compatible" />
    <meta content="en-US"
          http-equiv="content-language" />
    <link href="//ajax.googleapis.com"
          rel="dns-prefetch" />
    <meta content="To find out more about what Dutton & Dutton, Attorneys at Law, provides its clients, call 770-229-5959 to reach our Griffin office."
          name="description" />
    <meta content="telephone=no"
          name="format-detection" />
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport" />
    <meta content="https://www.jamesrdutton.com/Testimonials/"
          property="og:url" />
    <meta content="website"
          property="og:type" />
    <meta content="Testimonials | Dutton & Dutton, Attorneys at Law | Griffin, GA"
          property="og:title" />
    <meta content="To find out more about what Dutton & Dutton, Attorneys at Law, provides its clients, call 770-229-5959 to reach our Griffin office."
          property="og:description" />
    <meta content="en_US"
          property="og:locale" />
    <meta content="Dutton & Dutton, Attorneys at Law"
          property="og:site_name" />
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image" />


    <link href="/styles/site.css"
          rel="stylesheet" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon" />


    <link href="https://www.jamesrdutton.com/Testimonials/"
          rel="canonical" />
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';
        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style=""
      class="design Testimonials Testimonials Testimonials">
    <div class="container-page">
        {{> main-header}}
        <div class="container-page2">
            <div class="container-columns">
                <a class="btn-nav-silo btn-togglebox"
                   href="#"><span aria-hidden="true"
                          class="fa fa-bars"> </span>View
                    Related Topics</a>
                <div class="container-column-main">
                    <div class="column-main"
                         role="main">
                        <h1 class="page-title">
                            Testimonials
                        </h1>
                        <article class="content"
                                 id="content">
                            <p>Reviews by location:</p>
                            <ul>
                                <li>
                                    <a href="/Barnesville-Criminal-Defense-Attorney.html">Barnesville</a>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Butts-County-Criminal-Defense-Attorney.html">Butts County</a>
                                    </p>
                                </li>
                                <li>
                                    <a href="/Clayton-County-Criminal-Defense-Attorney.html">Clayton County</a>
                                </li>
                                <li>
                                    <a href="/Griffin-Law-Firm.html">Griffin</a>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Hampton-Criminal-Defense-Attorney.html">Hampton</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Henry-County-Criminal-Defense-Attorney.html">Henry County</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Lamar-County-Criminal-Defense-Attorney.html">Lamar County</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Locust-Grove-Criminal-Defense-Attorney.html">Locust Grove</a>
                                    </p>
                                </li>
                                <li>
                                    <a href="/McDonough-Criminal-Defense-Attorney.html">McDonough</a>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Monroe-County-Criminal-Defense-Attorney.html">Monroe County</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="/Pike-County-Criminal-Defense-Attorney.html">Pike County</a>
                                    </p>
                                </li>
                                <li>
                                    <a href="/Spalding-County-Criminal-Defense-Attorney.html">Spalding County</a>
                                </li>
                            </ul>
                            <h2>Seth Monson</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 29, 2016 "He's a good man with integrity that I'd trust with my life."</p>
                            <h4>"I Trust James With My Life"</h4>
                            <hr />
                            <h2>Zachary Davis</h2>
                            <h3>Thomaston, GA</h3>
                            <p>"Debra is one of the most </p>
                            <h4>intelligent and profound legal minds in the community today."</h4>
                            <hr>
                            <h2>Paige Dorton</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 31, 2016 "His character and nature is exactly what the judicial system needs."
                            </p>
                            <h4>"Exactly What The Judicial System Needs"</h4>
                            <hr />
                            <h2>Anthony A</h2>
                            <h3>Spalding County, GA</h3>
                            <p>"Good service and very professional. Someone I would definitely recommend. The customer
                                service was also very good.
                                Every time I had a question there was an immediate answer. "</p>
                            <h4>If anything popped up they took care of everything. Dutton & Dutton is a professional
                                law firm in Spalding County, GA.</h4>
                            <hr>
                            <h2>Jacob Tingen</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 27, 2016 "I am an attorney who has worked with James Dutton, and I can tell
                                you that he is a dedicated lawyer who puts in the time and effort to get the job done
                                right. Hire this one. You won't regret it."</p>
                            <h4>"A Dedicated Lawyer"</h4>
                            <hr />
                            <h2>Melanie N</h2>
                            <h3>Spalding County, GA</h3>
                            <p>"You all were very attentive in your service. I really appreciated your availability. To
                                be willing to stay later and
                                work with me and my schedule at different hours. </p>
                            <h4>Debbie Dutton is an Attorney with Best Service in Spalding County,
                                GA.."</h4>
                            <hr>
                            <h2>Louis Baxter</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 27, 2016 "I have had the privilege of having James Dutton represent me and I
                                can testify that he is without a doubt the most professional person I have ever met. His
                                highly valued integrity, tireless work ethic, and incredible talent make him an asset to
                                anyone requiring the services of an attorney. If you want it done right, do yourself a
                                favor and call Dutton & Dutton, Attorneys at Law."</p>
                            <h4>"Integrity, Tireless Work Ethic, And Incredible Talent"</h4>
                            <hr />
                            <h2>Ashley Culberson</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 27, 2016 "I personally know and work with James and he is not only a smart and
                                outstanding attorney, but he also has a big heart that wants to be a help to people no
                                matter what they may need help with. I am ever grateful to God to have him and his great
                                family in my path of life."</p>
                            <h4>"A Smart And Outstanding Attorney"</h4>
                            <hr />
                            <h2>Trevor Leavitt</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Oct. 29, 2016 "James R. Dutton is one of those rare people who doesn't do his job
                                for the money but genuinely does his job for his clients. He cares about people. He
                                listens to your problems first, then acts accordingly to ensure your problems are taken
                                care of thoroughly. He holds himself to honorable standards and deals with any case with
                                honesty and integrity that we just don't see these days. I'd recommend him to anyone."
                            </p>
                            <h4>"He Holds Himself To Honorable Standards"</h4>
                            <hr />
                            <h2>Stephen</h2>
                            <h3>Spalding County, Georgia</h3>
                            <p>Date: July 26, 2016 "I have worked with Bridget on several occasions while she was with
                                another firm.
                                <br />
                                <br /> I cannot imagine getting through difficult cases without her. Bridget is the
                                epitome of professionalism, always keeping me informed about my cases, ready with an
                                answer, and there to ensure that all that needed doing was done.
                                <br />
                                <br /> More importantly, Bridget was always there with a kind word, a big smile,
                                reassuring me that all was well. Without Bridget, difficult times would have been
                                impossible. Thank you, Bridget!"
                            </p>
                            <h4>"I Cannot Imagine Getting Through Difficult Cases Without Her"</h4>
                            <hr />
                            <h2>Rodney C</h2>
                            <h3>Griffin, Georgia</h3>
                            <p>Date: Aug. 4, 2016 "This was my first experience with an attorney in regard to the
                                judicial system and my anxiety was quite high. Bridget and Ashley's professionalism put
                                me at ease as I was walked through in full detail each step I would encounter.
                                <br />
                                <br /> Their sincerity was genuine and I was never left in the dark. Thanks to the hard
                                work of their firm what would have resulted in a criminal record was reduced to a minor
                                traffic violation.
                            </p>
                            <p>To learn more about what our services provide, contact Dutton & Dutton, Attorneys at Law,
                                by calling 770-229-5959 or by
                                <a href="/Contact.html">sending us an email</a> to our Griffin, Georgia, office.
                                <br />
                                <br />
                            </p>
                        </article>
                    </div>
                </div>
                {{> learn-more-side-column}}
            </div>
        </div>
        <a class="btn-short-form"
           href="/Contact.html"><span aria-hidden="true"
                  class="fa fa-envelope"> </span>Email Us
            For A Response</a>
        {{> main-footer}}

    </div>
    <link as="style"
          href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
          onload="this.rel='stylesheet'"
          rel="preload" />
    {{> scripts}}
</body>