<head>
    <title>Griffin Theft Defense | Burglary | Criminal Law Firm</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Theft Or Burglary" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="Attorney James Dutton has helped more than 700 clients with criminal charges. Call our Griffin law office at 770-229-5959 so we can help you."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Criminal-Defense/Theft-Or-Burglary.html" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Theft Defense | Burglary | Criminal Law Firm" property="og:title"/>
    <meta content="Attorney James Dutton has helped more than 700 clients with criminal charges. Call our Griffin law office at 770-229-5959 so we can help you."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon"/>


    <link href="https://www.jamesrdutton.com/Criminal-Defense/Theft-Or-Burglary.html" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Theft-Or-Burglary Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> main-header}}
    <div class="container-page2">
        <div class="container-columns">
            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <h1 class="page-title">
                        Taking Theft And Burglary Charges Seriously
                    </h1>
                    <article class="content" id="content">
                        <p>You may think because you are charged with a property crime, like burglary or some other
                            type of property theft, that you do not need to be concerned with the charges. Yes, the
                            penalties are less severe for most property crimes, but every criminal charge is a
                            threat to your liberty.</p>
                        <p>There is also the cumulative effect. If you have prior convictions, any additional
                            convictions or guilty pleas could allow for more severe sentencing and longer prison
                            terms, especially if you are charged with a violent crime or a serious felony.</p>
                        <h2>There Are No Short Cuts For Criminal Charges. Don't Dismiss A Theft Or Burglary Charge.
                        </h2>
                        <p>Our attorney knows the risks presented by every criminal charge and works to defend our
                            clients aggressively. Our team at Dutton & Dutton, Attorneys at Law, is experienced with
                            a wide range of criminal charges, and our lawyer has represented hundreds of clients in
                            courtrooms across Central Georgia.</p>
                        <p>We know there are no shortcuts when developing an effective defense for theft or burglary
                            charges. We examine the facts of the case, and carefully inspect every element to
                            determine where the prosecution's case is weak or questionable. Did you enter a
                            building? Was it a "smash and grab?" Is it based on eyewitness testimony or video? Can
                            they trace physical evidence to you? Could restitution or a return of property resolve
                            the matter?</p>
                        <p>Our firm wants to help you develop a strong defense and to resolve the criminal charges
                            in a way that allows you put this unfortunate incident behind you. Our experience
                            provides us the ability to analyze your situation and propose a solution that will
                            brighten your future.</p>
                        <h2>Attorney Providing The Representation You Need And Deserve</h2>
                        <p>Located in Griffin, Georgia, Dutton & Dutton, Attorneys at Law, can help defend your theft
                            or burglary charges. Call our firm today at 770-229-5959, or send us an <a
                                    href="/Contact.html">email</a> and give us an opportunity to start building an
                            aggressive defense for you.</p>
                    </article>
                </div>
            </div>
            <div class="column-side" role="complementary">
                <div class="contextual-container">
                    <img alt="Contextual" class="contextual" src="/images/i-criminaldefense.jpg"/>
                </div>
                <nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
                    <h4 class="title-silo">Criminal Defense</h4>
                    <ul class="fl-list list-level-1">
                        <li class="fl-list-item list-item-level-1 itemFirst first-child">
                            <a class="fl-list-link list-link-level-1"
                               href="/Assault-And-Violent-Crimes.html">Assault And Violent
                                Crimes</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a class="fl-list-link list-link-level-1"
                               href="/Theft-Or-Burglary.html">Theft Or Burglary</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a class="fl-list-link list-link-level-1"
                               href="/Identity-Fraud.html">Fraud And Forgery</a>
                        </li>
                        <li class="fl-list-item list-item-level-1">
                            <a class="fl-list-link list-link-level-1"
                               href="/Drug-Charges.html">Drug Charges</a>
                        </li>
                        <li class="fl-list-item list-item-level-1 itemLast last-child">
                            <a class="fl-list-link list-link-level-1"
                               href="/Juvenile-Crimes.html">Juvenile Crimes</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
        For A Response</a>
    <div class="contact-info-short-form-wrap">
        {{>main-footer}}
    </div>
    <link as="style"
          href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
          onload="this.rel='stylesheet'" rel="preload"/>
    Dutton & Dutton, Attorneys at Law

    {{> scripts}}
</body>