<head>
    <title>Griffin Bankruptcy Attorney</title>
    <meta charset="utf-8"/>
    <meta content="Other" name="FSContentType"/>
    <meta content="05/02/17 07:32 AM" name="FSDateCreation"/>
    <meta content="05/02/17 07:32 AM" name="FSDatePublish"/>
    <meta content="yes" name="FSFLContent"/>
    <meta content="en-US" name="FSLanguage"/>
    <meta content="yes" name="FSOnSection"/>
    <meta content="yes" name="FSOnSitemap"/>
    <meta content="Not Applicable" name="FSPagePracticeArea"/>
    <meta content="yes" name="FSSearchable"/>
    <meta content="Not Applicable" name="FSTemplateName"/>
    <meta content="CustomPage" name="FSWritertoolPageType"/>
    <meta content="Criminal-Defense" name="FSSection"/>
    <meta content="Bankruptcy" name="FSPageName"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="en-US" http-equiv="content-language"/>
    <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
    <meta content="When facing bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          name="description"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="https://www.jamesrdutton.com/Debt-Relief" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="Griffin Bankruptcy Attorney" property="og:title"/>
    <meta content="When facing bankruptcy, don't go it alone. Dutton & Dutton, Attorneys at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
          property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name"/>
    <meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
          property="og:image"/>


    <link href="/styles/site.css" rel="stylesheet"/>
    {{!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon"/> --}}

    {{!--  --}}
    <link href="https://www.jamesrdutton.com/Debt-Relief" rel="canonical"/>
    <script type="text/javascript">
        var fs3_inPublish = true; // a flag to mark publish mode
        var FSSitePath = '';

        function BuildPath(path) {
            return path;
        }
    </script>

</head>

<body style="" class="design Drug-Charges Criminal-Defense Criminal-Defense">
<div class="container-page">
    {{> debra-main-header}}
    <div class="container-page2">

        <div class="container-columns">

            <a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
                Related Topics</a>
            <div class="container-column-main">
                <div class="column-main" role="main">
                    <article class="content" id="content">
                        <div class="debt-to-know">
                            <h1 class="page-title">Top 5 Things To Know <br> About Debt
                                Relief & Bankruptcy!
                            </h1>
                            <div class="debt-info">
                                <div>
                                    <ol>
                                        <li>You can keep your house and cars.</li>
                                        <li>Filing for bankruptcy stops foreclosures & repossessions.</li>
                                        <li>Filing for bankruptcy stops law suits, judgements and wage garnishments.
                                        </li>
                                        <li>Filing for bankruptcy stops penalties and interest on IRS debt.</li>
                                        <li>Personal Bankruptcy is not announced to the public.</li>
                                    </ol>
                                    <h3>If you are looking for a fresh start and escape from seemingly impossible debt,
                                        you can
                                        get the help you need by <a href="/Contact">contacting Dutton & Dutton Law Firm,
                                            LLC</a>
                                        Today.

                                    </h3>
                                </div>
                                <img src="images/debt-relief.jpg" alt="">

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg">
        <div class="debt-stop">
            <h3>Stop Foreclosure & Repossession! <br>No More Harassing Phone Calls! <br>End
                Stress &
                Sleepless Nights! <br> Eliminate Tax Penalties </h3>
            <img src="images/bankruptcy_landing.jpg" alt="bankruptcy image" width="300px">
        </div>

    </div>
    {{> learn-more-side-column-civil}}

    <a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
        Us For A Response</a>
    {{> debra-main-footer}}
</div>
Dutton & Dutton, Attorneys at Law
{{> scripts}}
</body>
