<head>
	<title>Griffin Traffic Offense Lawyer | Dutton & Dutton, Attorneys at Law</title>
	<meta charset="utf-8" />
	<meta content="default.html" name="FSChildTemplate" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Traffic-Offenses" name="FSSection" />
	<meta content="Traffic Offenses" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="At Dutton & Dutton, Attorneys at Law, in Griffin, we provide experienced representation for traffic tickets. Call our law firm at 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Traffic-Offenses/" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin Traffic Offense Lawyer | Dutton & Dutton, Attorneys at Law" property="og:title" />
	<meta content="At Dutton & Dutton, Attorneys at Law, in Griffin, we provide experienced representation for traffic tickets. Call our law firm at 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/Traffic-Offenses/" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Traffic-Offenses Traffic-Offenses Traffic-Offenses">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							Don't Give Up On A Traffic Ticket
						</h1>
						<article class="content" id="content">
							<p>Any traffic violation counts as points against your driver's license. Some traffic
								offenses are charged as misdemeanor crimes. From jail or license suspension to major
								fines and higher insurance rates, you need to know the consequences and you need a
								lawyer who can do something about it.</p>
							<h2>The Traffic Violation Cases We Handle</h2>
							<p>At James R. Dutton, Attorney at Law, based in Griffin, Georgia, we practice in the
								surrounding jurisdictions of Central Georgia, including the I-75 corridor of Henry,
								Spalding, Lamar, Butts and Monroe counties.</p>
							<p>We handle traffic violations, including:</p>
							<ul>
								<li>Reckless driving or racing</li>
								<li>Aggressive driving (road rage)</li>
								<li>Driving while license suspended or revoked</li>
								<li>Driving without insurance</li>
								<li>Hit-and-run (leaving the scene of an accident)</li>
								<li>Drunk driving (DUI)</li>
								<li>Vehicular assault/vehicular homicide</li>
								<li><a href="/Traffic-Offenses/Speeding-Tickets.html">Speeding tickets</a></li>
								<li>Unlawfully passing a school bus</li>
								<li>Construction zone violations (double fines and points)</li>
								<li>Running a red light or stop sign</li>
								<li>Improper passing or lane violations</li>
								<li>Trucking violations (DOT or GDOT regulations)</li>
							</ul>
							<h2>Special Concerns For CDLs And Young Drivers</h2>
							<p>Drivers under age 21 may be subject to automatic suspension for one serious traffic
								offense or any combination of four points in a 12-month period.</p>
							<p>Drivers with commercial driver's licenses (CDLs) are under a different system that can
								lead to suspension of their CDL privileges, even if they were driving their personal
								vehicle when the ticket was issued. I will fight to protect your livelihood.</p>
							<p>Nonresidents cited in Georgia often do not realize that a traffic citation can follow
								them back home. Our firm may be able to resolve your case here in Georgia to keep it off
								your driving record in your home state.</p>
							<h2>Protecting Your License By Providing You The Best Possible Defense</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, Georgia, we know the loss of a license
								is more than a little inconvenience. Call now at 770-229-5959 or send us an <a
								   href="/Contact.html">email</a>.</p>
						</article>
					</div>
				</div>
				<div class="column-side" role="complementary">
					<div class="contextual-container">
						<img alt="Contextual" class="contextual" src="/images/i-trafficoffenses.jpg" />
					</div>
					<nav class="nav-silo" data-bp="700" id="nav-silo" role="navigation">
						<h4 class="title-silo">Traffic Offenses</h4>
						<ul class="fl-list list-level-1">
							<li class="fl-list-item list-item-level-1 itemOnly only-child">
								<a class="fl-list-link list-link-level-1"
								   href="/Traffic-Offenses/Speeding-Tickets.html">Speeding Tickets</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
	<noscript>
		<link href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
			  rel="stylesheet" /></noscript>
	<script>!function (e) { "use strict"; var t = function (t, n, r) { function o(e) { return i.body ? e() : void setTimeout(function () { o(e) }) } function a() { d.addEventListener && d.removeEventListener("load", a), d.media = r || "all" } var l, i = e.document, d = i.createElement("link"); if (n) l = n; else { var s = (i.body || i.getElementsByTagName("head")[0]).childNodes; l = s[s.length - 1] } var u = i.styleSheets; d.rel = "stylesheet", d.href = t, d.media = "only x", o(function () { l.parentNode.insertBefore(d, n ? l : l.nextSibling) }); var f = function (e) { for (var t = d.href, n = u.length; n--;)if (u[n].href === t) return e(); setTimeout(function () { f(e) }) }; return d.addEventListener && d.addEventListener("load", a), d.onloadcssdefined = f, f(a), d }; "undefined" != typeof exports ? exports.loadCSS = t : e.loadCSS = t }("undefined" != typeof global ? global : this), function (e) { if (e.loadCSS) { var t = loadCSS.relpreload = {}; if (t.support = function () { try { return e.document.createElement("link").relList.supports("preload") } catch (e) { return !1 } }, t.poly = function () { for (var t = e.document.getElementsByTagName("link"), n = 0; n < t.length; n++) { var r = t[n]; "preload" === r.rel && "style" === r.getAttribute("as") && (e.loadCSS(r.href, r, r.getAttribute("media")), r.rel = null) } }, !t.support()) { t.poly(); var n = e.setInterval(t.poly, 300); e.addEventListener && e.addEventListener("load", function () { t.poly(), e.clearInterval(n) }), e.attachEvent && e.attachEvent("onload", function () { e.clearInterval(n) }) } } }(this);</script>
	<link href="./images/apple-touch-icon.png" rel="apple-touch-icon" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">//</script>
	
	<script>var highlightOptions = { pageID: 'Traffic-Offenses', pageSection: 'Traffic-Offenses', pageSectionTop: 'Traffic-Offenses' }</script>


	<script
			src="//www.jamesrdutton.com/tag-manager/9725f37c2c3899053569bb6afb8a3d51bc224d94/satelliteLib-5ac9f7d6c64aaca0ea4f2c891947b1261d9c0e6e.js"></script>
	<script>(function{ l = a.createElement(g), l.async = 1, l.src = ng + e; var c = a.getElementsByTagName(g)[0]; c.parentNode.insertBefore(l, c); var i = a.createElement('div'); var ve = 'style'; i.id = 'nGageLH', i[ve].position = 'fixed', i[ve].right = '0px', i[ve].bottom = '0px', i[ve].zIndex = '5000', a.body && a.body.appendChild(i); }('http://messenger.ngageics.com/ilnksrvr.aspx?websiteid=', document, 'script', '68-56-153-109-2-196-103-2'));</script>
{{> scripts}}
</body>