<head>
	<title>Why You Need A Defense Attorney | James R. Dutton, Attorney at Law</title>
	<meta charset="utf-8" />
	<meta content="default.html" name="FSChildTemplate" />
	<meta content="About" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="Attorneys" name="FSWritertoolPageType" />
	<meta content="Why-You-Need-A-Defense-Attorney" name="FSSection" />
	<meta content="Why You Need A Defense Attorney" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Our criminal defense attorney at James R. Dutton, Attorney at Law, in Griffin, has represented more than 700 clients. Call us now at 770-229-5959."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.duttonlawga.com/Why-You-Need-A-Defense-Attorney/" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Why You Need A Defense Attorney | James R. Dutton, Attorney at Law" property="og:title" />
	<meta content="Our criminal defense attorney at James R. Dutton, Attorney at Law, in Griffin, has represented more than 700 clients. Call us now at 770-229-5959."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.duttonlawga.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />
	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.duttonlawga.com/Why-You-Need-A-Defense-Attorney/" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Why-You-Need-A-Defense-Attorney Why-You-Need-A-Defense-Attorney Why-You-Need-A-Defense-Attorney">
	<div class="container-page">
		{{> main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							If You Are Charged With A Crime, Who Is Working For Your Defense?
						</h1>
						<article class="content" id="content">
							<p>If you have been charged with a criminal offense, it can be a frightening moment. You may
								not understand all of the charges you are facing and you may not know where to turn. You
								may wonder why you need a defense attorney. Won't the prosecutor offer you the same
								deal?</p>
							<h2>The Prosecutor Is Not On Your Side</h2>
							<p>In the criminal justice system, the state has two entities working to convict
								individuals: the police and the prosecutors. The police investigate and arrest those
								accused and the prosecutors work to obtain convictions. The prosecutor wants you
								convicted.</p>
							<h2>You Remain 100 Percent In Control Of Your Future</h2>
							<p>At James R. Dutton, Attorney at Law, we develop an aggressive defense to help you reach
								your goal. We know from experience that most people can recover from these incidents and
								become responsible citizens again. We can help you recover your future and avoid the
								problems that led to these unfortunate incidents. When you work with us, you will remain
								in 100 percent control of your case.</p>
							<h2>Experience That Matters</h2>
							<p>Our lawyer has helped over 700 clients. Working with that many clients means he has
								real-world, courtroom experience with a vast range of criminal charges. It also means he
								has opposed many prosecutors and understands much of how they think and build their
								cases. It is also important for your attorney to have experience with a variety of
								judges. Our attorney has experience in more than 60 courtrooms.</p>
							<h2>A Holistic Approach</h2>
							<p>Our firm knows that some charges are the result of difficulties in your life. You may
								have a substance addiction or other personal issues. Maybe you have fallen in with the
								wrong crowd. Whatever your situation, the ultimate goal of our firm is to develop a
								solution and work to make this incident the last one that leads to interaction with law
								enforcement or the criminal justice system.</p>
							<p>Some attorneys present a plea to their clients, perhaps telling them "this is the best
								deal you will get." James Dutton is different. He takes the time to explain your case,
								your charges and all of the potential outcomes. If you decide to go to trial, you will
								know what the risks are, and if you decide to accept a plea, you will thoroughly
								understand exactly how the agreement will work.</p>
							<ul>
								<li class="itemOnly">
									<a href="/Why-You-Need-A-Defense-Attorney/James-R-Dutton.html">James R. Dutton</a>
								</li>
							</ul>
							<h2>Let Us Help You</h2>
							<p>At James R. Dutton, Attorney at Law, in Griffin, we know how to protect your rights and
								work for the best resolution available in your case. Call now at 770-229-5959 or contact
								us by <a href="/Contact.html">email</a>.</p>
						</article>
					</div>
				</div>
				{{> learn-more-side-column}}

			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.duttonlawga.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
     {{> scripts}}
</body>