<head>
	<title>Griffin Will Attorney</title>
	<meta charset="utf-8" />
	<meta content="Other" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSection" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="CustomPage" name="FSWritertoolPageType" />
	<meta content="Criminal-Defense" name="FSSection" />
	<meta content="Will" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="When facing Will, don't go it alone. Dutton and Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
		  name="description" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/Will.html" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin Will Attorney" property="og:title" />
	<meta content="When facing Will, don't go it alone. James R. Dutton, Attorney at Law, in Griffin, will assist you. Call 770-229-5959 or contact us online."
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="James R. Dutton, Attorney at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />

	
		<link href="/styles/site.css" rel="stylesheet" />
	{{!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon"/> --}}

	{{!--  --}}
	<link href="https://www.jamesrdutton.com/Will.html" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Drug-Charges Criminal-Defense Criminal-Defense">
	<div class="container-page">
		{{> debra-main-header}}
		<div class="container-page2">
			<div class="container-columns">
				<a class="btn-nav-silo btn-togglebox" href="#"><span aria-hidden="true" class="fa fa-bars"> </span>View
					Related Topics</a>
				<div class="container-column-main">
					<div class="column-main" role="main">
						<h1 class="page-title">
							At Your Side When creating your will or estate plan!
						</h1>
						<article class="content" id="content">
							<p>We offer drafting of Wills and Estate Plans. Call today to work with us on helping you!</p>
                            <p>When a client meets with us about Estate Planning we usually find that in order to take care of
                            their future needs and desires they will need a Last Will & Testament, a Financial Power of Attorney, a Health Care
                            Power of Attorney and a Living Will.</p>
							<h2>Experienced Will Drafting and Estate Planning for YOU!</h2>
							<p>At Dutton & Dutton, Attorneys at Law, in Griffin, Georgia, we know how difficult it
								be to create the proper plan. Don't do it alone! Call our firm today at
								770-229-5959 or contact us
								<a href="/Contact.html">online</a> and let us provide you with the right solution!
							</p>
						</article>
					</div>
				</div>
				{{> learn-more-side-column-civil}}
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email
			Us For A Response</a>
		{{> debra-main-footer}}
	</div>
    {{> scripts}}
</body>
