<head>
	<title>Griffin Criminal Defense Attorney | Domestic Violence | Drug Crimes | Felony Defense | Bankruptcy</title>
	<meta charset="utf-8" />
	<meta content="Home" name="FSContentType" />
	<meta content="05/02/17 07:32 AM" name="FSDateCreation" />
	<meta content="05/02/17 07:32 AM" name="FSDatePublish" />
	<meta content="yes" name="FSFLContent" />
	<meta content="en-US" name="FSLanguage" />
	<meta content="yes" name="FSOnSitemap" />
	<meta content="Not Applicable" name="FSPagePracticeArea" />
	<meta content="yes" name="FSSearchable" />
	<meta content="Not Applicable" name="FSTemplateName" />
	<meta content="Home" name="FSWritertoolPageType" />
	<meta content="Root" name="FSSection" />
	<meta content="Home" name="FSPageName" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="en-US" http-equiv="content-language" />
	<link href="//ajax.googleapis.com" rel="dns-prefetch" />
	<meta content="Dutton & Dutton, Attorneys at Law, provides experienced criminal defense representation in Griffin, Georgia. Call 770-229-5959 now to let us help!"
		  name="description" />
	<meta content="noodp, noydir" name="robots" />
	<meta content="lUm82Ho6iRwU6SuEiNgxGVTeywk64P3_eW6JvfNAq4E" name="google-site-verification" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="https://www.jamesrdutton.com/" property="og:url" />
	<meta content="website" property="og:type" />
	<meta content="Griffin Criminal Defense Attorney | Domestic Violence | Drug Crimes | Felony Defense"
		  property="og:title" />
	<meta content="Dutton & Dutton, Attorneys at Law, provides experienced criminal defense representation in Griffin, Georgia. Call 770-229-5959 now to let us help!"
		  property="og:description" />
	<meta content="en_US" property="og:locale" />
	<meta content="Dutton & Dutton, Attorneys at Law" property="og:site_name" />
	<meta content="https://www.jamesrdutton.com./images/jd2gga-social-media-2018-03-19-06-35-31.png"
		  property="og:image" />
	
		<link href="/styles/site.css" rel="stylesheet" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		  rel="icon" />
	

	<link href="https://www.jamesrdutton.com/" rel="canonical" />
	<script type="text/javascript">
		var fs3_inPublish = true; // a flag to mark publish mode
		var FSSitePath = '';
		function BuildPath(path) {
			return path;
		}
	</script>

</head>

<body style="" class="design Home Home">
	<div class="container-page">
		{{> header}}
		{{> nav}}
		<div class="banner-wrap">
			<div class="banner">
				<div class="tagline-container">
					<div class="tagline">
						<h2>Aggressive Criminal Defense Throughout Central Georgia</h2>
					</div>
					<div class="sub-tagline">
						<p>Facing a criminal charge is a serious matter. You don't just want a good defense, you want a
							great defense. At James R. Dutton, Attorney at Law, you will meet a team of individuals
							working to create that defense for your criminal charges.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-prac-wrap">
			<div class="nav-practice-container">
				<a class="btn-nav-practice btn-togglebox" data-target="nav-practice" href="#"><span aria-hidden="true"
						  class="fa fa-bars"> </span>View Our Practice Areas</a>
				<nav class="nav-practice" data-bp="650" id="nav-practice" role="navigation">
					<ul>
						<li class="nav-prac-dui">
							<a href="/DUI.html">DUI</a>
						</li>
						<li class="nav-prac-why">
							<a href="/Drug-Charges.html">Drug<br /> Crimes
							</a>
						</li>
						<li class="nav-prac-traf">
							<a href="/Traffic-Offenses/Speeding-Tickets.html">Traffic Offenses/Violations</a>
						</li>
						<li class="nav-prac-seri">
							<a href="/Serious-Felony-Crimes.html">Serious Felony<br /> Crimes</a>
						</li>
						<li class="nav-prac-crimi">
							<a href="/Assault-And-Violent-Crimes.html">Domestic<br /> Violence</a>
						</li>
						<li class="togglebox-close">
							<a class="close" data-target="nav-practice" href="#">X Close</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="content-1-wrap">
			<div class="content-1-container">
				<div class="content-1-left">
					<img alt="Contextual" class="contextual1" src="/images/contextual1.jpg" />
				</div>
				<div class="content-1-right">
					<h1 class="page-title">
						Experienced Criminal Defense Attorney Protecting Your Rights
					</h1>
					<article class="content" id="content">
						<p>Our goal is reaching the best possible outcome for your situation, and we do that by
							empowering you during your interaction with the criminal justice system. Our attorney, James
							R. Dutton, works to make certain you understand your charges and your options.</p>
					</article>
				</div>
			</div>
		</div>
		<div class="atto-list-wrap">
			<div class="atto-list-container">
				<ul class="atto-list">
					<li class="item-first">
						<div class="atto-title-container">
							<h2>Our Team</h2>
						</div>
					</li>
					<li>
						<a href="/about_dutton_and_dutton.html">
							<img alt="James R. Dutton" src="/images/atto1.jpg" />
							<p>James R. Dutton
								<span>Attorney</span>
							</p>
						</a>
					</li>
                    <li>
                        <a href="/about_dutton_and_dutton.html">
                            <img src="/images/deb-headshot-small.jpg"
                                 alt="Debra B. Dutton"
                                 style="height: 200px;">
                            <p>Debra B. Dutton
                                <span>Attorney</span>
                            </p>
                        </a>
                    </li>
					<li>
						<a href="/about_dutton_and_dutton.html">
							<img alt="Ashley Culberson" src="/images/atto2.jpg" />
							<p> Ashley Culberson
								<span>Administrative Assistant</span>
							</p>
						</a>
					</li>
					<li class="item-last">
						<a href="/about_dutton_and_dutton.html">
							<img alt="Bridget Plott" src="/images/atto3.jpg" />
							<p>Bridget Plott
								<span>Certified Paralegal</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="content-2-wrap">
			<div class="content-2-container">
				<div class="content-2-left">
					<h2>What Is The Best Resolution For Your Charges?</h2>
					<p>The prospect of the loss of your liberty and being sent to jail or prison is very real during a
						criminal prosecution. It is essential that you have an attorney who can analyze your charges and
						work with you to develop an aggressive defense.</p>
				</div>
				<div class="content-2-right">
					<img alt="Contextual" class="contextual2" src="/images/contextual2.jpg" />
				</div>
			</div>
		</div>
		<div class="testinomial-wrap">
			<div class="testinomial-container">
				<ul class="testinomial">
					<li class="item-first">âHe's a good man with integrity that I'd trust with my life.â
						<span>- Seth Monson</span>
					</li>
					<li>âHis character and nature is exactly what the judicial system needs.â
						<span>- Paige Dorton</span>
					</li>
				</ul>
				<a class="btn-testi" href="/Testimonials/">View More Testimonials</a>
			</div>
		</div>
		<div class="content-3-wrap">
			<div class="content-3-container">
				<div class="content-3-left">
					<img alt="Contextual" class="contextual3" src="/images/contextual3.jpg" />
				</div>
				<div class="content-3-right">
					<h2>Contact Us Today To Protect Your Rights</h2>
					<p>Once you are under arrest, every interaction with police carries a risk that you may say
						something that could inadvertently damage your defense. When you hire James R. Dutton, Attorney
						at Law, in Griffin, Georgia, you no longer are subject to interrogation. Our lawyer will be your
						voice and represent your interests. Call 770-229-5959 now or
						<a href="/Contact.html">send us an email</a>.
					</p>
				</div>
			</div>
		</div>
		<a class="btn-short-form" href="/Contact.html"><span aria-hidden="true" class="fa fa-envelope"> </span>Email Us
			For A Response</a>
		{{> main-footer}}
	</div>
	<link as="style"
		  href="https://www.jamesrdutton.com/google-fonts/css?family=Arimo:400,700|Open+Sans:400,400i,600,700|PT+Serif:400,700|Playfair+Display:400,700"
		  onload="this.rel='stylesheet'" rel="preload" />
     {{> scripts}}
</body>